Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

push openstack populator image
  .github/workflows/build-push-images.yml
Owners: @ahadas

push openstack populator image
  .github/workflows/build-push-images.yml
Owners: @ahadas

Enable feature_ui_plugin by default
  operator/roles/forkliftcontroller/defaults/main.yml
Owners: @mnecas

Enable feature_ui_plugin by default
  operator/roles/forkliftcontroller/defaults/main.yml
Owners: @mnecas

Enable feature_ui_plugin by default
  operator/roles/forkliftcontroller/defaults/main.yml
Owners: @mnecas

Fixing redundant CA cert retrival when both CA have different line counts
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
Owners: @ahadas

refactor ovirt-cert-mutator
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
Owners: @ahadas

Adding security context to volume populator
  go.mod
  go.sum
  vendor/github.com/kubev2v/lib-volume-populator/populator-machinery/controller.go
  vendor/modules.txt
Owners: @ahadas

refactor ovirt-cert-mutator
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
Owners: @ahadas

Fixing redundant CA cert retrival when both CA have different line counts
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
Owners: @ahadas

Fixing redundant CA cert retrival when both CA have different line counts
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
Owners: @ahadas

refactor ovirt-cert-mutator
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
Owners: @ahadas

Handle the case volumeMode is omitted from StorageProfile
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

operator: Disable old ui by default
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
  operator/config/samples/forklift_v1beta1_forkliftcontroller.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
Owners: @mnecas

Adding security context to volume populator
  go.mod
  go.sum
  vendor/github.com/kubev2v/lib-volume-populator/populator-machinery/controller.go
  vendor/modules.txt
Owners: @ahadas

Adding security context to volume populator
  go.mod
  go.sum
  vendor/github.com/kubev2v/lib-volume-populator/populator-machinery/controller.go
  vendor/modules.txt
Owners: @ahadas

operator: Disable old ui by default
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
  operator/config/samples/forklift_v1beta1_forkliftcontroller.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
Owners: @mnecas

operator: Disable old ui by default
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
  operator/config/samples/forklift_v1beta1_forkliftcontroller.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
Owners: @mnecas

Rename insecure secret key to insecureSkipVerify in openstack to macth the secret key in vmware and ovirt
  cmd/openstack-populator/openstack-populator.go
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Update console plugin display name
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/ui-plugin/console-plugin.yml.j2
Owners: @mnecas

Rename insecure secret key to insecureSkipVerify in openstack to macth the secret key in vmware and ovirt
  cmd/openstack-populator/openstack-populator.go
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Rename insecure secret key to insecureSkipVerify in openstack to macth the secret key in vmware and ovirt
  cmd/openstack-populator/openstack-populator.go
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Create the relevant secret for populator
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Update console plugin display name
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/ui-plugin/console-plugin.yml.j2
Owners: @mnecas

Update console plugin display name
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/ui-plugin/console-plugin.yml.j2
Owners: @mnecas

Create the relevant secret for populator
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Create the relevant secret for populator
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Cleanup in creation of secret for data transfers
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Replace Openstack's secret builder with copyDataFromProviderSecret
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas, @bennyz, @mmartinv

Do not set 'kubevirt.io/schedulable' when VirtV2vDontRequestKVM is set
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Add missing connection fail phase
  pkg/apis/forklift/v1beta1/zz_generated.deepcopy.go
  pkg/controller/provider/validation.go
Owners: @ahadas

Cleanup in creation of secret for data transfers
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Replace Openstack's secret builder with copyDataFromProviderSecret
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas, @bennyz, @mmartinv

Replace Openstack's secret builder with copyDataFromProviderSecret
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas, @bennyz, @mmartinv

Cleanup in creation of secret for data transfers
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

operator: Add ui_plugin_state
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

operator: Add ui_plugin_state
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

operator: Add ui_plugin_state
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

move lib-volume-populator into forklift
  cmd/populator-controller/BUILD.bazel
  cmd/populator-controller/populator-controller.go
  go.mod
  go.sum
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/controller.go
  pkg/lib-volume-populator/populator-machinery/metrics.go
  vendor/github.com/kubev2v/lib-volume-populator/LICENSE
  vendor/github.com/kubev2v/lib-volume-populator/populator-machinery/BUILD.bazel
  vendor/modules.txt
Owners: @ahadas

add metrics_test
  pkg/lib-volume-populator/populator-machinery/metrics_test.go
Owners: @ahadas
