Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

ovirt: fix ovirt-populator build
  hack/ovirt-populator/Containerfile
Owners: @ahadas

Register gob types
  go.mod
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/lib/filebacked/doc.go
  tests/suit/framework/BUILD.bazel
  vendor/modules.txt
Owners: @ahadas, @eslutsky, @liranr23

register kubevirt types
  tests/suit/framework/framework.go
Owners: @ahadas, @eslutsky, @liranr23

Register gob types
  go.mod
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/lib/filebacked/doc.go
  tests/suit/framework/BUILD.bazel
  vendor/modules.txt
Owners: @ahadas, @eslutsky, @liranr23

register kubevirt types
  tests/suit/framework/framework.go
Owners: @ahadas, @eslutsky, @liranr23

openstack: Fix openstack client in Plan adapter
  pkg/controller/plan/adapter/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: Fix openstack client in Plan adapter
  pkg/controller/plan/adapter/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

ovirt: fix ovirt-populator build
  hack/ovirt-populator/Containerfile
Owners: @ahadas

ovirt: fix ovirt-populator build
  hack/ovirt-populator/Containerfile
Owners: @ahadas

Drop standalone UI
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
  operator/config/samples/forklift_v1beta1_forkliftcontroller.yaml
  operator/docs/development.md
  operator/docs/k8s.md
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/ui/configmap-ui.yml.j2
  operator/roles/forkliftcontroller/templates/ui/deployment-ui.yml.j2
  operator/roles/forkliftcontroller/templates/ui/oauthclient-ui.yml.j2
  operator/roles/forkliftcontroller/templates/ui/route-ui.yml.j2
  operator/roles/forkliftcontroller/templates/ui/service-ui.yml.j2
Owners: @mnecas

Cleanup in operator tasks
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

fix wording: any host devices -> any host device
  validation/policies/io/konveyor/forklift/openstack/host_devices.rego
  validation/policies/io/konveyor/forklift/ovirt/host_devices.rego
Owners: @ahadas, @bennyz, @mmartinv

fix wording: any host devices -> any host device
  validation/policies/io/konveyor/forklift/openstack/host_devices.rego
  validation/policies/io/konveyor/forklift/ovirt/host_devices.rego
Owners: @ahadas, @bennyz, @mmartinv

fix wording: any host devices -> any host device
  validation/policies/io/konveyor/forklift/openstack/host_devices.rego
  validation/policies/io/konveyor/forklift/ovirt/host_devices.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: update validation rules
  validation/policies/io/konveyor/forklift/openstack/bios_boot_menu.rego
  validation/policies/io/konveyor/forklift/openstack/cpu_shares.rego
  validation/policies/io/konveyor/forklift/openstack/host_devices.rego
  validation/policies/io/konveyor/forklift/ovirt/bios_boot_menu.rego
  validation/policies/io/konveyor/forklift/ovirt/cpu_shares.rego
  validation/policies/io/konveyor/forklift/ovirt/host_devices.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: update validation rules
  validation/policies/io/konveyor/forklift/openstack/bios_boot_menu.rego
  validation/policies/io/konveyor/forklift/openstack/cpu_shares.rego
  validation/policies/io/konveyor/forklift/openstack/host_devices.rego
  validation/policies/io/konveyor/forklift/ovirt/bios_boot_menu.rego
  validation/policies/io/konveyor/forklift/ovirt/cpu_shares.rego
  validation/policies/io/konveyor/forklift/ovirt/host_devices.rego
Owners: @ahadas, @bennyz, @mmartinv

Drop standalone UI
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
  operator/config/samples/forklift_v1beta1_forkliftcontroller.yaml
  operator/docs/development.md
  operator/docs/k8s.md
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/ui/configmap-ui.yml.j2
  operator/roles/forkliftcontroller/templates/ui/deployment-ui.yml.j2
  operator/roles/forkliftcontroller/templates/ui/oauthclient-ui.yml.j2
  operator/roles/forkliftcontroller/templates/ui/route-ui.yml.j2
  operator/roles/forkliftcontroller/templates/ui/service-ui.yml.j2
Owners: @mnecas

Cleanup in operator tasks
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

Drop standalone UI
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
  operator/config/samples/forklift_v1beta1_forkliftcontroller.yaml
  operator/docs/development.md
  operator/docs/k8s.md
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/ui/configmap-ui.yml.j2
  operator/roles/forkliftcontroller/templates/ui/deployment-ui.yml.j2
  operator/roles/forkliftcontroller/templates/ui/oauthclient-ui.yml.j2
  operator/roles/forkliftcontroller/templates/ui/route-ui.yml.j2
  operator/roles/forkliftcontroller/templates/ui/service-ui.yml.j2
Owners: @mnecas

Cleanup in operator tasks
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

openstack: remove os_glance properties from volume before uploading
  go.mod
  go.sum
  pkg/controller/plan/adapter/openstack/builder.go
  vendor/github.com/gophercloud/gophercloud/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/README.md
  vendor/github.com/gophercloud/gophercloud/errors.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/urls.go
  vendor/github.com/gophercloud/gophercloud/provider_client.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

openstack: catch ErrUnexpectedResponseCode
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: Fix bailing on error in PreTransferActions
  pkg/controller/plan/migration.go
Owners: @ahadas

openstack: remove os_glance properties from volume before uploading
  go.mod
  go.sum
  pkg/controller/plan/adapter/openstack/builder.go
  vendor/github.com/gophercloud/gophercloud/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/README.md
  vendor/github.com/gophercloud/gophercloud/errors.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/urls.go
  vendor/github.com/gophercloud/gophercloud/provider_client.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

openstack: remove os_glance properties from volume before uploading
  go.mod
  go.sum
  pkg/controller/plan/adapter/openstack/builder.go
  vendor/github.com/gophercloud/gophercloud/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/README.md
  vendor/github.com/gophercloud/gophercloud/errors.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/urls.go
  vendor/github.com/gophercloud/gophercloud/provider_client.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

openstack: Fix bailing on error in PreTransferActions
  pkg/controller/plan/migration.go
Owners: @ahadas

openstack: catch ErrUnexpectedResponseCode
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: Fix bailing on error in PreTransferActions
  pkg/controller/plan/migration.go
Owners: @ahadas

openstack: catch ErrUnexpectedResponseCode
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack-populator: support new authentication types
  cmd/openstack-populator/openstack-populator.go
Owners: @ahadas, @bennyz, @mmartinv

openstack-populator: support new authentication types
  cmd/openstack-populator/openstack-populator.go
Owners: @ahadas, @bennyz, @mmartinv

openstack-populator: support new authentication types
  cmd/openstack-populator/openstack-populator.go
Owners: @ahadas, @bennyz, @mmartinv

Source code verifications on CI
  Makefile
  hack/verify-generate.sh
Owners: @ahadas

Fix formatting and add missing auto-generated code
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/plan/migration.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/provider-admitter.go
Owners: @ahadas

Source code verifications on CI
  Makefile
  hack/verify-generate.sh
Owners: @ahadas

Fix formatting and add missing auto-generated code
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/plan/migration.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/provider-admitter.go
Owners: @ahadas

Source code verifications on CI
  Makefile
  hack/verify-generate.sh
Owners: @ahadas

Fix formatting and add missing auto-generated code
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/plan/migration.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/provider-admitter.go
Owners: @ahadas

ovirt: Add bootable attribute to the provider
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/provider/container/ovirt/resource.go
  pkg/controller/provider/model/ovirt/model.go
Owners: @ahadas

ovirt: Add bootable attribute to the provider
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/provider/container/ovirt/resource.go
  pkg/controller/provider/model/ovirt/model.go
Owners: @ahadas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
