Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

OVA: changing nfs mount to server and conversion pod to use shared PVC
  pkg/controller/plan/kubevirt.go
  pkg/controller/provider/BUILD.bazel
  pkg/controller/provider/container/ova/client.go
  pkg/controller/provider/controller.go
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

bump bazel and images releases
  .github/workflows/pull-request.yml
  Makefile
  WORKSPACE
  cmd/ova-provider-server/BUILD.bazel
  hack/ova-provider-server/BUILD.bazel
  hack/ova-provider-server/Containerfile
  hack/ovirt-populator/Containerfile
  openstack_populator_containerfile
  operator/BUILD.bazel
  ova_provider_server_containerfile
  ovirt_populator_containerfile
  vendor/golang.org/x/sys/windows/BUILD.bazel
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

Delete PVC and PV from destination namespace when the plan is archived
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

minor changes for ova-provider creation
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

minor cleanup to recent OVA related changes
  pkg/controller/plan/migration.go
  pkg/controller/provider/controller.go
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

backport https://github.com/kubev2v/forklift/pull/592 to 2.5.1
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/BUILD.bazel
  pkg/controller/provider/container/ova/client.go
  pkg/controller/provider/controller.go
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

OVA: changing nfs mount to server and conversion pod to use shared PVC
  pkg/controller/plan/kubevirt.go
  pkg/controller/provider/BUILD.bazel
  pkg/controller/provider/container/ova/client.go
  pkg/controller/provider/controller.go
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

OVA: changing nfs mount to server and conversion pod to use shared PVC
  pkg/controller/plan/kubevirt.go
  pkg/controller/provider/BUILD.bazel
  pkg/controller/provider/container/ova/client.go
  pkg/controller/provider/controller.go
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Refactoring the OVA NFS
  pkg/controller/plan/kubevirt.go
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Delete PVC and PV from destination namespace when the plan is archived
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

minor cleanup to recent OVA related changes
  pkg/controller/plan/migration.go
  pkg/controller/provider/controller.go
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Delete PVC and PV from destination namespace when the plan is archived
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

minor changes for ova-provider creation
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Refactoring the OVA NFS
  pkg/controller/plan/kubevirt.go
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

minor changes for ova-provider creation
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

minor cleanup to recent OVA related changes
  pkg/controller/plan/migration.go
  pkg/controller/provider/controller.go
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Change PVC bining pooling to match v2.5.1 wait version for backport https://github.com/kubev2v/forklift/pull/592
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

change ansible k8s dep
  Makefile
  operator/config/default/kustomization.yaml
  operator/config/default/manager_auth_proxy_patch.yaml
  operator/config/rbac/role.yaml
  operator/config/testing/kustomization.yaml
  operator/molecule/default/converge.yml
  operator/molecule/default/destroy.yml
  operator/molecule/default/kustomize.yml
  operator/molecule/default/molecule.yml
  operator/molecule/default/tasks/forkliftcontroller_test.yml
  operator/molecule/kind/molecule.yml
  operator/requirements.yml
  operator/roles/forkliftcontroller/meta/main.yml
  operator/roles/forkliftcontroller/tasks/cleanup.yml
  operator/roles/forkliftcontroller/tasks/main.yml
  pkg/forklift-api/webhooks/mutating-webhook/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutating-webhook.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/plan-mutator.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/secret-mutator.go
  pkg/forklift-api/webhooks/util/BUILD.bazel
  pkg/forklift-api/webhooks/util/util.go
  pkg/forklift-api/webhooks/validating-webhook/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/provider-admitter.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
  pkg/forklift-api/webhooks/validating-webhook/validating-webhook.go
Owners: @ahadas, @mnecas

Clean importer pods on success
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

backport https://github.com/kubev2v/forklift/pull/592 to 2.5.1
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/BUILD.bazel
  pkg/controller/provider/container/ova/client.go
  pkg/controller/provider/controller.go
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Change PVC bining pooling to match v2.5.1 wait version for backport https://github.com/kubev2v/forklift/pull/592
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Clean importer pods on success
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Clean importer pods on success
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

futher changes
  docs/hooks.md
  operator/molecule/default/verify.yml
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @ahadas, @mnecas

add layer to the operator image
  WORKSPACE
  operator/BUILD.bazel
Owners: @ahadas, @mnecas

Bazelify ova-provider
  Makefile
  cmd/ova-provider-server/BUILD.bazel
  hack/ova-provider-server/BUILD.bazel
  hack/ova-provider-server/Containerfile
  hack/ovirt-populator/Containerfile
  openstack_populator_containerfile
  ova_provider_server_containerfile
  ovirt_populator_containerfile
Owners: @ahadas, @bennyz, @mmartinv

Bazelify ova-provider
  Makefile
  cmd/ova-provider-server/BUILD.bazel
  hack/ova-provider-server/BUILD.bazel
  hack/ova-provider-server/Containerfile
  hack/ovirt-populator/Containerfile
  openstack_populator_containerfile
  ova_provider_server_containerfile
  ovirt_populator_containerfile
Owners: @ahadas, @bennyz, @mmartinv

Bazelify ova-provider
  Makefile
  cmd/ova-provider-server/BUILD.bazel
  hack/ova-provider-server/BUILD.bazel
  hack/ova-provider-server/Containerfile
  hack/ovirt-populator/Containerfile
  openstack_populator_containerfile
  ova_provider_server_containerfile
  ovirt_populator_containerfile
Owners: @ahadas, @bennyz, @mmartinv

Drop goproxy from the WORKSPACE
  WORKSPACE
Owners: @ahadas

Bump version to 2.5.2
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

Bump version to 2.5.2
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

Bump v2v RPMs
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

Bump v2v RPMs
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

Drop goproxy from the WORKSPACE
  WORKSPACE
Owners: @ahadas

Drop goproxy from the WORKSPACE
  WORKSPACE
Owners: @ahadas

Bump go version to 1.20
  .github/workflows/pull-request.yml
  WORKSPACE
  go.mod
  vendor/golang.org/x/sys/windows/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/WORKSPACE
Owners: @ahadas, @nyoxi

Bump go version to 1.20
  .github/workflows/pull-request.yml
  WORKSPACE
  go.mod
  vendor/golang.org/x/sys/windows/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/WORKSPACE
Owners: @ahadas, @nyoxi

Bump go version to 1.20
  .github/workflows/pull-request.yml
  WORKSPACE
  go.mod
  vendor/golang.org/x/sys/windows/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/WORKSPACE
Owners: @ahadas, @nyoxi

Fix the build of virt-v2v images
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

Fix the build of virt-v2v images
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi
