Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

remove logger_test
  go.sum
  pkg/lib/logging/BUILD.bazel
  pkg/lib/logging/logger_test.go
Owners: @ahadas

bump go-ovirt
  go.mod
  go.sum
  vendor/github.com/ovirt/go-ovirt/error.go
  vendor/github.com/ovirt/go-ovirt/readers.go
  vendor/github.com/ovirt/go-ovirt/services.go
  vendor/github.com/ovirt/go-ovirt/types.go
  vendor/github.com/ovirt/go-ovirt/version.go
  vendor/github.com/ovirt/go-ovirt/writers.go
  vendor/modules.txt
Owners: @ahadas

rebase
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
Owners: @ahadas

rebase
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
Owners: @ahadas

rebase
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
Owners: @ahadas

fix logger
  pkg/lib/logging/factory.go
Owners: @ahadas

remove version pinning for gnostic
  go.mod
  go.sum
  vendor/modules.txt
Owners: @ahadas

remove logger_test
  go.sum
  pkg/lib/logging/BUILD.bazel
  pkg/lib/logging/logger_test.go
Owners: @ahadas

resolve conflicts
  go.mod
  go.sum
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/ova/BUILD.bazel
  pkg/controller/provider/container/ova/client.go
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ova/model.go
  pkg/controller/provider/container/ova/watch.go
  pkg/controller/provider/controller.go
  pkg/lib/client/openstack/BUILD.bazel
  pkg/lib/client/openstack/client.go
  vendor/k8s.io/apimachinery/pkg/runtime/converter.go
  vendor/k8s.io/apimachinery/pkg/util/wait/loop.go
  vendor/k8s.io/client-go/util/cert/cert.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

resolve conflicts
  go.mod
  go.sum
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/ova/BUILD.bazel
  pkg/controller/provider/container/ova/client.go
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ova/model.go
  pkg/controller/provider/container/ova/watch.go
  pkg/controller/provider/controller.go
  pkg/lib/client/openstack/BUILD.bazel
  pkg/lib/client/openstack/client.go
  vendor/k8s.io/apimachinery/pkg/runtime/converter.go
  vendor/k8s.io/apimachinery/pkg/util/wait/loop.go
  vendor/k8s.io/client-go/util/cert/cert.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

remove logger_test
  go.sum
  pkg/lib/logging/BUILD.bazel
  pkg/lib/logging/logger_test.go
Owners: @ahadas

fix dataSourceRef for ovirt
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

fix logger
  pkg/lib/logging/factory.go
Owners: @ahadas

fix dataSourceRef for ovirt
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

bump go-ovirt
  go.mod
  go.sum
  vendor/github.com/ovirt/go-ovirt/error.go
  vendor/github.com/ovirt/go-ovirt/readers.go
  vendor/github.com/ovirt/go-ovirt/services.go
  vendor/github.com/ovirt/go-ovirt/types.go
  vendor/github.com/ovirt/go-ovirt/version.go
  vendor/github.com/ovirt/go-ovirt/writers.go
  vendor/modules.txt
Owners: @ahadas

bump go-ovirt
  go.mod
  go.sum
  vendor/github.com/ovirt/go-ovirt/error.go
  vendor/github.com/ovirt/go-ovirt/readers.go
  vendor/github.com/ovirt/go-ovirt/services.go
  vendor/github.com/ovirt/go-ovirt/types.go
  vendor/github.com/ovirt/go-ovirt/version.go
  vendor/github.com/ovirt/go-ovirt/writers.go
  vendor/modules.txt
Owners: @ahadas

remove version pinning for gnostic
  go.mod
  go.sum
  vendor/modules.txt
Owners: @ahadas

ovirt: use go-ovirt ConflictErr instead of string check
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ocp: fix storage mapping validation
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: preserve boot order for disks
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ovirt: use go-ovirt ConflictErr instead of string check
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt: use go-ovirt ConflictErr instead of string check
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ocp: add logger to validator
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: preserve boot order for disks
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: preserve boot order for disks
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: copy loop var when iterating over interfaces
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: add logger to validator
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: fix storage mapping validation
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: fix storage mapping validation
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: add logger to validator
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: preserve boot order for disks
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: fix storage mapping validation
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: add logger to validator
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: preserve boot order for disks
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: fix storage mapping validation
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: add logger to validator
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: copy loop var when iterating over interfaces
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: copy loop var when iterating over interfaces
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: copy loop var when iterating over interfaces
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

Fix configuration for disabling EMS check with FIPS
  virt-v2v/cold/BUILD.bazel
Owners: @nyoxi
