Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

support storageclasses in tests
  .github/workflows/pull-request.yml
  tests/suit/BUILD.bazel
  tests/suit/framework/ovirt.go
  tests/suit/ovirt_test.go
  tests/suit/utils/storagemap.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

bazel update
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/base/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/vsphere/BUILD.bazel
Owners: @ahadas

fix the step and phasing
  pkg/controller/plan/migration.go
Owners: @ahadas

propagate errors in getting storage profile modes
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

fix the step and phasing
  pkg/controller/plan/migration.go
Owners: @ahadas

switch ovirt image populator placement
  pkg/apis/forklift/v1beta1/ovirtimagevolumepopulator.go
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

bazel update
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/base/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/vsphere/BUILD.bazel
Owners: @ahadas

change integration to current code
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/base/BUILD.bazel
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/vsphere/BUILD.bazel
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

ovirt: Use volume populator for cold migration
  pkg/apis/forklift/v1beta1/ovirtimagevolumepopulator.go
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Change the populator pod namespace
  cmd/ovirt-populator/BUILD.bazel
  cmd/ovirt-populator/ovirt-populator.go
  go.mod
  go.sum
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  vendor/github.com/kubev2v/lib-volume-populator/populator-machinery/controller.go
  vendor/modules.txt
Owners: @ahadas

proceed if populator CR already exists
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

remove namespace args
  cmd/openstack-populator/openstack-populator.go
Owners: @ahadas, @bennyz, @mmartinv

add missing method
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

fix messed up deps
  go.mod
  go.sum
  vendor/github.com/kubev2v/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

fix conversion for ovirt
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

fix getPVCs messed up merge
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Adding insecure migration from RHV
  cmd/ovirt-populator/ovirt-populator.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
Owners: @ahadas

address comments
  cmd/openstack-populator/openstack-populator.go
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas, @bennyz, @mmartinv

Check volumeMode before setting the size and update lib-volume-populator
  cmd/openstack-populator/BUILD.bazel
  go.mod
  go.sum
  pkg/controller/plan/adapter/openstack/builder.go
  vendor/github.com/kubev2v/lib-volume-populator/populator-machinery/controller.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

Fix the access modes to the PVC
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Adding insecure migration from RHV
  cmd/ovirt-populator/ovirt-populator.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
Owners: @ahadas

Adding insecure migration from RHV
  cmd/ovirt-populator/ovirt-populator.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
Owners: @ahadas

Fix the access modes to the PVC
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix the access modes to the PVC
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Limit Region/Project sync to token scope
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Implement the tree endpoint
  pkg/controller/provider/web/openstack/base.go
Owners: @ahadas, @bennyz, @mmartinv

vol-pop: Always use CR namespace
  cmd/populator-controller/populator-controller.go
  vendor/github.com/kubev2v/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

Implement the tree endpoint
  pkg/controller/provider/web/openstack/base.go
Owners: @ahadas, @bennyz, @mmartinv

Limit Region/Project sync to token scope
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Implement the tree endpoint
  pkg/controller/provider/web/openstack/base.go
Owners: @ahadas, @bennyz, @mmartinv

Implement the tree endpoint
  pkg/controller/provider/web/openstack/BUILD.bazel
  pkg/controller/provider/web/openstack/base.go
  pkg/controller/provider/web/openstack/doc.go
  pkg/controller/provider/web/openstack/tree.go
Owners: @ahadas, @bennyz, @mmartinv

Limit Region/Project sync to token scope
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Implement the tree endpoint
  pkg/controller/provider/web/openstack/BUILD.bazel
  pkg/controller/provider/web/openstack/base.go
  pkg/controller/provider/web/openstack/doc.go
  pkg/controller/provider/web/openstack/tree.go
Owners: @ahadas, @bennyz, @mmartinv

use latest lib-volume-populator
  go.mod
  go.sum
  vendor/github.com/kubev2v/lib-volume-populator/populator-machinery/controller.go
  vendor/modules.txt
Owners: @ahadas

vol-pop: Always use CR namespace (#186)
  cmd/populator-controller/populator-controller.go
  go.mod
  go.sum
  vendor/github.com/kubev2v/lib-volume-populator/populator-machinery/controller.go
  vendor/modules.txt
Owners: @ahadas

vol-pop: Always use CR namespace (#186)
  cmd/populator-controller/populator-controller.go
  go.mod
  go.sum
  vendor/github.com/kubev2v/lib-volume-populator/populator-machinery/controller.go
  vendor/modules.txt
Owners: @ahadas

Short names for OpenStack/oVirt volume populators
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

Short names for OpenStack/oVirt volume populators
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

Short names for OpenStack/oVirt volume populators
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

push openstack populator image
  .github/workflows/build-push-images.yml
Owners: @ahadas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
