Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

ovirt: recover goroutine in case of panic to avoid crashing the pod
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt: limit snapshot cleanup to warm migrations only
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt: recover goroutine in case of panic to avoid crashing the pod
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt: recover goroutine in case of panic to avoid crashing the pod
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt: limit snapshot cleanup to warm migrations only
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Add insecure test for ovirt connection
  .github/workflows/pull-request.yml
  tests/suit/forklift_test.go
  tests/suit/framework/ovirt.go
  tests/suit/ovirt_test.go
  tests/suit/tests_suite_test.go
Owners: @ahadas, @eslutsky, @liranr23

Fix ca passing as a var for insecure flow
  cmd/openstack-populator/openstack-populator.go
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas, @bennyz, @mmartinv

Add insecure test for ovirt connection
  .github/workflows/pull-request.yml
  tests/suit/forklift_test.go
  tests/suit/framework/ovirt.go
  tests/suit/ovirt_test.go
  tests/suit/tests_suite_test.go
Owners: @ahadas, @eslutsky, @liranr23

Add insecure test for ovirt connection
  .github/workflows/pull-request.yml
  tests/suit/forklift_test.go
  tests/suit/framework/ovirt.go
  tests/suit/ovirt_test.go
  tests/suit/tests_suite_test.go
Owners: @ahadas, @eslutsky, @liranr23

Fix ca passing as a var for insecure flow
  cmd/openstack-populator/openstack-populator.go
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas, @bennyz, @mmartinv

Fix ca passing as a var for insecure flow
  cmd/openstack-populator/openstack-populator.go
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas, @bennyz, @mmartinv

openstack fail early if the root CA is malformed
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

refactor and cleanup
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack fail early if the root CA is malformed
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack fail early if the root CA is malformed
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

refactor and cleanup
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

refactor and cleanup
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Add default host provider after starting forklift-api
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

Add default host provider after starting forklift-api
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

Add default host provider after starting forklift-api
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

vol-pop: backport empty apiGroup check
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

vol-pop: backport empty apiGroup check
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

vol-pop: backport empty apiGroup check
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

Minor cleanup
  pkg/controller/plan/controller.go
Owners: @ahadas

Better explanation for restoring plan's referenced data
  pkg/controller/plan/controller.go
Owners: @ahadas

Fix transition of plans back to Ready state
  pkg/controller/plan/controller.go
Owners: @ahadas

bump CI to version 3.0
  .github/workflows/pull-request.yml
Owners: @ahadas

transition pull-request to composite shared actions from CI
  .github/workflows/pull-request.yml
Owners: @ahadas

vol-pop: backport empty apiGroup check
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

virt-v2v: Build our own fixed appliance (Fixes #226)
  .bazelrc
  virt-v2v/cold/.bazerlc
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @ahadas, @nyoxi

bump the centos9 image
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

Fix centos9 image SHA
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

virt-v2: cold: use tag instead of digest for CentOS image
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

virt-v2v: cold: do not use glibc-2.34-66
  virt-v2v/cold/BUILD.bazel
Owners: @nyoxi

Change image tag for appliance build to 'stream9'
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

Bump dependencies of virt-v2v
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

Better explanation for restoring plan's referenced data
  pkg/controller/plan/controller.go
Owners: @ahadas

Fix transition of plans back to Ready state
  pkg/controller/plan/controller.go
Owners: @ahadas

Minor cleanup
  pkg/controller/plan/controller.go
Owners: @ahadas

Fix transition of plans back to Ready state
  pkg/controller/plan/controller.go
Owners: @ahadas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
