Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

CDI should copy disks from vSphere to remove clusters
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

openstack: use the REST resource for lookup when finalizing
  pkg/controller/plan/adapter/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: use the REST resource for lookup when finalizing
  pkg/controller/plan/adapter/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: use the REST resource for lookup when finalizing
  pkg/controller/plan/adapter/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

CDI should copy disks from vSphere to remove clusters
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

CDI should copy disks from vSphere to remove clusters
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

Bind PVC to warm or not local WaitForFirstConsumer
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

openstack: use the REST resource for lookup when finalizing
  pkg/controller/plan/adapter/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: check the migration label value
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

openstack: check the migration label value
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

openstack: use the REST resource for lookup when finalizing
  pkg/controller/plan/adapter/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Bind PVC to warm or not local WaitForFirstConsumer
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Bind PVC to warm or not local WaitForFirstConsumer
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

CDI should copy disks from vSphere to remove clusters
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

CDI should copy disks from vSphere to remove clusters
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

Refactor mutating webhook to support all providers
  et --hard HEAD^
  pkg/forklift-api/api.go
  pkg/forklift-api/webhooks/mutating-webhook.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/secret-mutator.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/secret-mutator_test.go
  pkg/forklift-api/webhooks/webhooks.go
Owners: @ahadas

Delete et --hard HEAD^
  et --hard HEAD^
Owners: @ahadas

Delete et --hard HEAD^
  et --hard HEAD^
Owners: @ahadas

Refactor mutating webhook to support all providers
  et --hard HEAD^
  pkg/forklift-api/api.go
  pkg/forklift-api/webhooks/mutating-webhook.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/secret-mutator.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/secret-mutator_test.go
  pkg/forklift-api/webhooks/webhooks.go
Owners: @ahadas

Refactor mutating webhook to support all providers
  et --hard HEAD^
  pkg/forklift-api/api.go
  pkg/forklift-api/webhooks/mutating-webhook.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/secret-mutator.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/secret-mutator_test.go
  pkg/forklift-api/webhooks/webhooks.go
Owners: @ahadas

Delete et --hard HEAD^
  et --hard HEAD^
Owners: @ahadas

Bind PVC to warm or not local WaitForFirstConsumer
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Bind PVC to warm or not local WaitForFirstConsumer
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

openstack: error handling for snapshots and volumes
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

virt-v2v: make sure VM name is not confused for argument
  virt-v2v/cold/entrypoint
Owners: @nyoxi

openstack: Add missing virtual hardware constants
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: Map unsupported "vmxnet3" interface
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix graphics device mapping
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix graphics device mapping
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix graphics device mapping
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

virt-v2v: make sure VM name is not confused for argument
  virt-v2v/cold/entrypoint
Owners: @nyoxi

virt-v2v: make sure VM name is not confused for argument
  virt-v2v/cold/entrypoint
Owners: @nyoxi

openstack: fix graphics device mapping
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix graphics device mapping
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: Add missing virtual hardware constants
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: Map unsupported "vmxnet3" interface
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: Add missing virtual hardware constants
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: Map unsupported "vmxnet3" interface
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

Use patch instead of update to set PVC owner references
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Use patch instead of update to set PVC owner references
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
