Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

openstack: use size if virtual_size is not available
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

Update pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

Update pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: use size if virtual_size is not available
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

Update pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: use size if virtual_size is not available
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack populate SizeBytes
  pkg/controller/provider/web/openstack/image.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: add comment about SizeBytes field
  pkg/controller/provider/web/openstack/image.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: add comment about SizeBytes field
  pkg/controller/provider/web/openstack/image.go
Owners: @ahadas, @bennyz, @mmartinv

openstack populate SizeBytes
  pkg/controller/provider/web/openstack/image.go
Owners: @ahadas, @bennyz, @mmartinv

openstack populate SizeBytes
  pkg/controller/provider/web/openstack/image.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: use size if virtual_size is not available
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/provider/web/openstack/image.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: use size if virtual_size is not available
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/provider/web/openstack/image.go
Owners: @ahadas, @bennyz, @mmartinv

openstack populate SizeBytes
  pkg/controller/provider/web/openstack/image.go
Owners: @ahadas, @bennyz, @mmartinv

Set security context to v2v
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Set security context to v2v
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Set the pvc consumer with security context
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Set the pvc consumer with security context
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

operator: Add information about 4.12 ocp support
  operator/README.md
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

operator: Add information about 4.12 ocp support
  operator/README.md
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

Set security context to v2v
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Set the pvc consumer with security context
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Set the pvc consumer with security context
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Set security context to v2v
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix PVC consumer pod security
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

ovirt: only add 10% to PVC if volumeMode == Filesystem
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

update comment
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

ovirt: only add 10% to PVC if volumeMode == Filesystem
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

update comment
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

ovirt: only add 10% to PVC if volumeMode == Filesystem
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

update comment
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

Fix import of multi-volume VMs from vSphere
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix import of multi-volume VMs from vSphere
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix import of multi-volume VMs from vSphere
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix import of multi-volume VMs from vSphere
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix import of multi-volume VMs from vSphere
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix PVC consumer pod security
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix PVC consumer pod security
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix PVC consumer pod security
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Bump v2v RPM dependencies
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
