Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

Fix PVC consumer pod security
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Bump v2v RPM dependencies
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

Bump v2v RPM dependencies
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

Bump v2v RPM dependencies
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

virt-v2v: cold: extract the appliance if it is stored in compressed tar
  virt-v2v/cold/entrypoint
Owners: @nyoxi

Bump v2v RPM dependencies
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

virt-v2v: cold: extract the appliance if it is stored in compressed tar
  virt-v2v/cold/entrypoint
Owners: @nyoxi

virt-v2v: cold: extract the appliance if it is stored in compressed tar
  virt-v2v/cold/entrypoint
Owners: @nyoxi

Revert "virt-v2v: cold: extract the appliance if it is stored in compressed tar"
  virt-v2v/cold/entrypoint
Owners: @nyoxi

Revert "virt-v2v: cold: extract the appliance if it is stored in compressed tar"
  virt-v2v/cold/entrypoint
Owners: @nyoxi

Revert "virt-v2v: cold: extract the appliance if it is stored in compressed tar"
  virt-v2v/cold/entrypoint
Owners: @nyoxi

controller: vsphere: Use parent path for hosts without cluster
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

controller: vsphere: Use parent path for hosts without cluster
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

controller: vsphere: Use parent path for hosts without cluster
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

controller: vsphere: Use parent path for hosts without cluster
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

controller: vsphere: Use parent path for hosts without cluster
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

Fix defult setting for insecureSkipVerify
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

Add a comment about the consumer image
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Drop unused createdForResource and createdForResourceType labels
  tests/suit/ovirt_test.go
Owners: @ahadas, @eslutsky, @liranr23

Add a comment about the consumer image
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Add a comment about the consumer image
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

WIP POC parallel download
  cmd/openstack-populator/openstack-populator.go
Owners: @ahadas, @bennyz, @mmartinv

Fix defult setting for insecureSkipVerify
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

Fix defult setting for insecureSkipVerify
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

Fix default setting for insecureSkipVerify
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

operator: Fix console_plugins list in case there are no other plugins
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

operator: Fix console_plugins list in case there are no other plugins
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

operator: Fix console_plugins list in case there are no other plugins
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

Drop unused createdForResource and createdForResourceType labels
  tests/suit/ovirt_test.go
Owners: @ahadas, @eslutsky, @liranr23

Drop unused createdForResource and createdForResourceType labels
  tests/suit/ovirt_test.go
Owners: @ahadas, @eslutsky, @liranr23

openstack: remove log
  cmd/openstack-populator/openstack-populator.go
Owners: @ahadas, @bennyz, @mmartinv

Backport: operator: Fix console_plugins list in case there are no other plugins
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

Retrieve Flavor ExtraSpecs
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/container/openstack/resource.go
  pkg/controller/provider/model/openstack/model.go
  pkg/controller/provider/web/openstack/flavor.go
Owners: @ahadas, @bennyz, @mmartinv

Make use of coherent field names and omit some fields when empty
  pkg/controller/provider/web/openstack/flavor.go
  pkg/controller/provider/web/openstack/image.go
  pkg/controller/provider/web/openstack/network.go
  pkg/controller/provider/web/openstack/project.go
  pkg/controller/provider/web/openstack/region.go
  pkg/controller/provider/web/openstack/snapshot.go
  pkg/controller/provider/web/openstack/subnet.go
  pkg/controller/provider/web/openstack/vm.go
  pkg/controller/provider/web/openstack/volume.go
  pkg/controller/provider/web/openstack/volumetype.go
Owners: @ahadas, @bennyz, @mmartinv

Use Neutron API instead of Compute for networks
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/container/openstack/model.go
  pkg/controller/provider/container/openstack/resource.go
  pkg/controller/provider/model/openstack/model.go
  pkg/controller/provider/web/openstack/network.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/networks/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/networks/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/networks/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/networks/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/urls.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

Check error when retrieving the project
  pkg/controller/provider/web/openstack/base.go
Owners: @ahadas, @bennyz, @mmartinv

Move vm status definition to the model
  pkg/controller/provider/container/openstack/model.go
  pkg/controller/provider/container/openstack/resource.go
  pkg/controller/provider/model/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

Add Subnet type
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/container/openstack/model.go
  pkg/controller/provider/container/openstack/resource.go
  pkg/controller/provider/model/openstack/doc.go
  pkg/controller/provider/model/openstack/model.go
  pkg/controller/provider/model/openstack/tree.go
  pkg/controller/provider/web/openstack/BUILD.bazel
  pkg/controller/provider/web/openstack/doc.go
  pkg/controller/provider/web/openstack/subnet.go
  pkg/controller/provider/web/openstack/tree.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/subnets/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/subnets/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/subnets/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/subnets/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/subnets/urls.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

Backport: operator: Fix console_plugins list in case there are no other plugins
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

Workload enhancements
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/openstack/validator.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/provider/web/openstack/workload.go
Owners: @ahadas, @bennyz, @mmartinv

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
