Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

create layers
  Makefile
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  cmd/ovirt-populator/WORKSPACE
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

Cleanup bazelified ovirt populator
  cmd/ovirt-populator/WORKSPACE
  hack/ovirt-populator-rpm-deps.sh
Owners: @ahadas

reorder container_image fields
  cmd/ovirt-populator/BUILD.bazel
Owners: @ahadas

add rpmtree
  Makefile
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  cmd/ovirt-populator/deps.sh
Owners: @ahadas

add rpmtree
  Makefile
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  cmd/ovirt-populator/deps.sh
Owners: @ahadas

validation: fix openstack shared disk validation
  validation/policies/io/konveyor/forklift/openstack/shared_disk.rego
  validation/policies/io/konveyor/forklift/openstack/shared_disk_test.rego
Owners: @ahadas, @bennyz, @mmartinv

validation: fix openstack shared disk validation
  validation/policies/io/konveyor/forklift/openstack/shared_disk.rego
  validation/policies/io/konveyor/forklift/openstack/shared_disk_test.rego
Owners: @ahadas, @bennyz, @mmartinv

validation: fix openstack shared disk validation
  validation/policies/io/konveyor/forklift/openstack/shared_disk.rego
  validation/policies/io/konveyor/forklift/openstack/shared_disk_test.rego
Owners: @ahadas, @bennyz, @mmartinv

validation: fix openstack shared disk validation
  validation/policies/io/konveyor/forklift/openstack/shared_disk.rego
  validation/policies/io/konveyor/forklift/openstack/shared_disk_test.rego
Owners: @ahadas, @bennyz, @mmartinv

plan: check error returned by GetPopulatorTaskName
  pkg/controller/plan/migration.go
Owners: @ahadas

plan: check error returned by GetPopulatorTaskName
  pkg/controller/plan/migration.go
Owners: @ahadas

plan: check error returned by GetPopulatorTaskName
  pkg/controller/plan/migration.go
Owners: @ahadas

plan: check error returned by GetPopulatorTaskName
  pkg/controller/plan/migration.go
Owners: @ahadas

ocp: match Client k8sclient with Destination
  pkg/controller/plan/context/migration.go
Owners: @ahadas

ocp: use source client where needed
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/context/migration.go
Owners: @ahadas

plan: check error returned by GetPopulatorTaskName
  pkg/controller/plan/migration.go
Owners: @ahadas

ocp: Refactor client creation for OCP validator
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/ocp/validator.go
  pkg/controller/plan/context/migration.go
Owners: @ahadas

ocp: Refactor client creation for OCP validator
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/ocp/validator.go
  pkg/controller/plan/context/migration.go
Owners: @ahadas

ocp: use source client where needed
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/context/migration.go
Owners: @ahadas

ocp: use source client where needed
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/context/migration.go
Owners: @ahadas

ocp: match Client k8sclient with Destination
  pkg/controller/plan/context/migration.go
Owners: @ahadas

ocp: match Client k8sclient with Destination
  pkg/controller/plan/context/migration.go
Owners: @ahadas

ocp: Refactor client creation for OCP validator
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/ocp/validator.go
  pkg/controller/plan/context/migration.go
Owners: @ahadas

ocp: use source client where needed
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: use source client where needed
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

Change the storage mapping for OVA to general
  pkg/controller/plan/adapter/ova/validator.go
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ova/model.go
  pkg/controller/provider/container/ova/resource.go
  pkg/controller/provider/model/ova/doc.go
  pkg/controller/provider/model/ova/model.go
  pkg/controller/provider/model/ova/tree.go
  pkg/controller/provider/web/ova/BUILD.bazel
  pkg/controller/provider/web/ova/base.go
  pkg/controller/provider/web/ova/client.go
  pkg/controller/provider/web/ova/doc.go
  pkg/controller/provider/web/ova/provider.go
  pkg/controller/provider/web/ova/storage.go
  pkg/controller/provider/web/ova/tree.go
Owners: @ahadas

Change the storage mapping for OVA to general
  pkg/controller/plan/adapter/ova/validator.go
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ova/model.go
  pkg/controller/provider/container/ova/resource.go
  pkg/controller/provider/model/ova/doc.go
  pkg/controller/provider/model/ova/model.go
  pkg/controller/provider/model/ova/tree.go
  pkg/controller/provider/web/ova/BUILD.bazel
  pkg/controller/provider/web/ova/base.go
  pkg/controller/provider/web/ova/client.go
  pkg/controller/provider/web/ova/doc.go
  pkg/controller/provider/web/ova/provider.go
  pkg/controller/provider/web/ova/storage.go
  pkg/controller/provider/web/ova/tree.go
Owners: @ahadas

Change the storage mapping for OVA to general
  pkg/controller/plan/adapter/ova/validator.go
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ova/model.go
  pkg/controller/provider/container/ova/resource.go
  pkg/controller/provider/model/ova/doc.go
  pkg/controller/provider/model/ova/model.go
  pkg/controller/provider/model/ova/tree.go
  pkg/controller/provider/web/ova/BUILD.bazel
  pkg/controller/provider/web/ova/base.go
  pkg/controller/provider/web/ova/client.go
  pkg/controller/provider/web/ova/doc.go
  pkg/controller/provider/web/ova/provider.go
  pkg/controller/provider/web/ova/storage.go
  pkg/controller/provider/web/ova/tree.go
Owners: @ahadas

Exit when virt-v2v cold hit an error
  virt-v2v/cold/entrypoint
Owners: @nyoxi

Exit when virt-v2v cold hit an error
  virt-v2v/cold/entrypoint
Owners: @nyoxi

Exit when virt-v2v cold hit an error
  virt-v2v/cold/entrypoint
Owners: @nyoxi

Exit when virt-v2v cold hit an error
  virt-v2v/cold/entrypoint
Owners: @nyoxi

Exit when virt-v2v cold hit an error
  virt-v2v/cold/entrypoint
Owners: @nyoxi

OCP: add support for secrets and configmaps
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: address comments
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: make sure the volume is a PVC
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Change the storage mapping for OVA
  pkg/controller/plan/adapter/ova/validator.go
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ova/model.go
  pkg/controller/provider/container/ova/resource.go
  pkg/controller/provider/model/ova/doc.go
  pkg/controller/provider/model/ova/model.go
  pkg/controller/provider/model/ova/tree.go
  pkg/controller/provider/web/ova/BUILD.bazel
  pkg/controller/provider/web/ova/base.go
  pkg/controller/provider/web/ova/client.go
  pkg/controller/provider/web/ova/doc.go
  pkg/controller/provider/web/ova/provider.go
  pkg/controller/provider/web/ova/storage.go
  pkg/controller/provider/web/ova/tree.go
Owners: @ahadas

Change the storage mapping for OVA
  pkg/controller/plan/adapter/ova/validator.go
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ova/model.go
  pkg/controller/provider/container/ova/resource.go
  pkg/controller/provider/model/ova/doc.go
  pkg/controller/provider/model/ova/model.go
  pkg/controller/provider/model/ova/tree.go
  pkg/controller/provider/web/ova/BUILD.bazel
  pkg/controller/provider/web/ova/base.go
  pkg/controller/provider/web/ova/client.go
  pkg/controller/provider/web/ova/doc.go
  pkg/controller/provider/web/ova/provider.go
  pkg/controller/provider/web/ova/storage.go
  pkg/controller/provider/web/ova/tree.go
Owners: @ahadas

use --spawn_strategy=processwrapper-sandbox
  .bazelrc
Owners: @ahadas

use --spawn_strategy=processwrapper-sandbox
  .bazelrc
Owners: @ahadas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
