Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

ocp: add PoweredOff
  pkg/controller/plan/adapter/ocp/client.go
Owners: @ahadas

ocp: add builder
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: create DV
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

ocp: address review comments
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/validation/provider.go
Owners: @ahadas

ocp: add network mapping validations
  pkg/apis/forklift/v1beta1/mapping.go
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: add builder
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: upgrade deps in preparation for import VirtuaMachineExport
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  vendor/modules.txt
Owners: @ahadas

ocp: remove unenecessary resource
  operator/config/rbac/forklift-controller_role.yaml
Owners: @mnecas

ocp: use original VM spec
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: address code coverage comments and remove template labels
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

ocp: do not check secret for host provider
  pkg/controller/plan/context/migration.go
Owners: @ahadas

ocp: add storage map validation
  pkg/apis/forklift/v1beta1/mapping.go
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: full migration currently works
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

ocp: DV successfully imported
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

ocp: add skeleton for OCP provider
  pkg/apis/forklift/v1beta1/ref/ref.go
  pkg/controller/map/network/controller.go
  pkg/controller/map/network/validation.go
  pkg/controller/map/storage/controller.go
  pkg/controller/map/storage/validation.go
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/ocp/destinationclient.go
  pkg/controller/plan/adapter/ocp/validator.go
  pkg/controller/plan/scheduler/BUILD.bazel
  pkg/controller/plan/scheduler/doc.go
  pkg/controller/plan/scheduler/ocp/BUILD.bazel
  pkg/controller/plan/scheduler/ocp/scheduler.go
  pkg/controller/validation/provider.go
Owners: @ahadas

ocp: mark DV creation step as completed
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

ocp: start OCP source provider support
  pkg/controller/validation/provider.go
Owners: @ahadas

ocp: fix secret creation
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

ocp: add network mapping
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: mark DV creation step as completed
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

ocp: fix VM annotations
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

ocp: fix provider assignment
  pkg/controller/validation/provider.go
Owners: @ahadas

ocp: cleanup VMExport CR
  pkg/controller/plan/adapter/ocp/client.go
Owners: @ahadas

ocp: disk mapping works now
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: address review comments
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/validation/provider.go
Owners: @ahadas

ocp: support PowerOff
  pkg/controller/plan/adapter/ocp/client.go
Owners: @ahadas

ocp: add PowerState and PowerOn
  pkg/controller/plan/adapter/ocp/client.go
Owners: @ahadas

ocp: support PowerOff
  pkg/controller/plan/adapter/ocp/client.go
Owners: @ahadas

ocp: disk mapping works now
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: DV successfully imported
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

ocp: add network mapping
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: add namespace to ref
  operator/config/crd/bases/forklift.konveyor.io_hosts.yaml
  operator/config/crd/bases/forklift.konveyor.io_migrations.yaml
  operator/config/crd/bases/forklift.konveyor.io_networkmaps.yaml
  operator/config/crd/bases/forklift.konveyor.io_plans.yaml
  operator/config/crd/bases/forklift.konveyor.io_storagemaps.yaml
  pkg/apis/forklift/v1beta1/ref/ref.go
Owners: @mnecas, @ahadas

ocp: Use VM definition from manifest
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: fixed missed review comments
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/migration.go
Owners: @ahadas

ocp: resolve conflicts
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
Owners: @ahadas

ocp: Use VM definition from manifest
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: create VirtualMachineExport
  cmd/forklift-controller/BUILD.bazel
  cmd/forklift-controller/main.go
  operator/config/rbac/forklift-controller_role.yaml
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/BUILD.bazel
  pkg/controller/plan/adapter/doc.go
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/ocp/validator.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @mnecas

ocp: use original VM spec
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: fix VM annotations
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

ocp: add skeleton for OCP provider
  pkg/apis/forklift/v1beta1/ref/ref.go
  pkg/controller/map/network/controller.go
  pkg/controller/map/network/validation.go
  pkg/controller/map/storage/controller.go
  pkg/controller/map/storage/validation.go
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/ocp/destinationclient.go
  pkg/controller/plan/adapter/ocp/validator.go
  pkg/controller/plan/scheduler/BUILD.bazel
  pkg/controller/plan/scheduler/doc.go
  pkg/controller/plan/scheduler/ocp/BUILD.bazel
  pkg/controller/plan/scheduler/ocp/scheduler.go
  pkg/controller/validation/provider.go
Owners: @ahadas
