Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

ovirt: Add bootable attribute to the provider
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/provider/container/ovirt/resource.go
  pkg/controller/provider/model/ovirt/model.go
Owners: @ahadas

make timestamp human readable
  cmd/forklift-controller/BUILD.bazel
  cmd/forklift-controller/main.go
  pkg/lib/logging/factory.go
Owners: @ahadas

make timestamp human readable
  cmd/forklift-controller/BUILD.bazel
  cmd/forklift-controller/main.go
  pkg/lib/logging/factory.go
Owners: @ahadas

make timestamp human readable
  cmd/forklift-controller/BUILD.bazel
  cmd/forklift-controller/main.go
  pkg/lib/logging/factory.go
Owners: @ahadas

bump forkliftci to v6.0
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

bump forkliftci to v6.0
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

bump forkliftci to v6.0
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

Bump cold v2v image dependencies
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

Bump cold v2v image dependencies
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

Bump cold v2v image dependencies
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

extended-ci-test remove docker-hub token login
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

extended-ci-test remove docker-hub token login
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

extended-ci-test remove docker-hub token login
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

extended-ci-test trigger openstack migration test
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

extended-ci-test trigger openstack migration test
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

extended-ci-test trigger openstack migration test
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

remove unused packages from ubuntu-20.04.4 gh-runner
  .github/workflows/pull-request.yml
Owners: @ahadas

remove unused packages from ubuntu-20.04.4 gh-runner
  .github/workflows/pull-request.yml
Owners: @ahadas

remove unused packages from ubuntu-20.04.4 gh-runner
  .github/workflows/pull-request.yml
Owners: @ahadas

openstack: Fix isNotFound and isForbidden methods
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: Fix isNotFound and isForbidden methods
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: Fix isNotFound and isForbidden methods
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Fix handling of VMs that are imported to oVirt
  pkg/controller/provider/container/ovirt/model.go
Owners: @ahadas

Fix handling of VMs that are imported to oVirt
  pkg/controller/provider/container/ovirt/model.go
Owners: @ahadas

Fix handling of VMs that are imported to oVirt
  pkg/controller/provider/container/ovirt/model.go
Owners: @ahadas

Fix vmMap race
  pkg/controller/plan/migration.go
Owners: @ahadas

Add OVA provider server image
  Makefile
  cmd/ova-provider-server/BUILD.bazel
  cmd/ova-provider-server/ova-provider-server.go
  hack/ova-provider-server/Containerfile
Owners: @ahadas

Add OVA provider server image
  Makefile
  cmd/ova-provider-server/BUILD.bazel
  cmd/ova-provider-server/ova-provider-server.go
  hack/ova-provider-server/Containerfile
Owners: @ahadas

Add OVA provider server image
  Makefile
  cmd/ova-provider-server/BUILD.bazel
  cmd/ova-provider-server/ova-provider-server.go
  hack/ova-provider-server/Containerfile
Owners: @ahadas

Push ova-provider-server to quay.io
  hack/release-images.sh
Owners: @ahadas

Push ova-provider-server to quay.io
  hack/release-images.sh
Owners: @ahadas

Push ova-provider-server to quay.io
  hack/release-images.sh
Owners: @ahadas

openstack: fix project sync for new authentication methods
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/client.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/applicationcredentials/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/applicationcredentials/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/applicationcredentials/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/applicationcredentials/urls.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/log/zap/BUILD.bazel
  vendor/sigs.k8s.io/controller-runtime/pkg/log/zap/flags.go
  vendor/sigs.k8s.io/controller-runtime/pkg/log/zap/kube_helpers.go
  vendor/sigs.k8s.io/controller-runtime/pkg/log/zap/zap.go
Owners: @ahadas, @bennyz, @mmartinv

Fix 'Build and push images' action
  BUILD.bazel
  WORKSPACE
  cmd/ova-provider-server/BUILD.bazel
  hack/ova-provider-server/BUILD.bazel
  hack/release-images.sh
  ova_provider_server_containerfile
Owners: @ahadas

Fix 'Build and push images' action
  BUILD.bazel
  WORKSPACE
  cmd/ova-provider-server/BUILD.bazel
  hack/ova-provider-server/BUILD.bazel
  hack/release-images.sh
  ova_provider_server_containerfile
Owners: @ahadas

Fix 'Build and push images' action
  BUILD.bazel
  WORKSPACE
  cmd/ova-provider-server/BUILD.bazel
  hack/ova-provider-server/BUILD.bazel
  hack/release-images.sh
  ova_provider_server_containerfile
Owners: @ahadas

add missing character in hack/release_images.sh
  hack/release-images.sh
Owners: @ahadas

add missing character in hack/release_images.sh
  hack/release-images.sh
Owners: @ahadas

add missing character in hack/release_images.sh
  hack/release-images.sh
Owners: @ahadas

Fix vmMap race
  pkg/controller/plan/migration.go
Owners: @ahadas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
