Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

openstack: add floating ip validation
  validation/policies/io/konveyor/forklift/openstack/floating_ips.rego
  validation/policies/io/konveyor/forklift/openstack/floating_ips_test.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: Ignore OpenStack floating IP addresses
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: Ignore OpenStack floating IP addresses
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: add floating ip validation
  validation/policies/io/konveyor/forklift/openstack/floating_ips.rego
  validation/policies/io/konveyor/forklift/openstack/floating_ips_test.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: update validation rules
  validation/policies/io/konveyor/forklift/openstack/bios_boot_menu.rego
  validation/policies/io/konveyor/forklift/openstack/cpu_shares.rego
  validation/policies/io/konveyor/forklift/openstack/host_devices.rego
  validation/policies/io/konveyor/forklift/ovirt/bios_boot_menu.rego
  validation/policies/io/konveyor/forklift/ovirt/cpu_shares.rego
  validation/policies/io/konveyor/forklift/ovirt/host_devices.rego
Owners: @ahadas, @bennyz, @mmartinv

oVirt provider: Fix the POST auth request
  pkg/controller/provider/container/ovirt/client.go
  pkg/lib/inventory/web/client.go
Owners: @ahadas

oVirt provider: Fix the POST auth request
  pkg/controller/provider/container/ovirt/client.go
  pkg/lib/inventory/web/client.go
Owners: @ahadas

oVirt provider: Fix the POST auth request
  pkg/controller/provider/container/ovirt/client.go
  pkg/lib/inventory/web/client.go
Owners: @ahadas

Preserve the VM UUID when migrating from RHV
  Makefile
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  tests/suit/framework/BUILD.bazel
  tests/suit/framework/framework.go
  tests/suit/framework/ovirt.go
  tests/suit/ovirt_test.go
  tests/suit/utils/migration.go
Owners: @ahadas, @eslutsky, @liranr23

controller: improve logging related to snapshots
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Preserve the VM UUID when migrating from RHV
  Makefile
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  tests/suit/framework/BUILD.bazel
  tests/suit/framework/framework.go
  tests/suit/framework/ovirt.go
  tests/suit/ovirt_test.go
  tests/suit/utils/migration.go
Owners: @ahadas, @eslutsky, @liranr23

controller: fix creation of DataVolume checkpoints (Fixes #301)
  pkg/controller/plan/migration.go
Owners: @ahadas

post review code cleanup
  .github/workflows/create-new-pr.yml
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

trigger the run-osp-extended-tests action on specific comment
  .github/workflows/create-new-pr.yml
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

use composite action for self hosted runner provision
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

introduce e2e-openstack-extended test
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

bump dependedency forkliftci version to v5.0
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

post review code cleanup
  .github/workflows/create-new-pr.yml
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

bump dependedency forkliftci version to v5.0
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

trigger the run-osp-extended-tests action on specific comment
  .github/workflows/create-new-pr.yml
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

post review code cleanup
  .github/workflows/create-new-pr.yml
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

introduce e2e-openstack-extended test
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

use composite action for self hosted runner provision
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

dont merge- test only
  README.md
Owners: @ahadas

Fix the plan status
  pkg/controller/plan/controller.go
Owners: @ahadas

Detailed explanation for passing a cloned plan to 'update' call
  pkg/controller/plan/controller.go
Owners: @ahadas

Detailed explanation for passing a cloned plan to 'update' call
  pkg/controller/plan/controller.go
Owners: @ahadas

Detailed explanation for passing a cloned plan to 'update' call
  pkg/controller/plan/controller.go
Owners: @ahadas

Fix the plan status
  pkg/controller/plan/controller.go
Owners: @ahadas

Fix the plan status
  pkg/controller/plan/controller.go
Owners: @ahadas

register kubevirt types
  tests/suit/framework/framework.go
Owners: @ahadas, @eslutsky, @liranr23

Register gob types
  go.mod
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/lib/filebacked/doc.go
  tests/suit/framework/BUILD.bazel
  vendor/modules.txt
Owners: @ahadas, @eslutsky, @liranr23

Make sure VM names on old plans are preserved
  pkg/controller/plan/controller.go
Owners: @ahadas

oVirt provider: Use POST request instead of GET for auth
  pkg/controller/provider/container/ovirt/client.go
Owners: @ahadas

oVirt provider: Fix the POST auth request
  pkg/controller/provider/container/ovirt/client.go
  pkg/lib/inventory/web/client.go
Owners: @ahadas

Make sure VM names on old plans are preserved
  pkg/controller/plan/controller.go
Owners: @ahadas

Make sure VM names on old plans are preserved
  pkg/controller/plan/controller.go
Owners: @ahadas

oVirt provider: Fix the POST auth request
  pkg/controller/provider/container/ovirt/client.go
  pkg/lib/inventory/web/client.go
Owners: @ahadas

oVirt provider: Use POST request instead of GET for auth
  pkg/controller/provider/container/ovirt/client.go
Owners: @ahadas

openstack: Fix openstack client in Plan adapter
  pkg/controller/plan/adapter/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv
