Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

Use libguestfs-appliance as base image
  WORKSPACE
  virt-v2v/BUILD.bazel
Owners: @ahadas, @nyoxi

minor cleanup in virt-v2v deps resources
  hack/virt-v2v-stream8-rpm-deps.sh
  rpm/stream8-repo.yaml
Owners: @ahadas

Upgrade virt-v2v on centos-stream 8
  WORKSPACE
  rpm/BUILD.bazel
Owners: @ahadas

Use libguestfs-appliance as base image
  WORKSPACE
  virt-v2v/BUILD.bazel
Owners: @ahadas, @nyoxi

minor cleanup in virt-v2v deps resources
  hack/virt-v2v-stream8-rpm-deps.sh
  rpm/stream8-repo.yaml
Owners: @ahadas

Upgrade virt-v2v on centos-stream 8
  WORKSPACE
  rpm/BUILD.bazel
Owners: @ahadas

Introduce ovirt volume populator image
  Makefile
  cmd/ovirt-populator/Containerfile
  cmd/ovirt-populator/Makefile
  cmd/ovirt-populator/README.md
  cmd/ovirt-populator/example/cr.yaml
  cmd/ovirt-populator/example/crd.yaml
  cmd/ovirt-populator/example/deploy.yaml
  cmd/ovirt-populator/example/pvc.yaml
  cmd/ovirt-populator/go.mod
  cmd/ovirt-populator/go.sum
  cmd/ovirt-populator/hack/boilerplate.go.txt
  cmd/ovirt-populator/ovirt-populator.go
  cmd/ovirt-populator/pkg/v1beta1/doc.go
  cmd/ovirt-populator/pkg/v1beta1/ovirtpopulator.go
  cmd/ovirt-populator/pkg/v1beta1/zz_generated.deepcopy.go
Owners: @ahadas

change the lib-volume-populator
  cmd/ovirt-populator/README.md
  cmd/ovirt-populator/example/cr.yaml
  cmd/ovirt-populator/example/crd.yaml
  cmd/ovirt-populator/example/deploy.yaml
  cmd/ovirt-populator/example/pvc.yaml
  cmd/ovirt-populator/go.mod
  cmd/ovirt-populator/go.sum
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

Introduce ovirt volume populator image
  Makefile
  cmd/ovirt-populator/Containerfile
  cmd/ovirt-populator/Makefile
  cmd/ovirt-populator/README.md
  cmd/ovirt-populator/example/cr.yaml
  cmd/ovirt-populator/example/crd.yaml
  cmd/ovirt-populator/example/deploy.yaml
  cmd/ovirt-populator/example/pvc.yaml
  cmd/ovirt-populator/go.mod
  cmd/ovirt-populator/go.sum
  cmd/ovirt-populator/hack/boilerplate.go.txt
  cmd/ovirt-populator/ovirt-populator.go
  cmd/ovirt-populator/pkg/v1beta1/doc.go
  cmd/ovirt-populator/pkg/v1beta1/ovirtpopulator.go
  cmd/ovirt-populator/pkg/v1beta1/zz_generated.deepcopy.go
Owners: @ahadas

Introduce ovirt volume populator image
  Makefile
  cmd/ovirt-populator/Containerfile
  cmd/ovirt-populator/Makefile
  cmd/ovirt-populator/README.md
  cmd/ovirt-populator/example/cr.yaml
  cmd/ovirt-populator/example/crd.yaml
  cmd/ovirt-populator/example/deploy.yaml
  cmd/ovirt-populator/example/pvc.yaml
  cmd/ovirt-populator/go.mod
  cmd/ovirt-populator/go.sum
  cmd/ovirt-populator/hack/boilerplate.go.txt
  cmd/ovirt-populator/ovirt-populator.go
  cmd/ovirt-populator/pkg/v1beta1/doc.go
  cmd/ovirt-populator/pkg/v1beta1/ovirtpopulator.go
  cmd/ovirt-populator/pkg/v1beta1/zz_generated.deepcopy.go
Owners: @ahadas

change the lib-volume-populator
  cmd/ovirt-populator/README.md
  cmd/ovirt-populator/example/cr.yaml
  cmd/ovirt-populator/example/crd.yaml
  cmd/ovirt-populator/example/deploy.yaml
  cmd/ovirt-populator/example/pvc.yaml
  cmd/ovirt-populator/go.mod
  cmd/ovirt-populator/go.sum
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

change the lib-volume-populator
  cmd/ovirt-populator/README.md
  cmd/ovirt-populator/example/cr.yaml
  cmd/ovirt-populator/example/crd.yaml
  cmd/ovirt-populator/example/deploy.yaml
  cmd/ovirt-populator/example/pvc.yaml
  cmd/ovirt-populator/go.mod
  cmd/ovirt-populator/go.sum
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

Fix deployment using deploy-to-crc.sh
  Makefile
Owners: @ahadas

Set version to 2.4.0
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

refactor ovirt tests to use gincko framework
  tests/suit/framework/framework.go
  tests/suit/framework/ovirt.go
  tests/suit/ovirt_test.go
  tests/suit/tests_suite_test.go
  tests/suit/utils/networkmap.go
  tests/suit/utils/plan.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

seperate ginkgo vsphere and ovirt in Makefile
  Makefile
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

ginkgo tests constants cleanup
  tests/suit/framework/ovirt.go
  tests/suit/ovirt_test.go
  tests/suit/tests_suite_test.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

Fix deployment using deploy-to-crc.sh
  Makefile
Owners: @ahadas

Fix deployment using deploy-to-crc.sh
  Makefile
Owners: @ahadas

Set version to 2.4.0
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

Set version to 2.4.0
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

Change ubi8 to ubi9 for validation, controller, operator, api
  WORKSPACE
  cmd/forklift-api/BUILD.bazel
  cmd/forklift-controller/BUILD.bazel
  operator/BUILD.bazel
  validation/BUILD.bazel
Owners: @ahadas, @mnecas

Change ubi8 to ubi9 for validation, controller, operator, api
  WORKSPACE
  cmd/forklift-api/BUILD.bazel
  cmd/forklift-controller/BUILD.bazel
  operator/BUILD.bazel
  validation/BUILD.bazel
Owners: @ahadas, @mnecas

Change ubi8 to ubi9 for validation, controller, operator, api
  WORKSPACE
  cmd/forklift-api/BUILD.bazel
  cmd/forklift-controller/BUILD.bazel
  operator/BUILD.bazel
  validation/BUILD.bazel
Owners: @ahadas, @mnecas

Fix mutating configuration name
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-forklift-api.yml.j2
Owners: @mnecas

Fix mutating configuration name
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-forklift-api.yml.j2
Owners: @mnecas

Fix mutating configuration name
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-forklift-api.yml.j2
Owners: @mnecas

move some methods under the OvirtVM struct
  tests/base_test.go
  tests/suit/framework/ovirt.go
  tests/suit/ovirt_test.go
  tests/suit/utils/plan.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

refactor ovirt E2E tests to use ginkgo framework (#129)
  Makefile
  tests/base_test.go
  tests/suit/framework/framework.go
  tests/suit/framework/ovirt.go
  tests/suit/ovirt_test.go
  tests/suit/tests_suite_test.go
  tests/suit/utils/networkmap.go
  tests/suit/utils/plan.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

refactor ovirt E2E tests to use ginkgo framework (#129)
  Makefile
  tests/base_test.go
  tests/suit/framework/framework.go
  tests/suit/framework/ovirt.go
  tests/suit/ovirt_test.go
  tests/suit/tests_suite_test.go
  tests/suit/utils/networkmap.go
  tests/suit/utils/plan.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

Monitor Image, Volume and Snapshot changes
  pkg/controller/map/storage/handler/openstack/handler.go
  pkg/controller/provider/web/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Apply missing 'Fault' field to 'VM' model
  pkg/controller/provider/container/openstack/resource.go
Owners: @ahadas, @bennyz, @mmartinv

add gh-action providers matrix to ci_setup
  .github/workflows/pull-request.yml
  Makefile
Owners: @ahadas

add gh-action providers matrix to ci_setup
  .github/workflows/pull-request.yml
  Makefile
Owners: @ahadas

add gh-action providers matrix to ci_setup
  .github/workflows/pull-request.yml
  Makefile
Owners: @ahadas

Fix using non-up-to-date image of forklift-virt-v2v
  WORKSPACE
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix using non-up-to-date image of forklift-virt-v2v
  WORKSPACE
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix using non-up-to-date image of forklift-virt-v2v
  WORKSPACE
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Install 'file' in forklift-virt-v2v image
  WORKSPACE
  hack/virt-v2v-stream8-rpm-deps.sh
  rpm/BUILD.bazel
Owners: @ahadas

Install 'file' in forklift-virt-v2v image
  WORKSPACE
  hack/virt-v2v-stream8-rpm-deps.sh
  rpm/BUILD.bazel
Owners: @ahadas
