Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

webhooks: remove superfluous error message from log line
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

webhooks: move storage validation to separate function
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

bump forkliftci to v2.0 version
  .github/workflows/pull-request.yml
Owners: @ahadas

fix typo: partent -> parent
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

Remove unused environment variables for forklift-api
  operator/roles/forkliftcontroller/templates/api/deployment-forklift-api.yml.j2
Owners: @mnecas

bump forkliftci to v2.0 for pull-requests (#370)
  .github/workflows/pull-request.yml
Owners: @ahadas

bump forkliftci to v2.0 for pull-requests (#370)
  .github/workflows/pull-request.yml
Owners: @ahadas

fix typo: partent -> parent
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

fix typo: partent -> parent
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

Remove unused environment variables for forklift-api
  operator/roles/forkliftcontroller/templates/api/deployment-forklift-api.yml.j2
Owners: @mnecas

Remove unused environment variables for forklift-api
  operator/roles/forkliftcontroller/templates/api/deployment-forklift-api.yml.j2
Owners: @mnecas

controller: vmware: use ESX transport for EL9 image when Host resource exists
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

controller: vmware: use ESX transport for EL9 image when Host resource exists
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

controller: vmware: use ESX transport for EL9 image when Host resource exists
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

webhooks: pass `error` instead of `AdmissionResponse`
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

webhooks: use `util.ToAdmissionResponseError()` in storage validation
  pkg/forklift-api/webhooks/util/util.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

webhooks: pass plan when providers are unavailable
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

webhooks: validate VDDK image
  operator/config/rbac/api/role.yaml
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-forklift-api.yml.j2
  pkg/forklift-api/webhooks/validating-webhook.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/provider-admitter.go
  pkg/forklift-api/webhooks/webhooks.go
Owners: @mnecas, @ahadas

webhooks: pass plan when providers are unavailable
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

webhooks: use `util.ToAdmissionResponseError()` in storage validation
  pkg/forklift-api/webhooks/util/util.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

webhooks: validate VDDK image
  operator/config/rbac/api/role.yaml
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-forklift-api.yml.j2
  pkg/forklift-api/webhooks/validating-webhook.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/provider-admitter.go
  pkg/forklift-api/webhooks/webhooks.go
Owners: @mnecas, @ahadas

webhooks: pass plan when providers are unavailable
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

webhooks: pass `error` instead of `AdmissionResponse`
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

webhooks: remove superfluous error message from log line
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

webhooks: pass `error` instead of `AdmissionResponse`
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

webhooks: use `util.ToAdmissionResponseError()` in storage validation
  pkg/forklift-api/webhooks/util/util.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

webhooks: validate VDDK image
  operator/config/rbac/api/role.yaml
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-forklift-api.yml.j2
  pkg/forklift-api/webhooks/validating-webhook.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/provider-admitter.go
  pkg/forklift-api/webhooks/webhooks.go
Owners: @mnecas, @ahadas

webhooks: move storage validation to separate function
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

webhooks: remove superfluous error message from log line
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

webhooks: move storage validation to separate function
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

openstack: block warm migration plans
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

openstack: e2e test for openstack warm migrations
  tests/suit/BUILD.bazel
  tests/suit/openstack_test.go
  tests/suit/utils/plan.go
Owners: @ahadas, @eslutsky, @liranr23

ovirt: do not show json parsing error in the log
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

openstack: e2e test for openstack warm migrations
  tests/suit/BUILD.bazel
  tests/suit/openstack_test.go
  tests/suit/utils/plan.go
Owners: @ahadas, @eslutsky, @liranr23

openstack: block warm migration plans
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

openstack: block warm migration plans
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

openstack: e2e test for openstack warm migrations
  tests/suit/BUILD.bazel
  tests/suit/openstack_test.go
  tests/suit/utils/plan.go
Owners: @ahadas, @eslutsky, @liranr23

ovirt: do not show json parsing error in the log
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

ovirt: do not show json parsing error in the log
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

ovirt: limit snapshot cleanup to warm migrations only
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas
