Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

Add compatbility ID field for OCP base resource type
  pkg/controller/provider/web/ocp/resource.go
Owners: @ahadas

Add compatbility ID field for OCP base resource type
  pkg/controller/provider/web/ocp/resource.go
Owners: @ahadas

Add compatbility ID field for OCP base resource type
  pkg/controller/provider/web/ocp/resource.go
Owners: @ahadas

clean before build-and-push
  .github/workflows/build-push-images.yml
Owners: @ahadas

clean before build-and-push
  .github/workflows/build-push-images.yml
Owners: @ahadas

clean before build-and-push
  .github/workflows/build-push-images.yml
Owners: @ahadas

Make VSphereUsesEl9VirtV2v more extensible
  pkg/apis/forklift/v1beta1/plan.go
Owners: @ahadas

Make VSphereUsesEl9VirtV2v more extensible
  pkg/apis/forklift/v1beta1/plan.go
Owners: @ahadas

Make VSphereUsesEl9VirtV2v more extensible
  pkg/apis/forklift/v1beta1/plan.go
Owners: @ahadas

Adding OVA flow for migration
  cmd/ova-provider-server/BUILD.bazel
  cmd/ova-provider-server/ova-provider-server.go
  hack/virt-v2v-cold-rpm-deps.sh
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/map/network/handler/BUILD.bazel
  pkg/controller/map/network/handler/doc.go
  pkg/controller/map/network/handler/ova/BUILD.bazel
  pkg/controller/map/network/handler/ova/doc.go
  pkg/controller/map/network/handler/ova/handler.go
  pkg/controller/map/storage/handler/BUILD.bazel
  pkg/controller/map/storage/handler/doc.go
  pkg/controller/plan/adapter/BUILD.bazel
  pkg/controller/plan/adapter/doc.go
  pkg/controller/plan/adapter/ova/BUILD.bazel
  pkg/controller/plan/adapter/ova/adapter.go
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/client.go
  pkg/controller/plan/adapter/ova/destinationclient.go
  pkg/controller/plan/adapter/ova/validator.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/scheduler/BUILD.bazel
  pkg/controller/plan/scheduler/doc.go
  pkg/controller/plan/scheduler/ova/BUILD.bazel
  pkg/controller/plan/scheduler/ova/scheduler.go
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ova/resource.go
  pkg/controller/provider/model/ova/model.go
  pkg/controller/provider/validation.go
  pkg/controller/provider/web/ova/client.go
  pkg/controller/provider/web/ova/disk.go
  pkg/controller/provider/web/ova/provider.go
  pkg/controller/provider/web/ova/vm.go
  virt-v2v/cold/entrypoint
Owners: @ahadas, @nyoxi

Adding OVA flow for migration
  cmd/ova-provider-server/BUILD.bazel
  cmd/ova-provider-server/ova-provider-server.go
  hack/virt-v2v-cold-rpm-deps.sh
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/map/network/handler/BUILD.bazel
  pkg/controller/map/network/handler/doc.go
  pkg/controller/map/network/handler/ova/BUILD.bazel
  pkg/controller/map/network/handler/ova/doc.go
  pkg/controller/map/network/handler/ova/handler.go
  pkg/controller/map/storage/handler/BUILD.bazel
  pkg/controller/map/storage/handler/doc.go
  pkg/controller/plan/adapter/BUILD.bazel
  pkg/controller/plan/adapter/doc.go
  pkg/controller/plan/adapter/ova/BUILD.bazel
  pkg/controller/plan/adapter/ova/adapter.go
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/client.go
  pkg/controller/plan/adapter/ova/destinationclient.go
  pkg/controller/plan/adapter/ova/validator.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/scheduler/BUILD.bazel
  pkg/controller/plan/scheduler/doc.go
  pkg/controller/plan/scheduler/ova/BUILD.bazel
  pkg/controller/plan/scheduler/ova/scheduler.go
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ova/resource.go
  pkg/controller/provider/model/ova/model.go
  pkg/controller/provider/validation.go
  pkg/controller/provider/web/ova/client.go
  pkg/controller/provider/web/ova/disk.go
  pkg/controller/provider/web/ova/provider.go
  pkg/controller/provider/web/ova/vm.go
  virt-v2v/cold/entrypoint
Owners: @ahadas, @nyoxi

Adding OVA flow for migration
  cmd/ova-provider-server/BUILD.bazel
  cmd/ova-provider-server/ova-provider-server.go
  hack/virt-v2v-cold-rpm-deps.sh
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/map/network/handler/BUILD.bazel
  pkg/controller/map/network/handler/doc.go
  pkg/controller/map/network/handler/ova/BUILD.bazel
  pkg/controller/map/network/handler/ova/doc.go
  pkg/controller/map/network/handler/ova/handler.go
  pkg/controller/map/storage/handler/BUILD.bazel
  pkg/controller/map/storage/handler/doc.go
  pkg/controller/plan/adapter/BUILD.bazel
  pkg/controller/plan/adapter/doc.go
  pkg/controller/plan/adapter/ova/BUILD.bazel
  pkg/controller/plan/adapter/ova/adapter.go
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/client.go
  pkg/controller/plan/adapter/ova/destinationclient.go
  pkg/controller/plan/adapter/ova/validator.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/scheduler/BUILD.bazel
  pkg/controller/plan/scheduler/doc.go
  pkg/controller/plan/scheduler/ova/BUILD.bazel
  pkg/controller/plan/scheduler/ova/scheduler.go
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ova/resource.go
  pkg/controller/provider/model/ova/model.go
  pkg/controller/provider/validation.go
  pkg/controller/provider/web/ova/client.go
  pkg/controller/provider/web/ova/disk.go
  pkg/controller/provider/web/ova/provider.go
  pkg/controller/provider/web/ova/vm.go
  virt-v2v/cold/entrypoint
Owners: @ahadas, @nyoxi

Fix operator role binding for SCC support
  operator/config/rbac/role_binding.yaml
Owners: @mnecas

Fix operator role binding for SCC support
  operator/config/rbac/role_binding.yaml
Owners: @mnecas

Fix operator role binding for SCC support
  operator/config/rbac/role_binding.yaml
Owners: @mnecas

Fix generated IDs for resources from OVA
  cmd/ova-provider-server/ova-provider-server.go
Owners: @ahadas

Fix generated IDs for resources from OVA
  cmd/ova-provider-server/ova-provider-server.go
Owners: @ahadas

Fix generated IDs for resources from OVA
  cmd/ova-provider-server/ova-provider-server.go
Owners: @ahadas

openstack: Add common client implementation
  pkg/lib/client/openstack/BUILD.bazel
  pkg/lib/client/openstack/client.go
  pkg/lib/client/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

tests: use openstack common client implementation
  tests/suit/BUILD.bazel
  tests/suit/openstack_extended_test.go
Owners: @ahadas, @eslutsky, @liranr23

openstackpopulator: use common client implementation
  cmd/openstack-populator/BUILD.bazel
  cmd/openstack-populator/openstack-populator.go
  hack/openstack-populator/Containerfile
Owners: @ahadas, @bennyz, @mmartinv

validation: remove image based vms checks
  validation/policies/io/konveyor/forklift/openstack/vm_image_based.rego
  validation/policies/io/konveyor/forklift/openstack/vm_image_based_test.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack provider: use common client implementation
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/container/openstack/collector.go
  pkg/controller/provider/container/openstack/model.go
  pkg/controller/provider/container/openstack/resource.go
  pkg/controller/provider/model/openstack/model.go
  pkg/controller/provider/web/openstack/workload.go
Owners: @ahadas, @bennyz, @mmartinv

refactor plan implementation
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/base/BUILD.bazel
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/openstack/BUILD.bazel
  pkg/controller/plan/adapter/openstack/adapter.go
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/adapter/openstack/common.go
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/client.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

Fix oVirt's Builder#SupportsVolumePopulators
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

openstackpopulator: use common client implementation
  cmd/openstack-populator/BUILD.bazel
  cmd/openstack-populator/openstack-populator.go
  hack/openstack-populator/Containerfile
Owners: @ahadas, @bennyz, @mmartinv

openstack: Add common client implementation
  pkg/lib/client/openstack/BUILD.bazel
  pkg/lib/client/openstack/client.go
  pkg/lib/client/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

validation: remove image based vms checks
  validation/policies/io/konveyor/forklift/openstack/vm_image_based.rego
  validation/policies/io/konveyor/forklift/openstack/vm_image_based_test.rego
Owners: @ahadas, @bennyz, @mmartinv

Fix oVirt's Builder#SupportsVolumePopulators
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

Fix oVirt's Builder#SupportsVolumePopulators
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

validation: remove image based vms checks
  validation/policies/io/konveyor/forklift/openstack/vm_image_based.rego
  validation/policies/io/konveyor/forklift/openstack/vm_image_based_test.rego
Owners: @ahadas, @bennyz, @mmartinv

refactor plan implementation
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/base/BUILD.bazel
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/openstack/BUILD.bazel
  pkg/controller/plan/adapter/openstack/adapter.go
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/adapter/openstack/common.go
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/client.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

openstack provider: use common client implementation
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/container/openstack/collector.go
  pkg/controller/provider/container/openstack/model.go
  pkg/controller/provider/container/openstack/resource.go
  pkg/controller/provider/model/openstack/model.go
  pkg/controller/provider/web/openstack/workload.go
Owners: @ahadas, @bennyz, @mmartinv

tests: use openstack common client implementation
  tests/suit/BUILD.bazel
  tests/suit/openstack_extended_test.go
Owners: @ahadas, @eslutsky, @liranr23

openstack provider: use common client implementation
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/container/openstack/collector.go
  pkg/controller/provider/container/openstack/model.go
  pkg/controller/provider/container/openstack/resource.go
  pkg/controller/provider/model/openstack/model.go
  pkg/controller/provider/web/openstack/workload.go
Owners: @ahadas, @bennyz, @mmartinv

openstackpopulator: use common client implementation
  cmd/openstack-populator/BUILD.bazel
  cmd/openstack-populator/openstack-populator.go
  hack/openstack-populator/Containerfile
Owners: @ahadas, @bennyz, @mmartinv

tests: use openstack common client implementation
  tests/suit/BUILD.bazel
  tests/suit/openstack_extended_test.go
Owners: @ahadas, @eslutsky, @liranr23

refactor plan implementation
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/base/BUILD.bazel
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/openstack/BUILD.bazel
  pkg/controller/plan/adapter/openstack/adapter.go
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/adapter/openstack/common.go
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/client.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: Add common client implementation
  pkg/lib/client/openstack/BUILD.bazel
  pkg/lib/client/openstack/client.go
  pkg/lib/client/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

Make vSphere's Client#Finalize non-empty
  pkg/controller/plan/adapter/vsphere/client.go
Owners: @ahadas
