Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

openstack: add deployment for openstack-populator
  .bazelrc
  Makefile
  cmd/openstack-populator/openstack-populator.go
  operator/BUILD.bazel
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/kustomization.yaml
  operator/config/manager/manager.yaml
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
  operator/config/samples/forklift_v1beta1_openstack_populator.yaml
  operator/config/samples/kustomization.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/populator/deployment-populator-controller.yml.j2
  pkg/controller/plan/adapter/openstack/BUILD.bazel
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

openstack: fix task progress
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

Use right namespaces in tests
  tests/suit/ovirt_test.go
  tests/suit/tests_suite_test.go
  tests/suit/utils/common.go
  tests/suit/utils/networkmap.go
  tests/suit/utils/plan.go
  tests/suit/utils/storagemap.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

Use right namespaces in tests
  tests/suit/ovirt_test.go
  tests/suit/tests_suite_test.go
  tests/suit/utils/common.go
  tests/suit/utils/networkmap.go
  tests/suit/utils/plan.go
  tests/suit/utils/storagemap.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

Use right namespaces in tests
  tests/suit/ovirt_test.go
  tests/suit/tests_suite_test.go
  tests/suit/utils/common.go
  tests/suit/utils/networkmap.go
  tests/suit/utils/plan.go
  tests/suit/utils/storagemap.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

operator: Fix CSV example format
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

openstack: use migration name as prefix
  cmd/openstack-populator/BUILD.bazel
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/plan/util/openstack.go
Owners: @ahadas, @bennyz, @mmartinv

operator: Fix CSV example format
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

operator: Fix CSV example format
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

openstack: use different metrics ports for ovirt and openstack
  cmd/populator-controller/populator-controller.go
  operator/roles/forkliftcontroller/templates/populator/deployment-populator-controller.yml.j2
Owners: @ahadas, @mnecas

openstack: fix progress update
  pkg/controller/plan/migration.go
  pkg/controller/plan/util/openstack.go
Owners: @ahadas, @bennyz, @mmartinv

operator: Change RELATED_IMAGE_OVIRT_POPULATOR to RELATED_IMAGE_RHV_POPULATOR
  operator/roles/forkliftcontroller/defaults/main.yml
Owners: @mnecas

Add TODO
  pkg/controller/plan/adapter/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

operator: Change RELATED_IMAGE_OVIRT_POPULATOR to RELATED_IMAGE_RHV_POPULATOR
  operator/roles/forkliftcontroller/defaults/main.yml
Owners: @mnecas

operator: Change RELATED_IMAGE_OVIRT_POPULATOR to RELATED_IMAGE_RHV_POPULATOR
  operator/roles/forkliftcontroller/defaults/main.yml
Owners: @mnecas

fix for ginko suite
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

change vsphere test to use 'konveyor-forklift' namespace
  tests/suit/openstack_test.go
  tests/suit/utils/networkmap.go
  tests/suit/utils/plan.go
  tests/suit/utils/storagemap.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

fix for ginko suite
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

change vsphere test to use 'konveyor-forklift' namespace
  tests/suit/openstack_test.go
  tests/suit/utils/networkmap.go
  tests/suit/utils/plan.go
  tests/suit/utils/storagemap.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

change vsphere test to use 'konveyor-forklift' namespace
  tests/suit/openstack_test.go
  tests/suit/utils/networkmap.go
  tests/suit/utils/plan.go
  tests/suit/utils/storagemap.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

fix for ginko suite
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

Add tasks and remove unused methods
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

Add openstack populator Containerfile
  hack/openstack-populator/Containerfile
Owners: @ahadas, @bennyz, @mmartinv

Use k8s.isAlreadyExists
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Address most of the comments
  Makefile
  cmd/openstack-populator/openstack-populator.go
  operator/config/samples/forklift_v1beta1_openstack_populator.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  pkg/controller/plan/adapter/openstack/adapter.go
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/plan/util/openstack.go
  pkg/controller/provider/container/openstack/model.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

Fix race condition on inventory synchronization
  pkg/controller/provider/container/openstack/collector.go
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

Fix race condition on inventory synchronization
  pkg/controller/provider/container/openstack/collector.go
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

Fix race condition on inventory synchronization
  pkg/controller/provider/container/openstack/collector.go
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

lower permissions
  cmd/openstack-populator/openstack-populator.go
Owners: @ahadas, @bennyz, @mmartinv

Fix OpenStack StorageMap watch
  pkg/controller/map/storage/handler/openstack/handler.go
Owners: @ahadas, @bennyz, @mmartinv

Fix OpenStack StorageMap watch
  pkg/controller/map/storage/handler/openstack/handler.go
Owners: @ahadas, @bennyz, @mmartinv

Fix OpenStack StorageMap watch
  pkg/controller/map/storage/handler/openstack/handler.go
Owners: @ahadas, @bennyz, @mmartinv

Run vSphere test in a generated namespace
  tests/suit/framework/framework.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

use variable for openstackvolumepopulator kind
  pkg/apis/forklift/v1beta1/openstackpopulator.go
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

Run vSphere test in a generated namespace
  tests/suit/framework/framework.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

Run vSphere test in a generated namespace
  tests/suit/framework/framework.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

rename createVolumes to createOpenStackVolumes
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

CI remove ginkgo custom reporter from tests
  tests/suit/reporters/BUILD.bazel
  tests/suit/reporters/reporters.go
  tests/suit/tests_suite_test.go
Owners: @ahadas, @eslutsky, @liranr23

CI remove ginkgo custom reporter from tests
  tests/suit/reporters/BUILD.bazel
  tests/suit/reporters/reporters.go
  tests/suit/tests_suite_test.go
Owners: @ahadas, @eslutsky, @liranr23

CI remove ginkgo custom reporter from tests
  tests/suit/reporters/BUILD.bazel
  tests/suit/reporters/reporters.go
  tests/suit/tests_suite_test.go
Owners: @ahadas, @eslutsky, @liranr23
