Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

openstack: consider volume type names as well
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: consider volume type names as well
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: consider volume type names as well
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: consider volume type names as well
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: consider volume type names as well
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

minor cleanup
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

minor cleanup
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

minor cleanup
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

ocp: fix network lookup
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: fix network lookup
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: fix network lookup
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: fix network lookup
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

test: golangci-lint
  .github/workflows/golangci-lint.yaml
Owners: @ahadas

ocp: fix network lookup
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

increase timeout of validation webhooks to 30 sec
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-plans.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-providers.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-secrets.yml.j2
Owners: @mnecas

ocp: use GetNetworkNameAndNamespace in builder.go
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/util.go
  pkg/controller/plan/adapter/ocp/util_test.go
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

increase timeout of validation webhooks to 30 sec
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-plans.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-providers.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-secrets.yml.j2
Owners: @mnecas

increase timeout of validation webhooks to 30 sec
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-plans.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-providers.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-secrets.yml.j2
Owners: @mnecas

increase timeout of validation webhooks to 30 sec
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-plans.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-providers.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-secrets.yml.j2
Owners: @mnecas

increase timeout of validation webhooks to 30 sec
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-plans.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-providers.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-secrets.yml.j2
Owners: @mnecas

ocp: use GetNetworkNameAndNamespace in builder.go
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/util.go
  pkg/controller/plan/adapter/ocp/util_test.go
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: use GetNetworkNameAndNamespace in builder.go
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/util.go
  pkg/controller/plan/adapter/ocp/util_test.go
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

test: golangci-lint
  .github/workflows/golangci-lint.yaml
Owners: @ahadas

test: golangci-lint
  .github/workflows/golangci-lint.yaml
Owners: @ahadas

ocp: use GetNetworkNameAndNamespace in builder.go
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/util.go
  pkg/controller/plan/adapter/ocp/util_test.go
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: use GetNetworkNameAndNamespace in builder.go
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/util.go
  pkg/controller/plan/adapter/ocp/util_test.go
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

use a single client in webhook
  cmd/forklift-api/BUILD.bazel
  cmd/forklift-api/forklift-api.go
  pkg/forklift-api/BUILD.bazel
  pkg/forklift-api/api.go
  pkg/forklift-api/webhooks/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/plan-mutator.go
  pkg/forklift-api/webhooks/validating-webhook.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/provider-admitter.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
  pkg/forklift-api/webhooks/webhooks.go
Owners: @ahadas

use a single client in webhook
  cmd/forklift-api/BUILD.bazel
  cmd/forklift-api/forklift-api.go
  pkg/forklift-api/BUILD.bazel
  pkg/forklift-api/api.go
  pkg/forklift-api/webhooks/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/plan-mutator.go
  pkg/forklift-api/webhooks/validating-webhook.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/provider-admitter.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
  pkg/forklift-api/webhooks/webhooks.go
Owners: @ahadas

use a single client in webhook
  cmd/forklift-api/BUILD.bazel
  cmd/forklift-api/forklift-api.go
  pkg/forklift-api/BUILD.bazel
  pkg/forklift-api/api.go
  pkg/forklift-api/webhooks/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/plan-mutator.go
  pkg/forklift-api/webhooks/validating-webhook.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/provider-admitter.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
  pkg/forklift-api/webhooks/webhooks.go
Owners: @ahadas

use a single client in webhook
  cmd/forklift-api/BUILD.bazel
  cmd/forklift-api/forklift-api.go
  pkg/forklift-api/BUILD.bazel
  pkg/forklift-api/api.go
  pkg/forklift-api/webhooks/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/plan-mutator.go
  pkg/forklift-api/webhooks/validating-webhook.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/provider-admitter.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
  pkg/forklift-api/webhooks/webhooks.go
Owners: @ahadas

use a single client in webhook
  cmd/forklift-api/BUILD.bazel
  cmd/forklift-api/forklift-api.go
  pkg/forklift-api/BUILD.bazel
  pkg/forklift-api/api.go
  pkg/forklift-api/webhooks/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/plan-mutator.go
  pkg/forklift-api/webhooks/validating-webhook.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/provider-admitter.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
  pkg/forklift-api/webhooks/webhooks.go
Owners: @ahadas

Fix typo in OCP DestinationClient
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/destinationclient.go
Owners: @ahadas

Fix typo in OCP DestinationClient
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/destinationclient.go
Owners: @ahadas

Fix typo in OCP DestinationClient
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/destinationclient.go
Owners: @ahadas

bump ovirt and virt-v2v dependencies
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @ahadas, @nyoxi

Bump v2v rpm deps
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

Bump ovirt-populator RPM deps
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
Owners: @ahadas

bump ovirt and virt-v2v dependencies
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @ahadas, @nyoxi

bump ovirt and virt-v2v dependencies
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @ahadas, @nyoxi

Refactoring the OVA NFS
  pkg/controller/plan/kubevirt.go
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
