Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

openstack: fix image format validation
  validation/policies/io/konveyor/forklift/openstack/image_format.rego
  validation/policies/io/konveyor/forklift/openstack/image_format_test.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: set revisionValidated to zero
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: update VM revision on volume change
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: update VM revision on volume change
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: set revisionValidated to zero
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: update VM revision on volume change
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: set revisionValidated to zero
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

remove redundant log
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix image format validation
  validation/policies/io/konveyor/forklift/openstack/image_format.rego
  validation/policies/io/konveyor/forklift/openstack/image_format_test.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix image format validation
  validation/policies/io/konveyor/forklift/openstack/image_format.rego
  validation/policies/io/konveyor/forklift/openstack/image_format_test.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: set revisionValidated to zero
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: update VM revision on volume change
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

remove redundant log
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

ovirt: bump populator deps
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  hack/ovirt-populator-rpm-deps.sh
Owners: @ahadas

ovirt: bump populator deps
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  hack/ovirt-populator-rpm-deps.sh
Owners: @ahadas

ovirt: bump populator deps
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  hack/ovirt-populator-rpm-deps.sh
Owners: @ahadas

openstack: block image based VMs
  validation/policies/io/konveyor/forklift/openstack/image_format.rego
  validation/policies/io/konveyor/forklift/openstack/volume_based.rego
  validation/policies/io/konveyor/forklift/openstack/volume_based_test.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: block image based VMs
  validation/policies/io/konveyor/forklift/openstack/image_format.rego
  validation/policies/io/konveyor/forklift/openstack/volume_based.rego
  validation/policies/io/konveyor/forklift/openstack/volume_based_test.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: block image based VMs
  validation/policies/io/konveyor/forklift/openstack/image_format.rego
  validation/policies/io/konveyor/forklift/openstack/volume_based.rego
  validation/policies/io/konveyor/forklift/openstack/volume_based_test.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: block image based VMs
  validation/policies/io/konveyor/forklift/openstack/image_format.rego
  validation/policies/io/konveyor/forklift/openstack/volume_based.rego
  validation/policies/io/konveyor/forklift/openstack/volume_based_test.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: block image based VMs
  validation/policies/io/konveyor/forklift/openstack/image_format.rego
  validation/policies/io/konveyor/forklift/openstack/volume_based.rego
  validation/policies/io/konveyor/forklift/openstack/volume_based_test.rego
Owners: @ahadas, @bennyz, @mmartinv

Allow forklift pods on restricted namespaces
  operator/roles/forkliftcontroller/templates/controller/controller-scc.yml.j2
  pkg/controller/plan/kubevirt.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @mnecas, @ahadas

Split populator-controller service account
  operator/BUILD.bazel
  operator/config/rbac/kustomization.yaml
  operator/config/rbac/populator-controller/role.yaml
  operator/config/rbac/populator-controller/role_binding.yaml
  operator/config/rbac/populator-controller/service_account.yaml
  operator/roles/forkliftcontroller/templates/populator/deployment-populator-controller.yml.j2
Owners: @mnecas

ova: fix migration with multiple disks
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

Split populator-controller service account
  operator/BUILD.bazel
  operator/config/rbac/kustomization.yaml
  operator/config/rbac/populator-controller/role.yaml
  operator/config/rbac/populator-controller/role_binding.yaml
  operator/config/rbac/populator-controller/service_account.yaml
  operator/roles/forkliftcontroller/templates/populator/deployment-populator-controller.yml.j2
Owners: @mnecas

Allow forklift pods on restricted namespaces
  operator/roles/forkliftcontroller/templates/controller/controller-scc.yml.j2
  pkg/controller/plan/kubevirt.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @mnecas, @ahadas

Split populator-controller service account
  operator/BUILD.bazel
  operator/config/rbac/kustomization.yaml
  operator/config/rbac/populator-controller/role.yaml
  operator/config/rbac/populator-controller/role_binding.yaml
  operator/config/rbac/populator-controller/service_account.yaml
  operator/roles/forkliftcontroller/templates/populator/deployment-populator-controller.yml.j2
Owners: @mnecas

Allow forklift pods on restricted namespaces
  operator/roles/forkliftcontroller/templates/controller/controller-scc.yml.j2
  pkg/controller/plan/kubevirt.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @mnecas, @ahadas

Tests: make the namespaces restricted
  tests/suit/framework/framework.go
Owners: @ahadas, @eslutsky, @liranr23

api: Add Forklift API to scheme during initialization
  cmd/forklift-api/BUILD.bazel
  cmd/forklift-api/forklift-api.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

ova: fix migration with multiple disks
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

ova: fix migration with multiple disks
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

Allow forklift pods on restricted namespaces
  operator/roles/forkliftcontroller/templates/controller/controller-scc.yml.j2
  pkg/controller/plan/kubevirt.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @mnecas, @ahadas

Split populator-controller service account
  operator/BUILD.bazel
  operator/config/rbac/kustomization.yaml
  operator/config/rbac/populator-controller/role.yaml
  operator/config/rbac/populator-controller/role_binding.yaml
  operator/config/rbac/populator-controller/service_account.yaml
  operator/roles/forkliftcontroller/templates/populator/deployment-populator-controller.yml.j2
Owners: @mnecas

Tests: make the namespaces restricted
  tests/suit/framework/framework.go
Owners: @ahadas, @eslutsky, @liranr23

Tests: make the namespaces restricted
  tests/suit/framework/framework.go
Owners: @ahadas, @eslutsky, @liranr23

Allow forklift pods on restricted namespaces
  operator/roles/forkliftcontroller/templates/controller/controller-scc.yml.j2
  pkg/controller/plan/kubevirt.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @mnecas, @ahadas

Split populator-controller service account
  operator/BUILD.bazel
  operator/config/rbac/kustomization.yaml
  operator/config/rbac/populator-controller/role.yaml
  operator/config/rbac/populator-controller/role_binding.yaml
  operator/config/rbac/populator-controller/service_account.yaml
  operator/roles/forkliftcontroller/templates/populator/deployment-populator-controller.yml.j2
Owners: @mnecas

api: Add Forklift API to scheme during initialization
  cmd/forklift-api/BUILD.bazel
  cmd/forklift-api/forklift-api.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

api: Add Forklift API to scheme during initialization
  cmd/forklift-api/BUILD.bazel
  cmd/forklift-api/forklift-api.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas
