Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

controller: consume progress in metrics from virt-v2v EL9 image
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

virt-v2v-monitor: a tool for monitoring virt-v2v progress
  cmd/virt-v2v-monitor/BUILD.bazel
  cmd/virt-v2v-monitor/virt-v2v-monitor.go
Owners: @ahadas

controller: move decision on EL8/EL9 to plan context
  pkg/controller/plan/context/migration.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

kubevirt: remove unused function
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

controller: consume progress in metrics from virt-v2v EL9 image
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

controller: move decision on EL8/EL9 to plan context
  pkg/controller/plan/context/migration.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

virt-v2v-monitor: a tool for monitoring virt-v2v progress
  cmd/virt-v2v-monitor/BUILD.bazel
  cmd/virt-v2v-monitor/virt-v2v-monitor.go
Owners: @ahadas

virt-v2v: make sure environment variables are defined
  virt-v2v/cold/entrypoint
Owners: @nyoxi

kubevirt: remove unused function
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

virt-v2v: Run virt-v2v-monitor in image for cold migration
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/cold/entrypoint
Owners: @nyoxi

Fix UseEl9VirtV2v
  pkg/controller/plan/context/migration.go
Owners: @ahadas

Drop SeccompProfile from populator pod
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

Drop SeccompProfile from populator pod
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

Drop SeccompProfile from populator pod
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

add more logs to CI
  .github/workflows/pull-request.yml
Owners: @ahadas

Fix UseEl9VirtV2v
  pkg/controller/plan/context/migration.go
Owners: @ahadas

Fix UseEl9VirtV2v
  pkg/controller/plan/context/migration.go
Owners: @ahadas

Add progress reporting for openstack
  cmd/openstack-populator/BUILD.bazel
  cmd/openstack-populator/openstack-populator.go
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas, @bennyz, @mmartinv

add const for OvirtVolumePopulator
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

remove done channel
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

cleanup openstack populator and add support for ovirt in controller
  cmd/openstack-populator/openstack-populator.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas, @bennyz, @mmartinv

fix BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
Owners: @ahadas

add progress to ovirt
  cmd/ovirt-populator/BUILD.bazel
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

Add missing VIRT_V2V_WARM_IMAGE env var to CSV
  operator/config/manager/manager.yaml
Owners: @mnecas

Fix guestConversionPod
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Add missing VIRT_V2V_WARM_IMAGE env var to CSV
  operator/config/manager/manager.yaml
Owners: @mnecas

Add missing VIRT_V2V_WARM_IMAGE env var to CSV
  operator/config/manager/manager.yaml
Owners: @mnecas

Fix guestConversionPod
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix guestConversionPod
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

dont delete namespace after tests complete
  tests/suit/framework/framework.go
  tests/suit/tests_suite_test.go
Owners: @ahadas, @eslutsky, @liranr23

fix BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
Owners: @ahadas

Add progress reporting for openstack
  cmd/openstack-populator/BUILD.bazel
  cmd/openstack-populator/openstack-populator.go
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas, @bennyz, @mmartinv

add const for OvirtVolumePopulator
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

add progress to ovirt
  cmd/ovirt-populator/BUILD.bazel
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

cleanup openstack populator and add support for ovirt in controller
  cmd/openstack-populator/openstack-populator.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas, @bennyz, @mmartinv

cleanup openstack populator and add support for ovirt in controller
  cmd/openstack-populator/openstack-populator.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas, @bennyz, @mmartinv

add const for OvirtVolumePopulator
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

Add progress reporting for openstack
  cmd/openstack-populator/BUILD.bazel
  cmd/openstack-populator/openstack-populator.go
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas, @bennyz, @mmartinv

remove done channel
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

add progress to ovirt
  cmd/ovirt-populator/BUILD.bazel
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
