Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

Use System CA certs when "cacert" is missing
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Apply missing 'Fault' field to 'VM' model
  pkg/controller/provider/container/openstack/resource.go
Owners: @ahadas, @bennyz, @mmartinv

Remove unused code
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/client.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/apiversions/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/compute/apiversions/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/apiversions/errors.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/apiversions/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/apiversions/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/apiversions/urls.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

Implement workload REST API
  pkg/controller/provider/container/openstack/watch.go
  pkg/controller/provider/web/openstack/doc.go
  pkg/controller/provider/web/openstack/workload.go
Owners: @ahadas, @bennyz, @mmartinv

Fix missing check in client Get method
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Implement missing Finder methods
  pkg/controller/provider/web/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Use the ChangesSince filter for Flavor updates
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

Monitor Image, Volume and Snapshot changes
  pkg/controller/map/storage/handler/openstack/handler.go
  pkg/controller/provider/web/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Use the ChangesSince filter for Flavor updates
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

Retrieve volumetypes inventory and implement REST API
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/container/openstack/model.go
  pkg/controller/provider/container/openstack/resource.go
  pkg/controller/provider/model/openstack/doc.go
  pkg/controller/provider/model/openstack/model.go
  pkg/controller/provider/model/openstack/tree.go
  pkg/controller/provider/web/openstack/BUILD.bazel
  pkg/controller/provider/web/openstack/client.go
  pkg/controller/provider/web/openstack/doc.go
  pkg/controller/provider/web/openstack/provider.go
  pkg/controller/provider/web/openstack/volumetype.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/urls.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

Implement workload REST API
  pkg/controller/provider/container/openstack/watch.go
  pkg/controller/provider/web/openstack/doc.go
  pkg/controller/provider/web/openstack/workload.go
Owners: @ahadas, @bennyz, @mmartinv

Fix source code format
  pkg/controller/provider/container/vsphere/collector.go
  pkg/controller/provider/validation.go
Owners: @ahadas

Fix incorrect field mapping and add missing fields
  pkg/controller/provider/container/openstack/resource.go
Owners: @ahadas, @bennyz, @mmartinv

Retrieve network inventory and implement REST API
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/container/openstack/model.go
  pkg/controller/provider/container/openstack/resource.go
  pkg/controller/provider/model/openstack/doc.go
  pkg/controller/provider/model/openstack/model.go
  pkg/controller/provider/model/openstack/tree.go
  pkg/controller/provider/web/openstack/BUILD.bazel
  pkg/controller/provider/web/openstack/client.go
  pkg/controller/provider/web/openstack/doc.go
  pkg/controller/provider/web/openstack/network.go
  pkg/controller/provider/web/openstack/provider.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/networks/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/networks/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/networks/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/networks/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/extensions/networks/urls.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

Change RxTXFactor type in database model
  pkg/controller/provider/container/openstack/resource.go
  pkg/controller/provider/model/openstack/model.go
  pkg/controller/provider/web/openstack/flavor.go
Owners: @ahadas, @bennyz, @mmartinv

Use libmodel.NotFound instead of custom type
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/container/openstack/collector.go
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

Delete unexisting objects from the DB
  pkg/controller/provider/container/openstack/collector.go
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

Use libmodel.NotFound instead of custom type
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/container/openstack/collector.go
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

Improving automated vm name renaming handling
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/kubevirt_test.go
  validation/policies/io/konveyor/forklift/ovirt/name.rego
  validation/policies/io/konveyor/forklift/vmware/name.rego
Owners: @ahadas

Improving automated vm name renaming handling
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/kubevirt_test.go
  validation/policies/io/konveyor/forklift/ovirt/name.rego
  validation/policies/io/konveyor/forklift/vmware/name.rego
Owners: @ahadas

Use centos-stream8 based libguestfs-appliance
  WORKSPACE
Owners: @ahadas

Fix the file-name to vol-name
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

Fix the file-name to vol-name
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

Fix the file-name to vol-name
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

Fix the step and phasing for initalization
  pkg/controller/plan/migration.go
Owners: @ahadas

Fix the step and phasing for initalization
  pkg/controller/plan/migration.go
Owners: @ahadas

Fix the step and phasing for initalization
  pkg/controller/plan/migration.go
Owners: @ahadas

Bazel: Fix libguestfs-appliance digest
  WORKSPACE
Owners: @ahadas

Push the populator image
  .github/workflows/build-push-images.yml
  Makefile
Owners: @ahadas

Bazel: Fix libguestfs-appliance digest
  WORKSPACE
Owners: @ahadas

Bazel: Fix libguestfs-appliance digest
  WORKSPACE
Owners: @ahadas

Push the populator image
  .github/workflows/build-push-images.yml
  Makefile
Owners: @ahadas

Push the populator image
  .github/workflows/build-push-images.yml
  Makefile
Owners: @ahadas

virt-v2v: make bazeldnf output stable
  WORKSPACE
  hack/virt-v2v-stream8-rpm-deps.sh
  rpm/BUILD.bazel
Owners: @ahadas

virt-v2v: Drop qemu-guest-agent dependency
  WORKSPACE
  hack/virt-v2v-stream8-rpm-deps.sh
  rpm/BUILD.bazel
Owners: @ahadas

gitignore: Ignore .bazeldnf directory
  .gitignore
Owners: @ahadas

virt-v2v: Remove qemu-* dependencies
  hack/virt-v2v-stream8-rpm-deps.sh
Owners: @ahadas

Update bazel files
  tests/BUILD.bazel
  tests/suit/BUILD.bazel
  tests/suit/framework/BUILD.bazel
Owners: @ahadas, @eslutsky, @liranr23

Update bazel files
  tests/BUILD.bazel
  tests/suit/BUILD.bazel
  tests/suit/framework/BUILD.bazel
Owners: @ahadas, @eslutsky, @liranr23

Update bazel files
  tests/BUILD.bazel
  tests/suit/BUILD.bazel
  tests/suit/framework/BUILD.bazel
Owners: @ahadas, @eslutsky, @liranr23
