Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold, @rgolangh

Bump to UBI 9.6
  build/forklift-api/Containerfile
  build/forklift-api/Containerfile-downstream
  build/forklift-controller/Containerfile
  build/forklift-controller/Containerfile-downstream
  build/forklift-operator-index/Containerfile
  build/openstack-populator/Containerfile
  build/openstack-populator/Containerfile-downstream
  build/ova-provider-server/Containerfile
  build/ova-provider-server/Containerfile-downstream
  build/populator-controller/Containerfile
  build/populator-controller/Containerfile-downstream
  build/validation/Containerfile
  build/validation/Containerfile-downstream
  build/virt-v2v/Containerfile
  build/virt-v2v/Containerfile-downstream
  build/virt-v2v/Containerfile-upstream
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Bump to UBI 9.6
  build/forklift-api/Containerfile
  build/forklift-api/Containerfile-downstream
  build/forklift-controller/Containerfile
  build/forklift-controller/Containerfile-downstream
  build/forklift-operator-index/Containerfile
  build/openstack-populator/Containerfile
  build/openstack-populator/Containerfile-downstream
  build/ova-provider-server/Containerfile
  build/ova-provider-server/Containerfile-downstream
  build/populator-controller/Containerfile
  build/populator-controller/Containerfile-downstream
  build/validation/Containerfile
  build/validation/Containerfile-downstream
  build/virt-v2v/Containerfile
  build/virt-v2v/Containerfile-downstream
  build/virt-v2v/Containerfile-upstream
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

MTV-2464 | Regerated rpms.lock files
  .konflux/forklift-api/redhat.repo
  .konflux/forklift-controller/redhat.repo
  .konflux/openstack-populator/redhat.repo
  .konflux/ova-provider-server/redhat.repo
  .konflux/populator-controller/redhat.repo
  .konflux/virt-v2v/redhat.repo
  .konflux/virt-v2v/rpms.lock.yaml
  build/virt-v2v/Containerfile-upstream
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

MTV-2464 | Regerated rpms.lock files
  .konflux/forklift-api/redhat.repo
  .konflux/forklift-controller/redhat.repo
  .konflux/openstack-populator/redhat.repo
  .konflux/ova-provider-server/redhat.repo
  .konflux/populator-controller/redhat.repo
  .konflux/virt-v2v/redhat.repo
  .konflux/virt-v2v/rpms.lock.yaml
  build/virt-v2v/Containerfile-upstream
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

Add nudge capability
  .tekton/forklift-operator-bundle-dev-preview-pull-request.yaml
  build/forklift-operator-bundle/Containerfile-downstream
  build/forklift-operator-bundle/images.conf
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

Fix failure in xcopy not being propagated to Pod failure
  cmd/vsphere-xcopy-volume-populator/go.sum
  cmd/vsphere-xcopy-volume-populator/internal/populator/remote_esxcli.go
Owners: @rgolangh, @mnecas

Add nudge capability (#1910)
  .tekton/forklift-operator-bundle-dev-preview-pull-request.yaml
  build/forklift-operator-bundle/Containerfile-downstream
  build/forklift-operator-bundle/images.conf
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

Add nudge capability (#1910)
  .tekton/forklift-operator-bundle-dev-preview-pull-request.yaml
  build/forklift-operator-bundle/Containerfile-downstream
  build/forklift-operator-bundle/images.conf
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

Update bundle references
  .tekton/forklift-operator-bundle-dev-preview-pull-request.yaml
  .tekton/forklift-operator-bundle-dev-preview-push.yaml
  build/forklift-operator-bundle/images.conf
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

Update bundle references (#1916)
  .tekton/forklift-operator-bundle-dev-preview-pull-request.yaml
  .tekton/forklift-operator-bundle-dev-preview-push.yaml
  build/forklift-operator-bundle/images.conf
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

Update bundle references (#1916)
  .tekton/forklift-operator-bundle-dev-preview-pull-request.yaml
  .tekton/forklift-operator-bundle-dev-preview-push.yaml
  build/forklift-operator-bundle/images.conf
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

Fix failure in xcopy not being propagated to Pod failure (#1915)
  cmd/vsphere-xcopy-volume-populator/go.sum
  cmd/vsphere-xcopy-volume-populator/internal/populator/remote_esxcli.go
Owners: @rgolangh, @mnecas

Fix failure in xcopy not being propagated to Pod failure (#1915)
  cmd/vsphere-xcopy-volume-populator/go.sum
  cmd/vsphere-xcopy-volume-populator/internal/populator/remote_esxcli.go
Owners: @rgolangh, @mnecas

xcopy-populator: vmkfstools-wrapper now doesn't require a restart of hostd
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/create-vib.sh
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/esxcli-vmkfstools.xml
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/vib-install-playbook.yaml
Owners: @rgolangh, @mnecas

xcopy-populator: Ensure VIB is installed automatically
  cmd/vsphere-xcopy-volume-populator/Makefile
  cmd/vsphere-xcopy-volume-populator/internal/populator/populate.go
  cmd/vsphere-xcopy-volume-populator/internal/populator/remote_esxcli.go
  cmd/vsphere-xcopy-volume-populator/internal/populator/vib.go
  cmd/vsphere-xcopy-volume-populator/internal/vmware/client.go
  cmd/vsphere-xcopy-volume-populator/internal/vmware/mocks/vmware_mock_client.go
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/Makefile
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/create-vib.sh
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/version.mk
  operator/.kustomized_manifests
  operator/config/rbac/forklift-controller_role.yaml
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @rgolangh, @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

xcopy-populator: Ensure VIB is installed automatically
  cmd/vsphere-xcopy-volume-populator/Makefile
  cmd/vsphere-xcopy-volume-populator/internal/populator/populate.go
  cmd/vsphere-xcopy-volume-populator/internal/populator/remote_esxcli.go
  cmd/vsphere-xcopy-volume-populator/internal/populator/vib.go
  cmd/vsphere-xcopy-volume-populator/internal/vmware/client.go
  cmd/vsphere-xcopy-volume-populator/internal/vmware/mocks/vmware_mock_client.go
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/Makefile
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/create-vib.sh
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/version.mk
  operator/.kustomized_manifests
  operator/config/rbac/forklift-controller_role.yaml
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @rgolangh, @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

xcopy-populator: vmkfstools-wrapper now doesn't require a restart of hostd
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/create-vib.sh
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/esxcli-vmkfstools.xml
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/vib-install-playbook.yaml
Owners: @rgolangh, @mnecas

xcopy-populator: vmkfstools-wrapper now doesn't require a restart of hostd
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/create-vib.sh
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/esxcli-vmkfstools.xml
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/vib-install-playbook.yaml
Owners: @rgolangh, @mnecas

xcopy-populator: Ensure VIB is installed automatically
  cmd/vsphere-xcopy-volume-populator/Makefile
  cmd/vsphere-xcopy-volume-populator/internal/populator/populate.go
  cmd/vsphere-xcopy-volume-populator/internal/populator/remote_esxcli.go
  cmd/vsphere-xcopy-volume-populator/internal/populator/vib.go
  cmd/vsphere-xcopy-volume-populator/internal/vmware/client.go
  cmd/vsphere-xcopy-volume-populator/internal/vmware/mocks/vmware_mock_client.go
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/Makefile
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/create-vib.sh
  cmd/vsphere-xcopy-volume-populator/vmkfstools-wrapper/version.mk
  operator/.kustomized_manifests
  operator/config/rbac/forklift-controller_role.yaml
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @rgolangh, @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

[BUNDLE-RELEASE] Change trigger to commit messages
  .tekton/forklift-operator-bundle-dev-preview-pull-request.yaml
  .tekton/forklift-operator-bundle-dev-preview-push.yaml
  build/forklift-operator-bundle/Containerfile-downstream
  build/forklift-operator-bundle/images.conf
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

[BUNDLE-RELEASE] Change trigger to commit messages (#1917)
  .tekton/forklift-operator-bundle-dev-preview-pull-request.yaml
  .tekton/forklift-operator-bundle-dev-preview-push.yaml
  build/forklift-operator-bundle/Containerfile-downstream
  build/forklift-operator-bundle/images.conf
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

[BUNDLE-RELEASE] Change trigger to commit messages (#1917)
  .tekton/forklift-operator-bundle-dev-preview-pull-request.yaml
  .tekton/forklift-operator-bundle-dev-preview-push.yaml
  build/forklift-operator-bundle/Containerfile-downstream
  build/forklift-operator-bundle/images.conf
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

[BUNDLE-RELEASE] Try getting push commit message
  .tekton/forklift-operator-bundle-dev-preview-push.yaml
Owners: @solenoci, @mnecas

[BUNDLE-RELEASE] Try getting push commit message (#1918)
  .tekton/forklift-operator-bundle-dev-preview-push.yaml
Owners: @solenoci, @mnecas

[BUNDLE-RELEASE] Try getting push commit message (#1918)
  .tekton/forklift-operator-bundle-dev-preview-push.yaml
Owners: @solenoci, @mnecas

Enable nudging of refs in images.conf
  .tekton/forklift-api-dev-preview-push.yaml
Owners: @solenoci, @mnecas

Enable nudging of refs in images.conf (#1919)
  .tekton/forklift-api-dev-preview-push.yaml
Owners: @solenoci, @mnecas

Enable nudging of refs in images.conf (#1919)
  .tekton/forklift-api-dev-preview-push.yaml
Owners: @solenoci, @mnecas

Move quay img refs from images.conf
  .tekton/forklift-api-dev-preview-push.yaml
  build/forklift-operator-bundle/Containerfile-downstream
  build/forklift-operator-bundle/images.conf
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

Move quay img refs from images.conf (#1921)
  .tekton/forklift-api-dev-preview-push.yaml
  build/forklift-operator-bundle/Containerfile-downstream
  build/forklift-operator-bundle/images.conf
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

Move quay img refs from images.conf (#1921)
  .tekton/forklift-api-dev-preview-push.yaml
  build/forklift-operator-bundle/Containerfile-downstream
  build/forklift-operator-bundle/images.conf
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

Try 'head_commit.message' for pac github data
  .tekton/forklift-operator-bundle-dev-preview-push.yaml
Owners: @solenoci, @mnecas

Try 'head_commit.message' for pac github data (#1924)
  .tekton/forklift-operator-bundle-dev-preview-push.yaml
Owners: @solenoci, @mnecas

Try 'head_commit.message' for pac github data (#1924)
  .tekton/forklift-operator-bundle-dev-preview-push.yaml
Owners: @solenoci, @mnecas

Display all variations of github payload
  .tekton/forklift-operator-bundle-dev-preview-push.yaml
  build/forklift-operator-bundle/Containerfile-downstream
  build/forklift-operator-bundle/images.conf
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

Display all variations of github payload (#1925)
  .tekton/forklift-operator-bundle-dev-preview-push.yaml
  build/forklift-operator-bundle/Containerfile-downstream
  build/forklift-operator-bundle/images.conf
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

Display all variations of github payload (#1925)
  .tekton/forklift-operator-bundle-dev-preview-push.yaml
  build/forklift-operator-bundle/Containerfile-downstream
  build/forklift-operator-bundle/images.conf
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

wip
  cmd/vsphere-xcopy-volume-populator/certificate-tool/pkg/vmware/vms.go
Owners: @rgolangh, @mnecas

Update go.mod
  go.mod
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Update govmomi filter
  pkg/controller/provider/container/vsphere/collector.go
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

.github/CODEOWNERS:

* @mnecas @yaacov @solenoci @Hazanel @mrnold
.konflux @solenoci @mnecas
.tekton  @solenoci @mnecas
renovate.json @solenoci @mnecas
docs @mnecas @yaacov
cmd/vsphere-xcopy-volume-populator @rgolangh @mnecas
