Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

ocp: add immediate bind for OCP source DVs
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

ocp: add immediate bind for OCP source DVs
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

ocp: add immediate bind for OCP source DVs
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

ocp: add immediate bind for OCP source DVs
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

ocp: add immediate bind for OCP source DVs
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Change ova storage name to represent source provider
  pkg/controller/provider/container/ova/model.go
Owners: @ahadas

Change ova storage name to represent source provider
  pkg/controller/provider/container/ova/model.go
Owners: @ahadas

Change ova storage name to represent source provider
  pkg/controller/provider/container/ova/model.go
Owners: @ahadas

backport for https://github.com/kubev2v/forklift/pull/560
  pkg/controller/provider/container/ova/model.go
Owners: @ahadas

backport for https://github.com/kubev2v/forklift/pull/560
  pkg/controller/provider/container/ova/model.go
Owners: @ahadas

Default OVA VMs firmware to EFI
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

rephrase comment about disabling secure boot
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

rename Bios to BIOS
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

rename Bios to BIOS
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

rephrase comment about disabling secure boot
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

rephrase comment about disabling secure boot
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

Default OVA VMs firmware to EFI
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

Default OVA VMs firmware to EFI
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

rename Bios to BIOS
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

Fix secret admitter to allow OVA provider creation
  operator/config/rbac/api/role.yaml
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @mnecas, @ahadas

polish recent changes to secret-admitter
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

Default OVA VMs firmware to EFI
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

rephrase comment about disabling secure boot
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

rename Bios to BIOS
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

rename Bios to BIOS
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

rephrase comment about disabling secure boot
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

Default OVA VMs firmware to EFI
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

Fix secret admitter to allow OVA provider creation
  operator/config/rbac/api/role.yaml
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @mnecas, @ahadas

polish recent changes to secret-admitter
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

Fix secret admitter to allow OVA provider creation
  operator/config/rbac/api/role.yaml
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @mnecas, @ahadas

polish recent changes to secret-admitter
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

Fix secret admitter to allow OVA provider creation
  operator/config/rbac/api/role.yaml
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @mnecas, @ahadas

polish recent changes to secret-admitter
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

Fix secret admitter to allow OVA provider creation
  operator/config/rbac/api/role.yaml
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @mnecas, @ahadas

polish recent changes to secret-admitter
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

Replace 'printf' with 'echo -ne'
  virt-v2v/cold/BUILD.bazel
Owners: @nyoxi

Replace 'printf' with 'echo -ne'
  virt-v2v/cold/BUILD.bazel
Owners: @nyoxi

Replace 'printf' with 'echo -ne'
  virt-v2v/cold/BUILD.bazel
Owners: @nyoxi

openstack: update VM revision on volume change
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: set revisionValidated to zero
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv
