Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

Better explanation for restoring plan's referenced data
  pkg/controller/plan/controller.go
Owners: @ahadas

Minor cleanup
  pkg/controller/plan/controller.go
Owners: @ahadas

transition pull-request to composite shared actions from CI
  .github/workflows/pull-request.yml
Owners: @ahadas

bump CI to version 3.0
  .github/workflows/pull-request.yml
Owners: @ahadas

transition pull-request to composite shared actions from CI
  .github/workflows/pull-request.yml
Owners: @ahadas

bump CI to version 3.0
  .github/workflows/pull-request.yml
Owners: @ahadas

CI openstack tests with https keystone
  Makefile
  tests/suit/framework/openstack.go
  tests/suit/openstack_extended_test.go
  tests/suit/utils/common.go
  tests/suit/utils/http.go
Owners: @ahadas, @eslutsky, @liranr23

Enforce TLS on the must-gather-api service
  operator/docs/k8s.md
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/must-gather-api/ca.yml.j2
  operator/roles/forkliftcontroller/templates/must-gather-api/deployment-must-gather-api.yml.j2
  operator/roles/forkliftcontroller/templates/must-gather-api/service-must-gather-api.yml.j2
  operator/roles/forkliftcontroller/templates/ui/configmap-ui.yml.j2
Owners: @mnecas

Enforce TLS on the inventory service
  operator/docs/k8s.md
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/controller/ca.yml.j2
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  operator/roles/forkliftcontroller/templates/controller/route-inventory.yml.j2
  operator/roles/forkliftcontroller/templates/controller/service-inventory.yml.j2
  operator/roles/forkliftcontroller/templates/ui/configmap-ui.yml.j2
  pkg/settings/inventory.go
Owners: @mnecas, @ahadas

Enforce TLS on the validation service
  operator/docs/k8s.md
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  operator/roles/forkliftcontroller/templates/validation/ca.yml.j2
  operator/roles/forkliftcontroller/templates/validation/deployment-validation.yml.j2
  validation/entrypoint.sh
Owners: @mnecas, @ahadas

Do not annotate OpenShift's serving-cert-secret-name on k8s
  operator/roles/forkliftcontroller/templates/api/service-forklift-api.yml.j2
  operator/roles/forkliftcontroller/templates/controller/service-inventory.yml.j2
  operator/roles/forkliftcontroller/templates/must-gather-api/service-must-gather-api.yml.j2
  operator/roles/forkliftcontroller/templates/validation/service-validation.yml.j2
Owners: @mnecas

CI openstack tests with https keystone
  Makefile
  tests/suit/framework/openstack.go
  tests/suit/openstack_extended_test.go
  tests/suit/utils/common.go
  tests/suit/utils/http.go
Owners: @ahadas, @eslutsky, @liranr23

CI openstack tests with https keystone
  Makefile
  tests/suit/framework/openstack.go
  tests/suit/openstack_extended_test.go
  tests/suit/utils/common.go
  tests/suit/utils/http.go
Owners: @ahadas, @eslutsky, @liranr23

tests: add the webhook annotation to the tests
  tests/suit/forklift_test.go
Owners: @ahadas, @eslutsky, @liranr23

Add populator annotation to the plan
  pkg/forklift-api/webhooks/mutating-webhook/mutators/plan-mutator.go
Owners: @ahadas

Enforce TLS on the inventory service
  operator/docs/k8s.md
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/controller/ca.yml.j2
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  operator/roles/forkliftcontroller/templates/controller/route-inventory.yml.j2
  operator/roles/forkliftcontroller/templates/controller/service-inventory.yml.j2
  operator/roles/forkliftcontroller/templates/ui/configmap-ui.yml.j2
  pkg/settings/inventory.go
Owners: @mnecas, @ahadas

Enforce TLS on the inventory service
  operator/docs/k8s.md
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/controller/ca.yml.j2
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  operator/roles/forkliftcontroller/templates/controller/route-inventory.yml.j2
  operator/roles/forkliftcontroller/templates/controller/service-inventory.yml.j2
  operator/roles/forkliftcontroller/templates/ui/configmap-ui.yml.j2
  pkg/settings/inventory.go
Owners: @mnecas, @ahadas

Enforce TLS on the validation service
  operator/docs/k8s.md
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  operator/roles/forkliftcontroller/templates/validation/ca.yml.j2
  operator/roles/forkliftcontroller/templates/validation/deployment-validation.yml.j2
  validation/entrypoint.sh
Owners: @mnecas, @ahadas

Do not annotate OpenShift's serving-cert-secret-name on k8s
  operator/roles/forkliftcontroller/templates/api/service-forklift-api.yml.j2
  operator/roles/forkliftcontroller/templates/controller/service-inventory.yml.j2
  operator/roles/forkliftcontroller/templates/must-gather-api/service-must-gather-api.yml.j2
  operator/roles/forkliftcontroller/templates/validation/service-validation.yml.j2
Owners: @mnecas

Enforce TLS on the must-gather-api service
  operator/docs/k8s.md
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/must-gather-api/ca.yml.j2
  operator/roles/forkliftcontroller/templates/must-gather-api/deployment-must-gather-api.yml.j2
  operator/roles/forkliftcontroller/templates/must-gather-api/service-must-gather-api.yml.j2
  operator/roles/forkliftcontroller/templates/ui/configmap-ui.yml.j2
Owners: @mnecas

Do not annotate OpenShift's serving-cert-secret-name on k8s
  operator/roles/forkliftcontroller/templates/api/service-forklift-api.yml.j2
  operator/roles/forkliftcontroller/templates/controller/service-inventory.yml.j2
  operator/roles/forkliftcontroller/templates/must-gather-api/service-must-gather-api.yml.j2
  operator/roles/forkliftcontroller/templates/validation/service-validation.yml.j2
Owners: @mnecas

Enforce TLS on the must-gather-api service
  operator/docs/k8s.md
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/must-gather-api/ca.yml.j2
  operator/roles/forkliftcontroller/templates/must-gather-api/deployment-must-gather-api.yml.j2
  operator/roles/forkliftcontroller/templates/must-gather-api/service-must-gather-api.yml.j2
  operator/roles/forkliftcontroller/templates/ui/configmap-ui.yml.j2
Owners: @mnecas

Enforce TLS on the validation service
  operator/docs/k8s.md
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  operator/roles/forkliftcontroller/templates/validation/ca.yml.j2
  operator/roles/forkliftcontroller/templates/validation/deployment-validation.yml.j2
  validation/entrypoint.sh
Owners: @mnecas, @ahadas

tests: add the webhook annotation to the tests
  tests/suit/forklift_test.go
Owners: @ahadas, @eslutsky, @liranr23

tests: add the webhook annotation to the tests
  tests/suit/forklift_test.go
Owners: @ahadas, @eslutsky, @liranr23

Add populator annotation to the plan
  pkg/forklift-api/webhooks/mutating-webhook/mutators/plan-mutator.go
Owners: @ahadas

Add populator annotation to the plan
  pkg/forklift-api/webhooks/mutating-webhook/mutators/plan-mutator.go
Owners: @ahadas

Remove redundant bin/.gitignore
  bin/.gitignore
Owners: @ahadas

Remove redundant bin/.gitignore
  bin/.gitignore
Owners: @ahadas

Remove redundant bin/.gitignore
  bin/.gitignore
Owners: @ahadas

ovirt: Use appropriate units to wait for timeouts
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Fix inventory TLS setting
  pkg/controller/provider/controller.go
  pkg/controller/provider/web/base/client.go
  pkg/settings/inventory.go
Owners: @ahadas

Fix inventory TLS setting
  pkg/controller/provider/controller.go
  pkg/controller/provider/web/base/client.go
  pkg/settings/inventory.go
Owners: @ahadas

Fix inventory TLS setting
  pkg/controller/provider/controller.go
  pkg/controller/provider/web/base/client.go
  pkg/settings/inventory.go
Owners: @ahadas

ovirt: Use appropriate units to wait for timeouts
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt: Use appropriate units to wait for timeouts
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

create one trusted ca issuer using cert manager
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/api/ca.yml.j2
  operator/roles/forkliftcontroller/templates/cert-manager-trusted-ca.yml.j2
  operator/roles/forkliftcontroller/templates/controller/ca.yml.j2
  operator/roles/forkliftcontroller/templates/must-gather-api/ca.yml.j2
Owners: @mnecas

Use trusted CA issuer for validation service
  operator/roles/forkliftcontroller/templates/validation/ca.yml.j2
Owners: @mnecas

Use app_name instead of app_namespace when appropriate
  operator/roles/forkliftcontroller/templates/api/ca.yml.j2
  operator/roles/forkliftcontroller/templates/cert-manager-trusted-ca.yml.j2
  operator/roles/forkliftcontroller/templates/controller/ca.yml.j2
  operator/roles/forkliftcontroller/templates/must-gather-api/ca.yml.j2
  operator/roles/forkliftcontroller/templates/validation/ca.yml.j2
Owners: @mnecas

Cleanup for certificate / issuer names
  operator/roles/forkliftcontroller/defaults/main.yml
Owners: @mnecas
