Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold, @rgolangh

.github/CODEOWNERS:

* @mnecas @yaacov @solenoci @Hazanel @mrnold
.konflux @solenoci @mnecas
.tekton  @solenoci @mnecas
renovate.json @solenoci @mnecas
docs @mnecas @yaacov
cmd/vsphere-xcopy-volume-populator @rgolangh @mnecas

MTV-2271 | Pull images from prod repo (#1888)
  build/forklift-api/Containerfile-downstream
  build/forklift-controller/Containerfile-downstream
  build/forklift-operator-bundle/Containerfile-downstream
  build/forklift-operator/Containerfile-downstream
  build/openstack-populator/Containerfile-downstream
  build/ova-provider-server/Containerfile-downstream
  build/ovirt-populator/Containerfile-downstream
  build/populator-controller/Containerfile-downstream
  build/validation/Containerfile-downstream
  build/virt-v2v/Containerfile-downstream
  build/vsphere-xcopy-volume-populator/Containerfile-downstream
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

MTV-2271 | Pull images from prod repo (#1888)
  build/forklift-api/Containerfile-downstream
  build/forklift-controller/Containerfile-downstream
  build/forklift-operator-bundle/Containerfile-downstream
  build/forklift-operator/Containerfile-downstream
  build/openstack-populator/Containerfile-downstream
  build/ova-provider-server/Containerfile-downstream
  build/ovirt-populator/Containerfile-downstream
  build/populator-controller/Containerfile-downstream
  build/validation/Containerfile-downstream
  build/virt-v2v/Containerfile-downstream
  build/vsphere-xcopy-volume-populator/Containerfile-downstream
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Align the actual DataVolume size request.
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Align the actual DataVolume size request.
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Add the GuestFullName value, as identified by VMware Tools, to the collected data
  pkg/controller/provider/container/vsphere/collector.go
  pkg/controller/provider/container/vsphere/model.go
  pkg/controller/provider/model/vsphere/model.go
  pkg/controller/provider/web/vsphere/vm.go
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Add the GuestFullName value, as identified by VMware Tools, to the collected data
  pkg/controller/provider/container/vsphere/collector.go
  pkg/controller/provider/container/vsphere/model.go
  pkg/controller/provider/model/vsphere/model.go
  pkg/controller/provider/web/vsphere/vm.go
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Add the GuestFullName value, as identified by VMware Tools, to the collected data
  pkg/controller/provider/container/vsphere/collector.go
  pkg/controller/provider/container/vsphere/model.go
  pkg/controller/provider/model/vsphere/model.go
  pkg/controller/provider/web/vsphere/vm.go
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Use proper images for bundle
  build/forklift-operator-bundle/Containerfile-downstream
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Use proper images for bundle (#1895)
  build/forklift-operator-bundle/Containerfile-downstream
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Use proper images for bundle (#1895)
  build/forklift-operator-bundle/Containerfile-downstream
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

MTV-2367 | Keep the disk order between OCP migrations
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

MTV-2367 | Keep the disk order between OCP migrations
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

MTV-2367 | Keep the disk order between OCP migrations
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Collect information about the storage protocols model used by the hosts
  pkg/controller/provider/container/vsphere/collector.go
  pkg/controller/provider/container/vsphere/model.go
  pkg/controller/provider/model/vsphere/model.go
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Collect information about the storage protocols model used by the hosts
  pkg/controller/provider/container/vsphere/collector.go
  pkg/controller/provider/container/vsphere/model.go
  pkg/controller/provider/model/vsphere/model.go
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Collect information about the storage protocols model used by the hosts
  pkg/controller/provider/container/vsphere/collector.go
  pkg/controller/provider/container/vsphere/model.go
  pkg/controller/provider/model/vsphere/model.go
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

made vm name plan safe
  .konflux/validation/go.sum
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @solenoci, @mnecas, @yaacov, @Hazanel, @mrnold

Fix Containerfile-upstream-fssupport kojihub paths
  build/virt-v2v/Containerfile-upstream-fssupport
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Fix Containerfile-upstream-fssupport kojihub paths
  build/virt-v2v/Containerfile-upstream-fssupport
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Fix Containerfile-upstream-fssupport kojihub paths
  build/virt-v2v/Containerfile-upstream-fssupport
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

MTV-2522 | network config script isn't win-2008 compatible
  pkg/virt-v2v/customize/customize.go
  pkg/virt-v2v/customize/scripts/windows/9999-network-config.ps1.tmpl
  pkg/virt-v2v/customize/scripts/windows/9999-restore_config-legacy.ps1
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

MTV-2522 | network config script isn't win-2008 compatible
  pkg/virt-v2v/customize/customize.go
  pkg/virt-v2v/customize/scripts/windows/9999-network-config.ps1.tmpl
  pkg/virt-v2v/customize/scripts/windows/9999-restore_config-legacy.ps1
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

MTV-2426 | Duplicate default persistent routes exist in VM after migration
  pkg/virt-v2v/customize/customize.go
  pkg/virt-v2v/customize/scripts/windows/9999-remove_duplicate_persistent_routes.ps1
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

MTV-2582 | Modify CSV for up/down streams
  .gitignore
  Makefile
  build/forklift-operator-bundle/Containerfile-downstream
  operator/.downstream_manifests
  operator/.upstream_manifests
  operator/PROJECT
  operator/streams/downstream/kustomization.yaml
  operator/streams/downstream/mtv-operator.clusterserviceversion.yaml
  operator/streams/downstream/operator.conf
  operator/streams/prepare-vars.sh
  operator/streams/upstream/forklift-operator.clusterserviceversion.yaml
  operator/streams/upstream/kustomization.yaml
  operator/streams/upstream/operator.conf
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

MTV-2582 | Modify CSV for up/down streams
  .gitignore
  Makefile
  build/forklift-operator-bundle/Containerfile-downstream
  operator/.downstream_manifests
  operator/.upstream_manifests
  operator/PROJECT
  operator/streams/downstream/kustomization.yaml
  operator/streams/downstream/mtv-operator.clusterserviceversion.yaml
  operator/streams/downstream/operator.conf
  operator/streams/prepare-vars.sh
  operator/streams/upstream/forklift-operator.clusterserviceversion.yaml
  operator/streams/upstream/kustomization.yaml
  operator/streams/upstream/operator.conf
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

MTV-2582 | Modify CSV for up/down streams
  .gitignore
  Makefile
  build/forklift-operator-bundle/Containerfile-downstream
  operator/.downstream_manifests
  operator/.upstream_manifests
  operator/PROJECT
  operator/streams/downstream/kustomization.yaml
  operator/streams/downstream/mtv-operator.clusterserviceversion.yaml
  operator/streams/downstream/operator.conf
  operator/streams/prepare-vars.sh
  operator/streams/upstream/forklift-operator.clusterserviceversion.yaml
  operator/streams/upstream/kustomization.yaml
  operator/streams/upstream/operator.conf
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Update forklift-api image ref in bundle
  build/forklift-operator-bundle/Containerfile-downstream
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

xcopy-populator: Fix the VMDisk parsing from path + tests
  cmd/vsphere-xcopy-volume-populator/Makefile
  cmd/vsphere-xcopy-volume-populator/internal/populator/populate.go
  cmd/vsphere-xcopy-volume-populator/internal/populator/populate_test.go
Owners: @rgolangh, @mnecas

Fix downstream v2v image to contain the virt-v2v-in-place
  build/virt-v2v/Containerfile-downstream
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Fix downstream v2v image to contain the virt-v2v-in-place
  build/virt-v2v/Containerfile-downstream
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Fix downstream v2v image to contain the virt-v2v-in-place
  build/virt-v2v/Containerfile-downstream
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

use pvc template to generate pvc name
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Always add Fingerprint to the VMware providers
  pkg/controller/provider/validation.go
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Always add Fingerprint to the VMware providers
  pkg/controller/provider/validation.go
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

Always add Fingerprint to the VMware providers
  pkg/controller/provider/validation.go
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

fix os assessment description
  validation/policies/io/konveyor/forklift/vmware/vm_os.rego
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

fix os assessment description
  validation/policies/io/konveyor/forklift/vmware/vm_os.rego
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

fix os assessment description
  validation/policies/io/konveyor/forklift/vmware/vm_os.rego
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold

MTV-2464 | Regerated rpms.lock files
  .konflux/forklift-api/redhat.repo
  .konflux/forklift-controller/redhat.repo
  .konflux/openstack-populator/redhat.repo
  .konflux/ova-provider-server/redhat.repo
  .konflux/populator-controller/redhat.repo
  .konflux/virt-v2v/redhat.repo
  .konflux/virt-v2v/rpms.lock.yaml
Owners: @solenoci, @mnecas

Bump to UBI 9.6
  build/forklift-api/Containerfile
  build/forklift-api/Containerfile-downstream
  build/forklift-controller/Containerfile
  build/forklift-controller/Containerfile-downstream
  build/forklift-operator-index/Containerfile
  build/openstack-populator/Containerfile
  build/openstack-populator/Containerfile-downstream
  build/ova-provider-server/Containerfile
  build/ova-provider-server/Containerfile-downstream
  build/populator-controller/Containerfile
  build/populator-controller/Containerfile-downstream
  build/validation/Containerfile
  build/validation/Containerfile-downstream
  build/virt-v2v/Containerfile
  build/virt-v2v/Containerfile-downstream
  build/virt-v2v/Containerfile-upstream
Owners: @mnecas, @yaacov, @solenoci, @Hazanel, @mrnold
