Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

Fix vmMap race
  pkg/controller/plan/migration.go
Owners: @ahadas

openstack: fix project sync for new authentication methods
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/client.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/applicationcredentials/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/applicationcredentials/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/applicationcredentials/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/applicationcredentials/urls.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/log/zap/BUILD.bazel
  vendor/sigs.k8s.io/controller-runtime/pkg/log/zap/flags.go
  vendor/sigs.k8s.io/controller-runtime/pkg/log/zap/kube_helpers.go
  vendor/sigs.k8s.io/controller-runtime/pkg/log/zap/zap.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix project sync for new authentication methods
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/client.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/applicationcredentials/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/applicationcredentials/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/applicationcredentials/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/applicationcredentials/urls.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/log/zap/BUILD.bazel
  vendor/sigs.k8s.io/controller-runtime/pkg/log/zap/flags.go
  vendor/sigs.k8s.io/controller-runtime/pkg/log/zap/kube_helpers.go
  vendor/sigs.k8s.io/controller-runtime/pkg/log/zap/zap.go
Owners: @ahadas, @bennyz, @mmartinv

add 10% buffer for vSphere disks
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

makefile: check_container_runtmime -> check_container_runtime
  Makefile
Owners: @ahadas

makefile: check_container_runtmime -> check_container_runtime
  Makefile
Owners: @ahadas

makefile: check_container_runtmime -> check_container_runtime
  Makefile
Owners: @ahadas

Rename REGISTRY_ACCOUNT to REGISTRY_ORG
  .github/workflows/build-push-images.yml
  BUILD.bazel
  Makefile
  README.md
  hack/deploy-to-crc.sh
  hack/release-images.sh
  operator/BUILD.bazel
  virt-v2v/cold/BUILD.bazel
  virt-v2v/warm/BUILD.bazel
Owners: @ahadas, @mnecas, @nyoxi

Makefile targets to deploy/undeploy forklift
  .bazelrc
  .gitignore
  Makefile
  hack/deploy/forklift/kustomization.yaml
  hack/deploy/forklift/resources/forkliftcontroller.yaml
  hack/deploy/operator/kustomization.yaml
  hack/deploy/operator/resources/catalogsource.yaml
  hack/deploy/operator/resources/operatorgroup.yaml
  hack/deploy/operator/resources/subscription.yaml
  hack/deploy/rolebinding/catalog/kustomization.yaml
  hack/deploy/rolebinding/catalog/resources/catalog.yaml
  hack/deploy/rolebinding/default/kustomization.yaml
  hack/deploy/rolebinding/default/resources/default.yaml
  hack/deploy/rolebinding/operator/kustomization.yaml
  hack/deploy/rolebinding/operator/resources/forklift-api.yaml
  hack/deploy/rolebinding/operator/resources/forklift-controller.yaml
  hack/deploy/rolebinding/operator/resources/forklift-default.yaml
  hack/deploy/rolebinding/operator/resources/forklift-operator.yaml
  hack/installation/crc.sh
  hack/installation/env.sh
  hack/installation/kind.sh
  hack/installation/minikube.sh
  hack/installation/registry.sh
Owners: @ahadas, @mnecas

Introduce LUN import from ovirt
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/ovirt/validator.go
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

validation: allow lun storage type
  validation/policies/io/konveyor/forklift/ovirt/disk_storage_type.rego
  validation/policies/io/konveyor/forklift/ovirt/disk_storage_type_test.rego
Owners: @ahadas

Introduce LUN to ovirt inventory
  pkg/controller/provider/container/ovirt/model.go
  pkg/controller/provider/container/ovirt/resource.go
  pkg/controller/provider/model/ovirt/model.go
  pkg/controller/provider/web/ovirt/disk.go
Owners: @ahadas

Add missing 'return'
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Rename Client:DetachDisk to DetachDisks
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

Improve error message when failing to detach LUNs
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Fix check of PVCs for LUNs
  pkg/controller/plan/migration.go
Owners: @ahadas

fix integration with current forkliftci
  Makefile
Owners: @ahadas

Reduce Cognitive Complexity in kubevirt.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

fix integration with current forkliftci
  Makefile
Owners: @ahadas

Rename REGISTRY_ACCOUNT to REGISTRY_ORG
  .github/workflows/build-push-images.yml
  BUILD.bazel
  Makefile
  README.md
  hack/deploy-to-crc.sh
  hack/release-images.sh
  operator/BUILD.bazel
  virt-v2v/cold/BUILD.bazel
  virt-v2v/warm/BUILD.bazel
Owners: @ahadas, @mnecas, @nyoxi

Makefile targets to deploy/undeploy forklift
  .bazelrc
  .gitignore
  Makefile
  hack/deploy/forklift/kustomization.yaml
  hack/deploy/forklift/resources/forkliftcontroller.yaml
  hack/deploy/operator/kustomization.yaml
  hack/deploy/operator/resources/catalogsource.yaml
  hack/deploy/operator/resources/operatorgroup.yaml
  hack/deploy/operator/resources/subscription.yaml
  hack/deploy/rolebinding/catalog/kustomization.yaml
  hack/deploy/rolebinding/catalog/resources/catalog.yaml
  hack/deploy/rolebinding/default/kustomization.yaml
  hack/deploy/rolebinding/default/resources/default.yaml
  hack/deploy/rolebinding/operator/kustomization.yaml
  hack/deploy/rolebinding/operator/resources/forklift-api.yaml
  hack/deploy/rolebinding/operator/resources/forklift-controller.yaml
  hack/deploy/rolebinding/operator/resources/forklift-default.yaml
  hack/deploy/rolebinding/operator/resources/forklift-operator.yaml
  hack/installation/crc.sh
  hack/installation/env.sh
  hack/installation/kind.sh
  hack/installation/minikube.sh
  hack/installation/registry.sh
Owners: @ahadas, @mnecas

Makefile targets to deploy/undeploy forklift
  .bazelrc
  .gitignore
  Makefile
  hack/deploy/forklift/kustomization.yaml
  hack/deploy/forklift/resources/forkliftcontroller.yaml
  hack/deploy/operator/kustomization.yaml
  hack/deploy/operator/resources/catalogsource.yaml
  hack/deploy/operator/resources/operatorgroup.yaml
  hack/deploy/operator/resources/subscription.yaml
  hack/deploy/rolebinding/catalog/kustomization.yaml
  hack/deploy/rolebinding/catalog/resources/catalog.yaml
  hack/deploy/rolebinding/default/kustomization.yaml
  hack/deploy/rolebinding/default/resources/default.yaml
  hack/deploy/rolebinding/operator/kustomization.yaml
  hack/deploy/rolebinding/operator/resources/forklift-api.yaml
  hack/deploy/rolebinding/operator/resources/forklift-controller.yaml
  hack/deploy/rolebinding/operator/resources/forklift-default.yaml
  hack/deploy/rolebinding/operator/resources/forklift-operator.yaml
  hack/installation/crc.sh
  hack/installation/env.sh
  hack/installation/kind.sh
  hack/installation/minikube.sh
  hack/installation/registry.sh
Owners: @ahadas, @mnecas

fix integration with current forkliftci
  Makefile
Owners: @ahadas

Rename REGISTRY_ACCOUNT to REGISTRY_ORG
  .github/workflows/build-push-images.yml
  BUILD.bazel
  Makefile
  README.md
  hack/deploy-to-crc.sh
  hack/release-images.sh
  operator/BUILD.bazel
  virt-v2v/cold/BUILD.bazel
  virt-v2v/warm/BUILD.bazel
Owners: @ahadas, @mnecas, @nyoxi

Reduce Cognitive Complexity in kubevirt.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Improve error message when failing to detach LUNs
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Introduce LUN to ovirt inventory
  pkg/controller/provider/container/ovirt/model.go
  pkg/controller/provider/container/ovirt/resource.go
  pkg/controller/provider/model/ovirt/model.go
  pkg/controller/provider/web/ovirt/disk.go
Owners: @ahadas

Fix check of PVCs for LUNs
  pkg/controller/plan/migration.go
Owners: @ahadas

validation: allow lun storage type
  validation/policies/io/konveyor/forklift/ovirt/disk_storage_type.rego
  validation/policies/io/konveyor/forklift/ovirt/disk_storage_type_test.rego
Owners: @ahadas

Reduce Cognitive Complexity in kubevirt.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Rename Client:DetachDisk to DetachDisks
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

Add missing 'return'
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

validation: allow lun storage type
  validation/policies/io/konveyor/forklift/ovirt/disk_storage_type.rego
  validation/policies/io/konveyor/forklift/ovirt/disk_storage_type_test.rego
Owners: @ahadas

Introduce LUN to ovirt inventory
  pkg/controller/provider/container/ovirt/model.go
  pkg/controller/provider/container/ovirt/resource.go
  pkg/controller/provider/model/ovirt/model.go
  pkg/controller/provider/web/ovirt/disk.go
Owners: @ahadas

Introduce LUN import from ovirt
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/ovirt/validator.go
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

Add missing 'return'
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Fix check of PVCs for LUNs
  pkg/controller/plan/migration.go
Owners: @ahadas

Introduce LUN import from ovirt
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/ovirt/validator.go
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

Improve error message when failing to detach LUNs
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Rename Client:DetachDisk to DetachDisks
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
