Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

remove done channel
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

fix BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
Owners: @ahadas

Create a consumer to PVC
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

refresh bazel
  cmd/virt-v2v-monitor/BUILD.bazel
  tests/suit/framework/BUILD.bazel
  virt-v2v/cold/BUILD.bazel
Owners: @ahadas, @eslutsky, @liranr23, @nyoxi

Adding unit testing
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/completeCerts.pem
  pkg/forklift-api/webhooks/mutating-webhook/mutators/engineCert.pem
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator_test.go
Owners: @ahadas

Adding unit testing
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/completeCerts.pem
  pkg/forklift-api/webhooks/mutating-webhook/mutators/engineCert.pem
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator_test.go
Owners: @ahadas

Adding unit testing
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/completeCerts.pem
  pkg/forklift-api/webhooks/mutating-webhook/mutators/engineCert.pem
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator_test.go
Owners: @ahadas

refresh bazel
  cmd/virt-v2v-monitor/BUILD.bazel
  tests/suit/framework/BUILD.bazel
  virt-v2v/cold/BUILD.bazel
Owners: @ahadas, @eslutsky, @liranr23, @nyoxi

Create a consumer to PVC
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Create a consumer to PVC
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

refresh bazel
  cmd/virt-v2v-monitor/BUILD.bazel
  tests/suit/framework/BUILD.bazel
  virt-v2v/cold/BUILD.bazel
Owners: @ahadas, @eslutsky, @liranr23, @nyoxi

add all objects in generated NS
  .github/workflows/pull-request.yml
Owners: @ahadas

rename volume-populator log name to contain controller.
  .github/workflows/pull-request.yml
Owners: @ahadas

add more logs to CI (#212)
  .github/workflows/pull-request.yml
  tests/suit/framework/framework.go
  tests/suit/tests_suite_test.go
Owners: @ahadas, @eslutsky, @liranr23

add more logs to CI (#212)
  .github/workflows/pull-request.yml
  tests/suit/framework/framework.go
  tests/suit/tests_suite_test.go
Owners: @ahadas, @eslutsky, @liranr23

Fix generation of manifests for populator CRDs
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
  pkg/apis/forklift/v1beta1/openstackpopulator.go
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

Fix generation of manifests for populator CRDs
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
  pkg/apis/forklift/v1beta1/openstackpopulator.go
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

Fix generation of manifests for populator CRDs
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
  pkg/apis/forklift/v1beta1/openstackpopulator.go
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

Fix generation of manifests for populator CRDs
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
  pkg/apis/forklift/v1beta1/openstackpopulator.go
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

Fix generation of manifests for populator CRDs
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
  pkg/apis/forklift/v1beta1/openstackpopulator.go
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

operator: Add 2.4 support infomation
  operator/README.md
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

Bump minKubeVersion to 1.24.0 which corresponds to 4.11 ocp
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

Create a consumer for PVCs for vsphere
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Create a consumer for PVCs for vsphere
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Create a consumer for PVCs for vsphere
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Create a consumer for PVCs for vsphere
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Create a consumer for PVCs for vsphere
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Bump minKubeVersion to 1.24.0 which corresponds to 4.11 ocp
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

Bump minKubeVersion to 1.24.0 which corresponds to 4.11 ocp
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

operator: Add 2.4 support infomation
  operator/README.md
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

operator: Add 2.4 support infomation
  operator/README.md
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

Bump minKubeVersion to 1.24.0 which corresponds to 4.11 ocp
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

operator: Add 2.4 support infomation
  operator/README.md
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

operator: Add 2.4 support infomation
  operator/README.md
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

Bump minKubeVersion to 1.24.0 which corresponds to 4.11 ocp
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

operator: Add information about 4.12 ocp support
  operator/README.md
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

Set security context to v2v
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Set the pvc consumer with security context
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

openstack: add comment about SizeBytes field
  pkg/controller/provider/web/openstack/image.go
Owners: @ahadas, @bennyz, @mmartinv

openstack populate SizeBytes
  pkg/controller/provider/web/openstack/image.go
Owners: @ahadas, @bennyz, @mmartinv

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
