Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

openstack: make sure the TLS configuration is applied.
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: rename function
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: allow to configure the endpoint interface
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

controller: fix creation of DataVolume checkpoints (Fixes #301)
  pkg/controller/plan/migration.go
Owners: @ahadas

controller: improve logging related to snapshots
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/migration.go
Owners: @ahadas

controller: fix creation of DataVolume checkpoints (Fixes #301)
  pkg/controller/plan/migration.go
Owners: @ahadas

controller: improve logging related to snapshots
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Keep populator pod and limit the restarts
  pkg/controller/plan/migration.go
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

Fix the warning message for an invalid VM name to say that the maximum size is 63 characters.
  validation/policies/io/konveyor/forklift/openstack/name.rego
  validation/policies/io/konveyor/forklift/ovirt/name.rego
  validation/policies/io/konveyor/forklift/vmware/name.rego
Owners: @ahadas, @bennyz, @mmartinv

Preserve the VM UUID when migrating from RHV
  Makefile
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  tests/suit/framework/BUILD.bazel
  tests/suit/framework/framework.go
  tests/suit/framework/ovirt.go
  tests/suit/ovirt_test.go
  tests/suit/utils/migration.go
Owners: @ahadas, @eslutsky, @liranr23

Cleanup in OpenStack authentication code
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Fix the warning message for an invalid VM name to say that the maximum size is 63 characters.
  validation/policies/io/konveyor/forklift/openstack/name.rego
  validation/policies/io/konveyor/forklift/ovirt/name.rego
  validation/policies/io/konveyor/forklift/vmware/name.rego
Owners: @ahadas, @bennyz, @mmartinv

Fix the warning message for an invalid VM name to say that the maximum size is 63 characters.
  validation/policies/io/konveyor/forklift/openstack/name.rego
  validation/policies/io/konveyor/forklift/ovirt/name.rego
  validation/policies/io/konveyor/forklift/vmware/name.rego
Owners: @ahadas, @bennyz, @mmartinv

Cleanup in OpenStack authentication code
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Cleanup in OpenStack authentication code
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

CI collect rabbitmq log for packstack container
  .github/workflows/pull-request.yml
Owners: @ahadas

Operator: Update the VERSION to 2.4.1
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

oVirt provider: Use POST request instead of GET for auth
  pkg/controller/provider/container/ovirt/client.go
Owners: @ahadas

Operator: Update the VERSION to 2.4.1
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

CI collect rabbitmq log for packstack container
  .github/workflows/pull-request.yml
Owners: @ahadas

CI collect rabbitmq log for packstack container
  .github/workflows/pull-request.yml
Owners: @ahadas

oVirt provider: Use POST request instead of GET for auth
  pkg/controller/provider/container/ovirt/client.go
Owners: @ahadas

oVirt provider: Use POST request instead of GET for auth
  pkg/controller/provider/container/ovirt/client.go
Owners: @ahadas

Preserve the VM UUID when migrating from RHV
  Makefile
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  tests/suit/framework/BUILD.bazel
  tests/suit/framework/framework.go
  tests/suit/framework/ovirt.go
  tests/suit/ovirt_test.go
  tests/suit/utils/migration.go
Owners: @ahadas, @eslutsky, @liranr23

Preserve the VM UUID when migrating from RHV
  Makefile
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  tests/suit/framework/BUILD.bazel
  tests/suit/framework/framework.go
  tests/suit/framework/ovirt.go
  tests/suit/ovirt_test.go
  tests/suit/utils/migration.go
Owners: @ahadas, @eslutsky, @liranr23

Operator: Update the VERSION to 2.5.0
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

Operator: Update the VERSION to 2.5.0
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

Operator: Update the VERSION to 2.5.0
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

Move KubeVirt#isOpenstack to 'Plan'
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Add Plan#IsSourceProviderOvirt
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Move KubeVirt#isOpenstack to 'Plan'
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Add Plan#IsSourceProviderOvirt
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Move KubeVirt#isOpenstack to 'Plan'
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Add Plan#IsSourceProviderOvirt
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

controller: move EL9 image evaluation to plan
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/context/migration.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

openstack: wrap client errors
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: do not shadow returned errors
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: wrap client errors
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: wrap client errors
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

ovirt: perform snapshot removal sequentially
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas
