Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

Remove openstack-populator Containerfile and docker push rule
  WORKSPACE
  hack/openstack-populator/Containerfile
Owners: @ahadas, @bennyz, @mmartinv

openstack: use bazel to build image
  Makefile
  cmd/openstack-populator/BUILD.bazel
Owners: @ahadas, @bennyz, @mmartinv

Remove openstack-populator Containerfile and docker push rule
  WORKSPACE
  hack/openstack-populator/Containerfile
Owners: @ahadas, @bennyz, @mmartinv

openstack: use bazel to build image
  Makefile
  cmd/openstack-populator/BUILD.bazel
Owners: @ahadas, @bennyz, @mmartinv

Bump version to 2.6.0
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

Skip LUN task progress
  pkg/controller/plan/migration.go
Owners: @ahadas

Skip LUN task progress
  pkg/controller/plan/migration.go
Owners: @ahadas

Skip LUN task progress
  pkg/controller/plan/migration.go
Owners: @ahadas

Bump version to 2.6.0
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

Bump version to 2.6.0
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

Fix controller SCC namespace
  operator/roles/forkliftcontroller/templates/controller/controller-scc.yml.j2
Owners: @mnecas

Fix controller SCC namespace
  operator/roles/forkliftcontroller/templates/controller/controller-scc.yml.j2
Owners: @mnecas

Fix controller SCC namespace
  operator/roles/forkliftcontroller/templates/controller/controller-scc.yml.j2
Owners: @mnecas

Skip LUN task progress
  pkg/controller/plan/migration.go
Owners: @ahadas

Fix controller SCC namespace
  operator/roles/forkliftcontroller/templates/controller/controller-scc.yml.j2
Owners: @mnecas

Skip LUN task progress
  pkg/controller/plan/migration.go
Owners: @ahadas

Fix controller SCC namespace
  operator/roles/forkliftcontroller/templates/controller/controller-scc.yml.j2
Owners: @mnecas

add rpmtree
  Makefile
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  cmd/ovirt-populator/deps.sh
Owners: @ahadas

create layers
  Makefile
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  cmd/ovirt-populator/WORKSPACE
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

Cleanup bazelified ovirt populator
  cmd/ovirt-populator/WORKSPACE
  hack/ovirt-populator-rpm-deps.sh
Owners: @ahadas

reorder container_image fields
  cmd/ovirt-populator/BUILD.bazel
Owners: @ahadas

Add missing mounts for virt-v2v container
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Add missing mounts for virt-v2v container
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Add missing mounts for virt-v2v container
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Add missing mounts for virt-v2v container
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Remove usages of ioutil because it's deprected as of go 1.16
  cmd/ova-provider-server/ova-provider-server.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/web/base/client.go
  pkg/controller/validation/policy/client.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/secret-mutator_test.go
  pkg/forklift-api/webhooks/util/util.go
  pkg/lib-volume-populator/populator-machinery/controller.go
  pkg/lib-volume-populator/populator-machinery/metrics_test.go
  pkg/lib/inventory/web/client.go
  tests/suit/utils/common.go
Owners: @ahadas, @eslutsky, @liranr23

Add missing mounts for virt-v2v container
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Remove usages of ioutil because it's deprected as of go 1.16
  cmd/ova-provider-server/ova-provider-server.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/web/base/client.go
  pkg/controller/validation/policy/client.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/secret-mutator_test.go
  pkg/forklift-api/webhooks/util/util.go
  pkg/lib-volume-populator/populator-machinery/controller.go
  pkg/lib-volume-populator/populator-machinery/metrics_test.go
  pkg/lib/inventory/web/client.go
  tests/suit/utils/common.go
Owners: @ahadas, @eslutsky, @liranr23

Remove usages of ioutil because it's deprected as of go 1.16
  cmd/ova-provider-server/ova-provider-server.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/web/base/client.go
  pkg/controller/validation/policy/client.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/secret-mutator_test.go
  pkg/forklift-api/webhooks/util/util.go
  pkg/lib-volume-populator/populator-machinery/controller.go
  pkg/lib-volume-populator/populator-machinery/metrics_test.go
  pkg/lib/inventory/web/client.go
  tests/suit/utils/common.go
Owners: @ahadas, @eslutsky, @liranr23

Remove usages of ioutil because it's deprected as of go 1.16
  cmd/ova-provider-server/ova-provider-server.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/web/base/client.go
  pkg/controller/validation/policy/client.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/secret-mutator_test.go
  pkg/forklift-api/webhooks/util/util.go
  pkg/lib-volume-populator/populator-machinery/controller.go
  pkg/lib-volume-populator/populator-machinery/metrics_test.go
  pkg/lib/inventory/web/client.go
  tests/suit/utils/common.go
Owners: @ahadas, @eslutsky, @liranr23

Remove usages of ioutil because it's deprected as of go 1.16
  cmd/ova-provider-server/ova-provider-server.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/web/base/client.go
  pkg/controller/validation/policy/client.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/secret-mutator_test.go
  pkg/forklift-api/webhooks/util/util.go
  pkg/lib-volume-populator/populator-machinery/controller.go
  pkg/lib-volume-populator/populator-machinery/metrics_test.go
  pkg/lib/inventory/web/client.go
  tests/suit/utils/common.go
Owners: @ahadas, @eslutsky, @liranr23

Fix LUN warm migration
  pkg/apis/forklift/v1beta1/plan/migration.go
Owners: @ahadas

Fix LUN warm migration
  pkg/apis/forklift/v1beta1/plan/migration.go
Owners: @ahadas

Fix LUN warm migration
  pkg/apis/forklift/v1beta1/plan/migration.go
Owners: @ahadas

Fix LUN warm migration
  pkg/apis/forklift/v1beta1/plan/migration.go
Owners: @ahadas

Fix LUN warm migration
  pkg/apis/forklift/v1beta1/plan/migration.go
Owners: @ahadas

validation: fix openstack shared disk validation
  validation/policies/io/konveyor/forklift/openstack/shared_disk.rego
  validation/policies/io/konveyor/forklift/openstack/shared_disk_test.rego
Owners: @ahadas, @bennyz, @mmartinv

Cleanup bazelified ovirt populator
  cmd/ovirt-populator/WORKSPACE
  hack/ovirt-populator-rpm-deps.sh
Owners: @ahadas

reorder container_image fields
  cmd/ovirt-populator/BUILD.bazel
Owners: @ahadas

create layers
  Makefile
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  cmd/ovirt-populator/WORKSPACE
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
