Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

Fix unit size calculation for memory and diks size
  pkg/controller/plan/adapter/ova/BUILD.bazel
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/ova_capacity_test.go
Owners: @ahadas

fixing tests for capacity in an ova
  pkg/controller/plan/adapter/ova/ova_capacity_test.go
Owners: @ahadas

reduce cognitive complexity
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

simplify getResourceCapacity
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/ova_capacity_test.go
Owners: @ahadas

fixing tests for capacity in an ova
  pkg/controller/plan/adapter/ova/ova_capacity_test.go
Owners: @ahadas

reduce cognitive complexity
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

fixing tests for capacity in an ova
  pkg/controller/plan/adapter/ova/ova_capacity_test.go
Owners: @ahadas

simplify getResourceCapacity
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/ova_capacity_test.go
Owners: @ahadas

Fix unit size calculation for memory and diks size
  pkg/controller/plan/adapter/ova/BUILD.bazel
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/ova_capacity_test.go
Owners: @ahadas

reduce cognitive complexity
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

Fix unit size calculation for memory and diks size
  pkg/controller/plan/adapter/ova/BUILD.bazel
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/ova_capacity_test.go
Owners: @ahadas

Fix virt-v2v entrypoint script
  virt-v2v/cold/entrypoint
Owners: @nyoxi

backport https://github.com/kubev2v/forklift/pull/497
  pkg/controller/plan/adapter/ova/BUILD.bazel
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/ova_capacity_test.go
Owners: @ahadas

Fix virt-v2v entrypoint script
  virt-v2v/cold/entrypoint
Owners: @nyoxi

Fix virt-v2v entrypoint script
  virt-v2v/cold/entrypoint
Owners: @nyoxi

Fix virt-v2v entrypoint script
  virt-v2v/cold/entrypoint
Owners: @nyoxi

ocp: fix mapping name check
  pkg/apis/forklift/v1beta1/mapping.go
Owners: @ahadas

ocp: fix mapping name check
  pkg/apis/forklift/v1beta1/mapping.go
Owners: @ahadas

ocp: fix mapping name check
  pkg/apis/forklift/v1beta1/mapping.go
Owners: @ahadas

backport https://github.com/kubev2v/forklift/pull/497
  pkg/controller/plan/adapter/ova/BUILD.bazel
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/ova_capacity_test.go
Owners: @ahadas

Fix virt-v2v entrypoint script
  virt-v2v/cold/entrypoint
Owners: @nyoxi

ocp: fix mapping name check
  pkg/apis/forklift/v1beta1/mapping.go
Owners: @ahadas

Fix disk size alignment when adding FS overhead
  pkg/controller/plan/adapter/openstack/BUILD.bazel
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/utils.go
Owners: @ahadas, @bennyz, @mmartinv

ocp: fix mapping name check
  pkg/apis/forklift/v1beta1/mapping.go
Owners: @ahadas

Replace MustCode with Code and check if the element exists
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Remove go util wait from bazel
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt client: Check if snapshot was created sucesfully
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/web/client.go
Owners: @ahadas

ovirt: Do not wait for timeout when snapshot removal fails
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/provider/web/client.go
Owners: @ahadas

Refactor snapshot removal
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Add check for snapshot removal
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Update the timeout phase with the start time
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ignore events from ovirt without 'code'
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Fix TLS SSL connection to FIPS enabled systems
  .bazelrc
  WORKSPACE
  virt-v2v/cold/.bazerlc
  virt-v2v/cold/BUILD.bazel
Owners: @ahadas, @nyoxi

add -layer suffix to ems layer
  .bazelrc
  virt-v2v/cold/.bazerlc
Owners: @ahadas, @nyoxi

ovirt client: Check if snapshot was created sucesfully
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/web/client.go
Owners: @ahadas

ovirt: Do not wait for timeout when snapshot removal fails
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/provider/web/client.go
Owners: @ahadas

Replace MustCode with Code and check if the element exists
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ignore events from ovirt without 'code'
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Refactor snapshot removal
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Add check for snapshot removal
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
