Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

Propagate volume creation errors
  pkg/controller/plan/migration.go
Owners: @ahadas

OVA: Add support for removing deleted vms from the inventory
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ova/model.go
Owners: @ahadas

OVA: Add support for removing deleted vms from the inventory
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ova/model.go
Owners: @ahadas

OVA: Add support for removing deleted vms from the inventory
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ova/model.go
Owners: @ahadas

Handle FC PV creation
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/ovirt/validator.go
Owners: @ahadas

inventory: add lun id to the inventory
  pkg/controller/provider/container/ovirt/resource.go
  pkg/controller/provider/model/ovirt/model.go
Owners: @ahadas

Add ovirt system version to validate
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ocp/validator.go
  pkg/controller/plan/adapter/openstack/validator.go
  pkg/controller/plan/adapter/ova/validator.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/ovirt/validator.go
  pkg/controller/plan/adapter/vsphere/validator.go
  pkg/controller/plan/validation.go
  pkg/controller/provider/container/ocp/collector.go
  pkg/controller/provider/container/openstack/collector.go
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ovirt/client.go
  pkg/controller/provider/container/ovirt/collector.go
  pkg/controller/provider/container/ovirt/resource.go
  pkg/controller/provider/container/vsphere/collector.go
  pkg/lib/cmd/inventory/main.go
  pkg/lib/inventory/container/container.go
Owners: @ahadas, @bennyz, @mmartinv

inventory: add lun id to the inventory
  pkg/controller/provider/container/ovirt/resource.go
  pkg/controller/provider/model/ovirt/model.go
Owners: @ahadas

Add ovirt system version to validate
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ocp/validator.go
  pkg/controller/plan/adapter/openstack/validator.go
  pkg/controller/plan/adapter/ova/validator.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/ovirt/validator.go
  pkg/controller/plan/adapter/vsphere/validator.go
  pkg/controller/plan/validation.go
  pkg/controller/provider/container/ocp/collector.go
  pkg/controller/provider/container/openstack/collector.go
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ovirt/client.go
  pkg/controller/provider/container/ovirt/collector.go
  pkg/controller/provider/container/ovirt/resource.go
  pkg/controller/provider/container/vsphere/collector.go
  pkg/lib/cmd/inventory/main.go
  pkg/lib/inventory/container/container.go
Owners: @ahadas, @bennyz, @mmartinv

Handle FC PV creation
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/ovirt/validator.go
Owners: @ahadas

Handle FC PV creation
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/ovirt/validator.go
Owners: @ahadas

Add ovirt system version to validate
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ocp/validator.go
  pkg/controller/plan/adapter/openstack/validator.go
  pkg/controller/plan/adapter/ova/validator.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/ovirt/validator.go
  pkg/controller/plan/adapter/vsphere/validator.go
  pkg/controller/plan/validation.go
  pkg/controller/provider/container/ocp/collector.go
  pkg/controller/provider/container/openstack/collector.go
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ovirt/client.go
  pkg/controller/provider/container/ovirt/collector.go
  pkg/controller/provider/container/ovirt/resource.go
  pkg/controller/provider/container/vsphere/collector.go
  pkg/lib/cmd/inventory/main.go
  pkg/lib/inventory/container/container.go
Owners: @ahadas, @bennyz, @mmartinv

inventory: add lun id to the inventory
  pkg/controller/provider/container/ovirt/resource.go
  pkg/controller/provider/model/ovirt/model.go
Owners: @ahadas

Bump forklift to 2.5.4
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

Bump forklift to 2.5.4
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

OVA test: add minor code changes
  tests/suit/framework/ova.go
  tests/suit/utils/storagemap.go
Owners: @ahadas, @eslutsky, @liranr23

Change CI tag to latest version and VM id.
  .github/workflows/pull-request.yml
  tests/suit/framework/ova.go
Owners: @ahadas, @eslutsky, @liranr23

Add e2e test for ova provider
  .github/workflows/pull-request.yml
  Makefile
  tests/suit/BUILD.bazel
  tests/suit/framework/BUILD.bazel
  tests/suit/framework/framework.go
  tests/suit/framework/ova.go
  tests/suit/ova_test.go
  tests/suit/utils/storagemap.go
Owners: @ahadas, @eslutsky, @liranr23

Fix inconsistency of ova server image repo
  Makefile
Owners: @ahadas

minor cleanup
  tests/suit/framework/ova.go
Owners: @ahadas, @eslutsky, @liranr23

Fix inconsistency of ova server image repo
  Makefile
Owners: @ahadas

Change CI tag to latest version and VM id.
  .github/workflows/pull-request.yml
  tests/suit/framework/ova.go
Owners: @ahadas, @eslutsky, @liranr23

minor cleanup
  tests/suit/framework/ova.go
Owners: @ahadas, @eslutsky, @liranr23

Change CI tag to latest version and VM id.
  .github/workflows/pull-request.yml
  tests/suit/framework/ova.go
Owners: @ahadas, @eslutsky, @liranr23

OVA test: add minor code changes
  tests/suit/framework/ova.go
  tests/suit/utils/storagemap.go
Owners: @ahadas, @eslutsky, @liranr23

Add e2e test for ova provider
  .github/workflows/pull-request.yml
  Makefile
  tests/suit/BUILD.bazel
  tests/suit/framework/BUILD.bazel
  tests/suit/framework/framework.go
  tests/suit/framework/ova.go
  tests/suit/ova_test.go
  tests/suit/utils/storagemap.go
Owners: @ahadas, @eslutsky, @liranr23

Add e2e test for ova provider
  .github/workflows/pull-request.yml
  Makefile
  tests/suit/BUILD.bazel
  tests/suit/framework/BUILD.bazel
  tests/suit/framework/framework.go
  tests/suit/framework/ova.go
  tests/suit/ova_test.go
  tests/suit/utils/storagemap.go
Owners: @ahadas, @eslutsky, @liranr23

OVA test: add minor code changes
  tests/suit/framework/ova.go
  tests/suit/utils/storagemap.go
Owners: @ahadas, @eslutsky, @liranr23

Fix inconsistency of ova server image repo
  Makefile
Owners: @ahadas

minor cleanup
  tests/suit/framework/ova.go
Owners: @ahadas, @eslutsky, @liranr23

Add 'app' label to the template of the migrated VM
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Cleanup in KubeVirt#EnsureVM
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Set transfer network on the conversion pod
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Set transfer network on the conversion pod
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Set transfer network on the conversion pod
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Add 'app' label to the template of the migrated VM
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Cleanup in KubeVirt#EnsureVM
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Cleanup in KubeVirt#EnsureVM
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Add 'app' label to the template of the migrated VM
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

ignore vendor/github.com/vmware/govmomi/Dockerfile.vcsim
  .gitignore
Owners: @ahadas
