Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

Define a constant instead of duplicating literals
  cmd/ova-provider-server/ova-provider-server.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Rename local variables to match "^(_|[a-zA-Z0-9]+)$"
  cmd/virt-v2v-monitor/virt-v2v-monitor.go
Owners: @ahadas

Reduce Cognitive Complexity of OpenStack's Handler#changed
  pkg/controller/map/storage/handler/openstack/handler.go
Owners: @ahadas, @bennyz, @mmartinv

Reduce Cognitive Complexity of 'findOVAFiles'
  cmd/ova-provider-server/ova-provider-server.go
Owners: @ahadas

Reduce Cognitive Complexity of virt-v2v-monitor#main
  cmd/virt-v2v-monitor/virt-v2v-monitor.go
Owners: @ahadas

Reduce Cognitive Complexity of KubeVirt#EnsureDataVolumes
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Reduce Cognitive Complexity of Migration#updateConversionProgressEl9
  pkg/controller/plan/migration.go
Owners: @ahadas

Reduce Cognitive Complexity of KubeVirt#SetPopulatorPodOwnership
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Rename local variables to match "^(_|[a-zA-Z0-9]+)$"
  pkg/controller/plan/migration.go
Owners: @ahadas

Reduce Cognitive Complexity of Scheduler#Next
  pkg/controller/plan/scheduler/ocp/scheduler.go
  pkg/controller/plan/scheduler/openstack/scheduler.go
  pkg/controller/plan/scheduler/ovirt/scheduler.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: use bazel to build image
  Makefile
  cmd/openstack-populator/BUILD.bazel
Owners: @ahadas, @bennyz, @mmartinv

Remove openstack-populator Containerfile and docker push rule
  WORKSPACE
  hack/openstack-populator/Containerfile
Owners: @ahadas, @bennyz, @mmartinv

Reduce Cognitive Complexity of KubeVirt#SetPopulatorPodOwnership
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Reduce Cognitive Complexity of KubeVirt#EnsureDataVolumes
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Rename local variables to match "^(_|[a-zA-Z0-9]+)$"
  cmd/virt-v2v-monitor/virt-v2v-monitor.go
Owners: @ahadas

Reduce Cognitive Complexity of Scheduler#Next
  pkg/controller/plan/scheduler/ocp/scheduler.go
  pkg/controller/plan/scheduler/openstack/scheduler.go
  pkg/controller/plan/scheduler/ovirt/scheduler.go
Owners: @ahadas, @bennyz, @mmartinv

Make vSphere's Client#Finalize non-empty
  pkg/controller/plan/adapter/vsphere/client.go
Owners: @ahadas

Reduce Cognitive Complexity of Migration#updateConversionProgressEl9
  pkg/controller/plan/migration.go
Owners: @ahadas

Reduce Cognitive Complexity of virt-v2v-monitor#main
  cmd/virt-v2v-monitor/virt-v2v-monitor.go
Owners: @ahadas

Rename local variables to match "^(_|[a-zA-Z0-9]+)$"
  cmd/virt-v2v-monitor/virt-v2v-monitor.go
Owners: @ahadas

Reduce Cognitive Complexity of 'findOVAFiles'
  cmd/ova-provider-server/ova-provider-server.go
Owners: @ahadas

Reduce Cognitive Complexity of OpenStack's Handler#changed
  pkg/controller/map/storage/handler/openstack/handler.go
Owners: @ahadas, @bennyz, @mmartinv

Make vSphere's Client#Finalize non-empty
  pkg/controller/plan/adapter/vsphere/client.go
Owners: @ahadas

Rename local variables to match "^(_|[a-zA-Z0-9]+)$"
  pkg/controller/plan/migration.go
Owners: @ahadas

Define a constant instead of duplicating literals
  cmd/ova-provider-server/ova-provider-server.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Reduce Cognitive Complexity of OpenStack's Handler#changed
  pkg/controller/map/storage/handler/openstack/handler.go
Owners: @ahadas, @bennyz, @mmartinv

Reduce Cognitive Complexity of 'findOVAFiles'
  cmd/ova-provider-server/ova-provider-server.go
Owners: @ahadas

Reduce Cognitive Complexity of KubeVirt#EnsureDataVolumes
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Reduce Cognitive Complexity of KubeVirt#SetPopulatorPodOwnership
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Reduce Cognitive Complexity of Scheduler#Next
  pkg/controller/plan/scheduler/ocp/scheduler.go
  pkg/controller/plan/scheduler/openstack/scheduler.go
  pkg/controller/plan/scheduler/ovirt/scheduler.go
Owners: @ahadas, @bennyz, @mmartinv

Define a constant instead of duplicating literals
  cmd/ova-provider-server/ova-provider-server.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Reduce Cognitive Complexity of Migration#updateConversionProgressEl9
  pkg/controller/plan/migration.go
Owners: @ahadas

Reduce Cognitive Complexity of virt-v2v-monitor#main
  cmd/virt-v2v-monitor/virt-v2v-monitor.go
Owners: @ahadas

Rename local variables to match "^(_|[a-zA-Z0-9]+)$"
  pkg/controller/plan/migration.go
Owners: @ahadas

Add compatibility to the operator description
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

Add compatibility to the operator description
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

Add compatibility to the operator description
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

typo: supported in OpenShift -> supported on OpenShift
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

typo: supported in OpenShift -> supported on OpenShift
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

typo: supported in OpenShift -> supported on OpenShift
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @mnecas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
