Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

Fix CDI export token config
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
Owners: @mnecas

Return when there is an error in the config
  pkg/settings/migration.go
Owners: @ahadas

Fix CDI export token config
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
Owners: @mnecas

Make the filesystem overhead configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/utils.go
  pkg/settings/logging.go
  pkg/settings/migration.go
  pkg/settings/policy.go
  pkg/settings/profiler.go
  pkg/settings/settings.go
Owners: @mnecas, @ahadas, @bennyz, @mmartinv

Make the filesystem overhead configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/utils.go
  pkg/settings/logging.go
  pkg/settings/migration.go
  pkg/settings/policy.go
  pkg/settings/profiler.go
  pkg/settings/settings.go
Owners: @mnecas, @ahadas, @bennyz, @mmartinv

Return when there is an error in the config
  pkg/settings/migration.go
Owners: @ahadas

Fix CDI export token config
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
Owners: @mnecas

Return when there is an error in the config
  pkg/settings/migration.go
Owners: @ahadas

place USER_UPDATE_VM_DISK in the 'Disk' section
  pkg/controller/provider/container/ovirt/model.go
Owners: @ahadas

place USER_UPDATE_VM_DISK in the 'Disk' section
  pkg/controller/provider/container/ovirt/model.go
Owners: @ahadas

ovirt: Reconcile disk on USER_UPDATE_VM_DISK
  pkg/controller/provider/container/ovirt/model.go
Owners: @ahadas

place USER_UPDATE_VM_DISK in the 'Disk' section
  pkg/controller/provider/container/ovirt/model.go
Owners: @ahadas

ovirt: Reconcile disk on USER_UPDATE_VM_DISK
  pkg/controller/provider/container/ovirt/model.go
Owners: @ahadas

ovirt: Reconcile disk on USER_UPDATE_VM_DISK
  pkg/controller/provider/container/ovirt/model.go
Owners: @ahadas

place USER_UPDATE_VM_DISK in the 'Disk' section
  pkg/controller/provider/container/ovirt/model.go
Owners: @ahadas

ovirt: Reconcile disk on USER_UPDATE_VM_DISK
  pkg/controller/provider/container/ovirt/model.go
Owners: @ahadas

place USER_UPDATE_VM_DISK in the 'Disk' section
  pkg/controller/provider/container/ovirt/model.go
Owners: @ahadas

Make the filesystem overhead configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/utils.go
  pkg/settings/logging.go
  pkg/settings/migration.go
  pkg/settings/policy.go
  pkg/settings/profiler.go
  pkg/settings/settings.go
Owners: @mnecas, @ahadas, @bennyz, @mmartinv

Fix CDI export token config
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
Owners: @mnecas

Return when there is an error in the config
  pkg/settings/migration.go
Owners: @ahadas

Return when there is an error in the config
  pkg/settings/migration.go
Owners: @ahadas

Make the filesystem overhead configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/utils.go
  pkg/settings/logging.go
  pkg/settings/migration.go
  pkg/settings/policy.go
  pkg/settings/profiler.go
  pkg/settings/settings.go
Owners: @mnecas, @ahadas, @bennyz, @mmartinv

Fix CDI export token config
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
Owners: @mnecas

Save annotation of restarts
  pkg/controller/plan/migration.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

Keep the populator pod on failure
  pkg/controller/plan/migration.go
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

Save annotation of restarts
  pkg/controller/plan/migration.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

Decreace updatePopulatorCopyProgress complexity
  pkg/controller/plan/migration.go
Owners: @ahadas

Refactor the code
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Refactor the code
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Decreace updatePopulatorCopyProgress complexity
  pkg/controller/plan/migration.go
Owners: @ahadas

Save annotation of restarts
  pkg/controller/plan/migration.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

Keep the populator pod on failure
  pkg/controller/plan/migration.go
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

fix #452: remove DefaultVirtV2vImage
  pkg/settings/migration.go
Owners: @ahadas

Minor cleanup in Migration#Load
  pkg/settings/migration.go
Owners: @ahadas

Keep the populator pod on failure
  pkg/controller/plan/migration.go
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

Decreace updatePopulatorCopyProgress complexity
  pkg/controller/plan/migration.go
Owners: @ahadas

Refactor the code
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Save annotation of restarts
  pkg/controller/plan/migration.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

Save annotation of restarts
  pkg/controller/plan/migration.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

Keep the populator pod on failure
  pkg/controller/plan/migration.go
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas
