Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

ignore events from ovirt without 'code'
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Remove go util wait from bazel
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt: Do not wait for timeout when snapshot removal fails
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/provider/web/client.go
Owners: @ahadas

Remove go util wait from bazel
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt client: Check if snapshot was created sucesfully
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/web/client.go
Owners: @ahadas

Replace MustCode with Code and check if the element exists
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Add check for snapshot removal
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Update the timeout phase with the start time
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Update the timeout phase with the start time
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Refactor snapshot removal
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Fix disk size alignment when adding FS overhead
  pkg/controller/plan/adapter/openstack/BUILD.bazel
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/utils.go
Owners: @ahadas, @bennyz, @mmartinv

Fix disk size alignment when adding FS overhead
  pkg/controller/plan/adapter/openstack/BUILD.bazel
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/utils.go
Owners: @ahadas, @bennyz, @mmartinv

Fix TLS SSL connection to FIPS enabled systems
  .bazelrc
  WORKSPACE
  virt-v2v/cold/.bazerlc
  virt-v2v/cold/BUILD.bazel
Owners: @ahadas, @nyoxi

add -layer suffix to ems layer
  .bazelrc
  virt-v2v/cold/.bazerlc
Owners: @ahadas, @nyoxi

ovirt client: Check if snapshot was created sucesfully
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/web/client.go
Owners: @ahadas

ovirt: Do not wait for timeout when snapshot removal fails
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/provider/web/client.go
Owners: @ahadas

Refactor snapshot removal
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Add check for snapshot removal
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Update the timeout phase with the start time
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Remove go util wait from bazel
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Replace MustCode with Code and check if the element exists
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ignore events from ovirt without 'code'
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ignore events from ovirt without 'code'
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Refactor snapshot removal
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Remove go util wait from bazel
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt client: Check if snapshot was created sucesfully
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/web/client.go
Owners: @ahadas

Replace MustCode with Code and check if the element exists
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Add check for snapshot removal
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Update the timeout phase with the start time
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt: Do not wait for timeout when snapshot removal fails
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/provider/web/client.go
Owners: @ahadas

virt-v2v: Build our own fixed appliance on el8
  cmd/forklift-controller/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/.bazelrc
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
  virt-v2v/warm/entrypoint
Owners: @ahadas, @nyoxi

virt-v2v: Build our own fixed appliance on el8
  cmd/forklift-controller/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/.bazelrc
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
  virt-v2v/warm/entrypoint
Owners: @ahadas, @nyoxi

backport https://github.com/kubev2v/forklift/pull/512
  pkg/controller/plan/adapter/openstack/BUILD.bazel
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/utils.go
Owners: @ahadas, @bennyz, @mmartinv

virt-v2v: Build our own fixed appliance on el8
  cmd/forklift-controller/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/.bazelrc
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
  virt-v2v/warm/entrypoint
Owners: @ahadas, @nyoxi

backport https://github.com/kubev2v/forklift/pull/512
  pkg/controller/plan/adapter/openstack/BUILD.bazel
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/utils.go
Owners: @ahadas, @bennyz, @mmartinv

virt-v2v: Build our own fixed appliance on el8
  cmd/forklift-controller/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/.bazelrc
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
  virt-v2v/warm/entrypoint
Owners: @ahadas, @nyoxi

remove version pinning for gnostic
  go.mod
  go.sum
  vendor/modules.txt
Owners: @ahadas

fix logger
  pkg/lib/logging/factory.go
Owners: @ahadas

fix dataSourceRef for ovirt
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

resolve conflicts
  go.mod
  go.sum
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/ova/BUILD.bazel
  pkg/controller/provider/container/ova/client.go
  pkg/controller/provider/container/ova/collector.go
  pkg/controller/provider/container/ova/model.go
  pkg/controller/provider/container/ova/watch.go
  pkg/controller/provider/controller.go
  pkg/lib/client/openstack/BUILD.bazel
  pkg/lib/client/openstack/client.go
  vendor/k8s.io/apimachinery/pkg/runtime/converter.go
  vendor/k8s.io/apimachinery/pkg/util/wait/loop.go
  vendor/k8s.io/client-go/util/cert/cert.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
