Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

Upgrade virt-v2v-cold to ubi9
  Makefile
  hack/release-images.sh
  hack/virt-v2v-cold-rpm-deps.sh
  rpm/stream9-repo.yaml
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/cold/entrypoint
Owners: @ahadas, @nyoxi

Nested workspace for virt-v2v-warm
  BUILD.bazel
  Makefile
  WORKSPACE
  hack/release-images.sh
  hack/virt-v2v-warm-rpm-deps.sh
  virt-v2v/BUILD.bazel
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @ahadas, @nyoxi

introduce openstack tesing suite to the CI
  .github/workflows/pull-request.yml
  Makefile
  tests/suit/openstack_test.go
Owners: @ahadas, @eslutsky, @liranr23

introduce openstack tesing suite to the CI
  .github/workflows/pull-request.yml
  Makefile
  tests/suit/openstack_test.go
Owners: @ahadas, @eslutsky, @liranr23

introduce openstack tesing suite to the CI
  .github/workflows/pull-request.yml
  Makefile
  tests/suit/openstack_test.go
Owners: @ahadas, @eslutsky, @liranr23

Fixing auto-generated name suffix in case of already used name
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/vm_name_handler.go
  pkg/controller/plan/vm_name_handler_test.go
Owners: @ahadas

Fixing auto-generated name suffix in case of already used name
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/vm_name_handler.go
  pkg/controller/plan/vm_name_handler_test.go
Owners: @ahadas

Fixing auto-generated name suffix in case of already used name
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/vm_name_handler.go
  pkg/controller/plan/vm_name_handler_test.go
Owners: @ahadas

Better 'NotFound' error handling
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

Fix project sync when the user has no list permissions
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/client.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/errors.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/errors.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/urls.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

Fix VolumeType comparison for unprivileged users
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Fix retrival of engine ca cert request to be secure
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
Owners: @ahadas

build: Use packaging rules from external repository
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

build: Use packaging rules from external repository
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

build: Use packaging rules from external repository
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

Fix retrival of engine ca cert request to be secure
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
Owners: @ahadas

Fix retrival of engine ca cert request to be secure
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
Owners: @ahadas

make the populator deployment optional
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
  operator/config/samples/forklift_v1beta1_forkliftcontroller.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

Add ovirt popoulator deployment
  .bazelrc
  operator/BUILD.bazel
  operator/config/crd/kustomization.yaml
  operator/config/manager/manager.yaml
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
  operator/config/rbac/forklift-controller_role.yaml
  operator/config/samples/forklift_v1beta1_ovirt_populator.yaml
  operator/config/samples/kustomization.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/populator/deployment-populator-controller.yml.j2
Owners: @ahadas, @mnecas

Set oVirt populator image using envvar
  cmd/populator-controller/BUILD.bazel
  cmd/populator-controller/populator-controller.go
  operator/roles/forkliftcontroller/templates/populator/deployment-populator-controller.yml.j2
Owners: @ahadas, @mnecas

Minor cleanup
  cmd/populator-controller/populator-controller.go
  tests/suit/BUILD.bazel
Owners: @ahadas, @eslutsky, @liranr23

Fix project sync when the user has no list permissions
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/client.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/errors.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/errors.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/urls.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

Fix VolumeType comparison for unprivileged users
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Fix project sync when the user has no list permissions
  pkg/controller/provider/container/openstack/BUILD.bazel
  pkg/controller/provider/container/openstack/client.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/errors.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/errors.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/urls.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

Better 'NotFound' error handling
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

Fix VolumeType comparison for unprivileged users
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Better 'NotFound' error handling
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

Set namespace for populator controller using envvar
  cmd/populator-controller/populator-controller.go
  operator/roles/forkliftcontroller/templates/populator/deployment-populator-controller.yml.j2
Owners: @ahadas, @mnecas

Replace go-toolset image
  hack/ovirt-populator/Containerfile
Owners: @ahadas

Add missing properties for deploying populator related pods
  Makefile
Owners: @ahadas

make the populator deployment optional
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
  operator/config/samples/forklift_v1beta1_forkliftcontroller.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

Replace go-toolset image
  hack/ovirt-populator/Containerfile
Owners: @ahadas

Minor cleanup
  cmd/populator-controller/populator-controller.go
  tests/suit/BUILD.bazel
Owners: @ahadas, @eslutsky, @liranr23

Set namespace for populator controller using envvar
  cmd/populator-controller/populator-controller.go
  operator/roles/forkliftcontroller/templates/populator/deployment-populator-controller.yml.j2
Owners: @ahadas, @mnecas

Add ovirt popoulator deployment
  .bazelrc
  operator/BUILD.bazel
  operator/config/crd/kustomization.yaml
  operator/config/manager/manager.yaml
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
  operator/config/rbac/forklift-controller_role.yaml
  operator/config/samples/forklift_v1beta1_ovirt_populator.yaml
  operator/config/samples/kustomization.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/populator/deployment-populator-controller.yml.j2
Owners: @ahadas, @mnecas

Add missing properties for deploying populator related pods
  Makefile
Owners: @ahadas

Set namespace for populator controller using envvar
  cmd/populator-controller/populator-controller.go
  operator/roles/forkliftcontroller/templates/populator/deployment-populator-controller.yml.j2
Owners: @ahadas, @mnecas

Add missing properties for deploying populator related pods
  Makefile
Owners: @ahadas

Add ovirt popoulator deployment
  .bazelrc
  operator/BUILD.bazel
  operator/config/crd/kustomization.yaml
  operator/config/manager/manager.yaml
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
  operator/config/rbac/forklift-controller_role.yaml
  operator/config/samples/forklift_v1beta1_ovirt_populator.yaml
  operator/config/samples/kustomization.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/populator/deployment-populator-controller.yml.j2
Owners: @ahadas, @mnecas

Set oVirt populator image using envvar
  cmd/populator-controller/BUILD.bazel
  cmd/populator-controller/populator-controller.go
  operator/roles/forkliftcontroller/templates/populator/deployment-populator-controller.yml.j2
Owners: @ahadas, @mnecas
