Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

update CRD description and use NestedStringMap
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
  pkg/apis/forklift/v1beta1/openstackpopulator.go
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

ovirt,openstack: propagate transferNetwork to volume populators
  cmd/openstack-populator/BUILD.bazel
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
  pkg/apis/forklift/v1beta1/openstackpopulator.go
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
  pkg/apis/forklift/v1beta1/zz_generated.deepcopy.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/openstack.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

ovirt,openstack: propagate transferNetwork to volume populators
  cmd/openstack-populator/BUILD.bazel
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
  pkg/apis/forklift/v1beta1/openstackpopulator.go
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
  pkg/apis/forklift/v1beta1/zz_generated.deepcopy.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/openstack.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

update CRD description and use NestedStringMap
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
  pkg/apis/forklift/v1beta1/openstackpopulator.go
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

update CRD description and use NestedStringMap
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
  pkg/apis/forklift/v1beta1/openstackpopulator.go
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

v2v: bump virt-v2v deps
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

v2v: bump virt-v2v deps
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

v2v: bump virt-v2v deps
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

simplify setting ownerRefs
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

virt-v2v: prefer curl-minimal over curl
  hack/virt-v2v-cold-rpm-deps.sh
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @ahadas, @nyoxi

Operator: Fix upgrade from 2.3 to 2.4 issue
  operator/config/manager/manager.yaml
  operator/config/prometheus/monitor.yaml
  operator/config/rbac/authproxy/service.yaml
  operator/roles/forkliftcontroller/templates/controller/configmap-controller.yml.j2
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  operator/roles/forkliftcontroller/templates/controller/route-inventory.yml.j2
  operator/roles/forkliftcontroller/templates/controller/service-inventory.yml.j2
Owners: @mnecas

simplify setting ownerRefs
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

simplify setting ownerRefs
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Operator: Fix upgrade from 2.3 to 2.4 issue
  operator/config/manager/manager.yaml
  operator/config/prometheus/monitor.yaml
  operator/config/rbac/authproxy/service.yaml
  operator/roles/forkliftcontroller/templates/controller/configmap-controller.yml.j2
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  operator/roles/forkliftcontroller/templates/controller/route-inventory.yml.j2
  operator/roles/forkliftcontroller/templates/controller/service-inventory.yml.j2
Owners: @mnecas

virt-v2v: Build our own fixed appliance (Fixes #226)
  .bazelrc
  virt-v2v/cold/.bazerlc
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @ahadas, @nyoxi

virt-v2v: prefer curl-minimal over curl
  hack/virt-v2v-cold-rpm-deps.sh
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @ahadas, @nyoxi

virt-v2v: prefer curl-minimal over curl
  hack/virt-v2v-cold-rpm-deps.sh
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @ahadas, @nyoxi

virt-v2v: Build our own fixed appliance (Fixes #226)
  .bazelrc
  virt-v2v/cold/.bazerlc
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @ahadas, @nyoxi

virt-v2v: Build our own fixed appliance (Fixes #226)
  .bazelrc
  virt-v2v/cold/.bazerlc
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @ahadas, @nyoxi

ovirt,openstack: propagate transferNetwork to volume populators
  cmd/openstack-populator/BUILD.bazel
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
  pkg/apis/forklift/v1beta1/openstackpopulator.go
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
  pkg/apis/forklift/v1beta1/zz_generated.deepcopy.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/openstack.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

drop part that is not included in the original fix
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

drop part that is not included in the original fix
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

ovirt,openstack: propagate transferNetwork to volume populators
  cmd/openstack-populator/BUILD.bazel
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
  pkg/apis/forklift/v1beta1/openstackpopulator.go
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
  pkg/apis/forklift/v1beta1/zz_generated.deepcopy.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/openstack.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

openstack: Initial validations
  WORKSPACE
  pkg/controller/provider/web/openstack/image.go
  validation/Makefile
  validation/policies/io/konveyor/forklift/openstack/bios_boot_menu.rego
  validation/policies/io/konveyor/forklift/openstack/bios_boot_menu_test.rego
  validation/policies/io/konveyor/forklift/openstack/cpu_shares.rego
  validation/policies/io/konveyor/forklift/openstack/cpu_shares_test.rego
  validation/policies/io/konveyor/forklift/openstack/debug.rego
  validation/policies/io/konveyor/forklift/openstack/disk_interface_type.rego
  validation/policies/io/konveyor/forklift/openstack/disk_interface_type_test.rego
  validation/policies/io/konveyor/forklift/openstack/disk_status.rego
  validation/policies/io/konveyor/forklift/openstack/disk_status_test.rego
  validation/policies/io/konveyor/forklift/openstack/host_devices.rego
  validation/policies/io/konveyor/forklift/openstack/host_devices_test.rego
  validation/policies/io/konveyor/forklift/openstack/image_format.rego
  validation/policies/io/konveyor/forklift/openstack/image_format_test.rego
  validation/policies/io/konveyor/forklift/openstack/name.rego
  validation/policies/io/konveyor/forklift/openstack/name_test.rego
  validation/policies/io/konveyor/forklift/openstack/numa_tune.rego
  validation/policies/io/konveyor/forklift/openstack/numa_tune_test.rego
  validation/policies/io/konveyor/forklift/openstack/rules_version.rego
  validation/policies/io/konveyor/forklift/openstack/secure_boot.rego
  validation/policies/io/konveyor/forklift/openstack/secure_boot_test.rego
  validation/policies/io/konveyor/forklift/openstack/shared_disk.rego
  validation/policies/io/konveyor/forklift/openstack/shared_disk_test.rego
  validation/policies/io/konveyor/forklift/openstack/validate.rego
  validation/policies/io/konveyor/forklift/openstack/vif_models.rego
  validation/policies/io/konveyor/forklift/openstack/vif_models_test.rego
  validation/policies/io/konveyor/forklift/openstack/vm_image_based.rego
  validation/policies/io/konveyor/forklift/openstack/vm_image_based_test.rego
  validation/policies/io/konveyor/forklift/openstack/vm_os.rego
  validation/policies/io/konveyor/forklift/openstack/vm_os_test.rego
  validation/policies/io/konveyor/forklift/openstack/vm_status.rego
  validation/policies/io/konveyor/forklift/openstack/vm_status_test.rego
  validation/policies/io/konveyor/forklift/openstack/watchdog.rego
  validation/policies/io/konveyor/forklift/openstack/watchdog_test.rego
Owners: @ahadas, @bennyz, @mmartinv

Make broader use of future.keywords.if/in
  validation/policies/io/konveyor/forklift/openstack/bios_boot_menu.rego
  validation/policies/io/konveyor/forklift/openstack/host_devices.rego
  validation/policies/io/konveyor/forklift/openstack/numa_tune.rego
  validation/policies/io/konveyor/forklift/openstack/secure_boot.rego
  validation/policies/io/konveyor/forklift/openstack/vm_image_based.rego
  validation/policies/io/konveyor/forklift/openstack/vm_status.rego
  validation/policies/io/konveyor/forklift/openstack/watchdog.rego
Owners: @ahadas, @bennyz, @mmartinv

Add storage webhook validation
  operator/roles/forkliftcontroller/templates/api/deployment-forklift-api.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-forklift-api.yml.j2
  pkg/forklift-api/webhooks/util/util.go
  pkg/forklift-api/webhooks/validating-webhook.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
  pkg/forklift-api/webhooks/webhooks.go
Owners: @mnecas, @ahadas

Use single combination of access mode
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Use single combination of access mode
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Use single combination of access mode
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Use single combination of access mode
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Use single combination of access mode
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

bump the centos9 image
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

v2v: bump virt-v2v deps
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

v2v: bump virt-v2v deps
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

bump the centos9 image
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

bump the centos9 image
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

Fix centos9 image SHA
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

Fix centos9 image SHA
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

Fix centos9 image SHA
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

openstack: Add missing virtual hardware constants
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
