Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

Use patch instead of update to set PVC owner references
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

openstack: error handling for snapshots and volumes
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: error handling for snapshots and volumes
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: map all the OpenStack VIF models
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

Unify oVirt and OpenStack progress updates
  pkg/controller/plan/migration.go
Owners: @ahadas

Use switch-case and update log
  pkg/controller/plan/migration.go
Owners: @ahadas

Unify oVirt and OpenStack progress updates
  pkg/controller/plan/migration.go
Owners: @ahadas

Use switch-case and update log
  pkg/controller/plan/migration.go
Owners: @ahadas

Use switch-case and update log
  pkg/controller/plan/migration.go
Owners: @ahadas

Unify oVirt and OpenStack progress updates
  pkg/controller/plan/migration.go
Owners: @ahadas

Operator: Fix upgrade from 2.3 to 2.4 issue
  operator/config/manager/manager.yaml
  operator/config/prometheus/monitor.yaml
  operator/config/rbac/authproxy/service.yaml
  operator/roles/forkliftcontroller/templates/controller/configmap-controller.yml.j2
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  operator/roles/forkliftcontroller/templates/controller/route-inventory.yml.j2
  operator/roles/forkliftcontroller/templates/controller/service-inventory.yml.j2
Owners: @mnecas

openstack: map all the OpenStack VIF models
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: map all the OpenStack VIF models
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix image properties mappings and precedence
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix image properties mappings and precedence
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix image properties mappings and precedence
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

Operator: Fix upgrade from 2.3 to 2.4 issue
  operator/config/manager/manager.yaml
  operator/config/prometheus/monitor.yaml
  operator/config/rbac/authproxy/service.yaml
  operator/roles/forkliftcontroller/templates/controller/configmap-controller.yml.j2
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  operator/roles/forkliftcontroller/templates/controller/route-inventory.yml.j2
  operator/roles/forkliftcontroller/templates/controller/service-inventory.yml.j2
Owners: @mnecas

Operator: Fix upgrade from 2.3 to 2.4 issue
  operator/config/manager/manager.yaml
  operator/config/prometheus/monitor.yaml
  operator/config/rbac/authproxy/service.yaml
  operator/roles/forkliftcontroller/templates/controller/configmap-controller.yml.j2
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  operator/roles/forkliftcontroller/templates/controller/route-inventory.yml.j2
  operator/roles/forkliftcontroller/templates/controller/service-inventory.yml.j2
Owners: @mnecas

openstack: modify misleading log message
  pkg/controller/provider/container/openstack/collector.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: make sure VMs are synchronized
  pkg/controller/provider/container/openstack/model.go
  pkg/controller/provider/container/openstack/resource.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: make sure VMs are synchronized
  pkg/controller/provider/container/openstack/model.go
  pkg/controller/provider/container/openstack/resource.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: make sure VMs are synchronized
  pkg/controller/provider/container/openstack/model.go
  pkg/controller/provider/container/openstack/resource.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: modify misleading log message
  pkg/controller/provider/container/openstack/collector.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: modify misleading log message
  pkg/controller/provider/container/openstack/collector.go
Owners: @ahadas, @bennyz, @mmartinv

opinionated cleanup in Openstack's VMAdapter#GetUpdates
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

opinionated cleanup in Openstack's VMAdapter#GetUpdates
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

opinionated cleanup in Openstack's VMAdapter#GetUpdates
  pkg/controller/provider/container/openstack/model.go
Owners: @ahadas, @bennyz, @mmartinv

Move createPodToBindPVCs into isOpenstack scope
  pkg/controller/plan/migration.go
Owners: @ahadas

move ready check below error check
  pkg/controller/plan/migration.go
Owners: @ahadas

rename BeforeTransferHook to PreTransferActions
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: parallelize creation of PVCs
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

move ready check below error check
  pkg/controller/plan/migration.go
Owners: @ahadas

openstack: parallelize creation of PVCs
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

move ready check below error check
  pkg/controller/plan/migration.go
Owners: @ahadas

rename BeforeTransferHook to PreTransferActions
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

rename BeforeTransferHook to PreTransferActions
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

Move createPodToBindPVCs into isOpenstack scope
  pkg/controller/plan/migration.go
Owners: @ahadas

Move createPodToBindPVCs into isOpenstack scope
  pkg/controller/plan/migration.go
Owners: @ahadas

openstack: parallelize creation of PVCs
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

ovirt,openstack: propagate transferNetwork to volume populators
  cmd/openstack-populator/BUILD.bazel
  operator/config/crd/bases/forklift.konveyor.io_openstackvolumepopulators.yaml
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
  pkg/apis/forklift/v1beta1/openstackpopulator.go
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
  pkg/apis/forklift/v1beta1/zz_generated.deepcopy.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/openstack.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas, @bennyz, @mmartinv, @mnecas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
