Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

Refactor the code
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Decreace updatePopulatorCopyProgress complexity
  pkg/controller/plan/migration.go
Owners: @ahadas

fix #452: remove DefaultVirtV2vImage
  pkg/settings/migration.go
Owners: @ahadas

fix #452: remove DefaultVirtV2vImage
  pkg/settings/migration.go
Owners: @ahadas

Minor cleanup in Migration#Load
  pkg/settings/migration.go
Owners: @ahadas

Minor cleanup in Migration#Load
  pkg/settings/migration.go
Owners: @ahadas

Bump sqlite
  go.mod
  go.sum
  vendor/github.com/mattn/go-sqlite3/BUILD.bazel
  vendor/github.com/mattn/go-sqlite3/README.md
  vendor/github.com/mattn/go-sqlite3/backup.go
  vendor/github.com/mattn/go-sqlite3/callback.go
  vendor/github.com/mattn/go-sqlite3/doc.go
  vendor/github.com/mattn/go-sqlite3/error.go
  vendor/github.com/mattn/go-sqlite3/sqlite3-binding.h
  vendor/github.com/mattn/go-sqlite3/sqlite3.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_context.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_go18.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_libsqlite3.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_load_extension.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_column_metadata.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_icu.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_json1.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_math_functions.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_os_trace.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_preupdate_hook.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_preupdate_omit.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_serialize.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_serialize_omit.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_unlock_notify.c
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_unlock_notify.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_userauth.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_vtable.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_trace.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_type.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_usleep_windows.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_windows.go
  vendor/github.com/mattn/go-sqlite3/sqlite3ext.h
  vendor/github.com/nxadm/tail/Dockerfile
  vendor/github.com/pelletier/go-toml/v2/Dockerfile
  vendor/modules.txt
Owners: @ahadas

Fix inconsistency of ova server image repo.
  Makefile
Owners: @ahadas

Bump the github actions
  .github/workflows/build-push-images.yml
  .github/workflows/create-new-pr.yml
  .github/workflows/golangci-lint.yaml
  .github/workflows/pull-request.yml
  .github/workflows/release-branch-pull-request.yml
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

Add negative test for ovf wrong depth
  cmd/ova-provider-server/nfs_test.go
Owners: @ahadas

Respect unsecured connections to vSphere
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/adapter/vsphere/host.go
  pkg/controller/provider/container/vsphere/collector.go
Owners: @ahadas

Draft: test CI
  .github/workflows/pull-request.yml
  Makefile
  tests/suit/BUILD.bazel
  tests/suit/framework/BUILD.bazel
  tests/suit/framework/framework.go
  tests/suit/framework/ova.go
  tests/suit/ova_test.go
  tests/suit/utils/storagemap.go
Owners: @ahadas, @eslutsky, @liranr23

Respect unsecured connections to vSphere
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/adapter/vsphere/host.go
  pkg/controller/provider/container/vsphere/collector.go
Owners: @ahadas

Respect unsecured connections to vSphere
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/adapter/vsphere/host.go
  pkg/controller/provider/container/vsphere/collector.go
Owners: @ahadas

Respect unsecured connections to vSphere
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/adapter/vsphere/host.go
  pkg/controller/provider/container/vsphere/collector.go
Owners: @ahadas

Respect unsecured connections to vSphere
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/adapter/vsphere/host.go
  pkg/controller/provider/container/vsphere/collector.go
Owners: @ahadas

Fix creation of OVA server pod under enforced restricted namesapces
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Fix creation of OVA server pod under enforced restricted namesapces
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Fix creation of OVA server pod under enforced restricted namesapces
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Fix creation of OVA server pod under enforced restricted namesapces
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Fix creation of OVA server pod under enforced restricted namesapces
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Bump bazeldnf dependencies
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @ahadas, @nyoxi

Bump bazeldnf dependencies
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @ahadas, @nyoxi

Bump bazeldnf dependencies
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @ahadas, @nyoxi

Bump bazeldnf dependencies
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

Bump bazeldnf dependencies
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

Bump sqlite
  go.mod
  go.sum
  vendor/github.com/mattn/go-sqlite3/BUILD.bazel
  vendor/github.com/mattn/go-sqlite3/README.md
  vendor/github.com/mattn/go-sqlite3/backup.go
  vendor/github.com/mattn/go-sqlite3/callback.go
  vendor/github.com/mattn/go-sqlite3/doc.go
  vendor/github.com/mattn/go-sqlite3/error.go
  vendor/github.com/mattn/go-sqlite3/sqlite3-binding.h
  vendor/github.com/mattn/go-sqlite3/sqlite3.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_context.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_go18.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_libsqlite3.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_load_extension.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_column_metadata.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_icu.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_json1.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_math_functions.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_os_trace.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_preupdate_hook.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_preupdate_omit.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_serialize.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_serialize_omit.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_unlock_notify.c
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_unlock_notify.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_userauth.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_vtable.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_trace.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_type.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_usleep_windows.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_windows.go
  vendor/github.com/mattn/go-sqlite3/sqlite3ext.h
  vendor/github.com/nxadm/tail/Dockerfile
  vendor/github.com/pelletier/go-toml/v2/Dockerfile
  vendor/modules.txt
Owners: @ahadas

Bump sqlite
  go.mod
  go.sum
  vendor/github.com/mattn/go-sqlite3/BUILD.bazel
  vendor/github.com/mattn/go-sqlite3/README.md
  vendor/github.com/mattn/go-sqlite3/backup.go
  vendor/github.com/mattn/go-sqlite3/callback.go
  vendor/github.com/mattn/go-sqlite3/doc.go
  vendor/github.com/mattn/go-sqlite3/error.go
  vendor/github.com/mattn/go-sqlite3/sqlite3-binding.h
  vendor/github.com/mattn/go-sqlite3/sqlite3.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_context.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_go18.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_libsqlite3.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_load_extension.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_column_metadata.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_icu.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_json1.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_math_functions.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_os_trace.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_preupdate_hook.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_preupdate_omit.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_serialize.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_serialize_omit.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_unlock_notify.c
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_unlock_notify.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_userauth.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_opt_vtable.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_trace.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_type.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_usleep_windows.go
  vendor/github.com/mattn/go-sqlite3/sqlite3_windows.go
  vendor/github.com/mattn/go-sqlite3/sqlite3ext.h
  vendor/github.com/nxadm/tail/Dockerfile
  vendor/github.com/pelletier/go-toml/v2/Dockerfile
  vendor/modules.txt
Owners: @ahadas

run 'post-vendor.sh'
  vendor/github.com/nxadm/tail/Dockerfile
  vendor/github.com/pelletier/go-toml/v2/Dockerfile
Owners: @ahadas

Add negative test for ovf wrong depth
  cmd/ova-provider-server/nfs_test.go
Owners: @ahadas

Add negative test for ovf wrong depth
  cmd/ova-provider-server/nfs_test.go
Owners: @ahadas

run 'post-vendor.sh'
  vendor/github.com/nxadm/tail/Dockerfile
  vendor/github.com/pelletier/go-toml/v2/Dockerfile
Owners: @ahadas

run 'post-vendor.sh'
  vendor/github.com/nxadm/tail/Dockerfile
  vendor/github.com/pelletier/go-toml/v2/Dockerfile
Owners: @ahadas

Bump the github actions
  .github/workflows/build-push-images.yml
  .github/workflows/create-new-pr.yml
  .github/workflows/golangci-lint.yaml
  .github/workflows/pull-request.yml
  .github/workflows/release-branch-pull-request.yml
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

Bump the github actions
  .github/workflows/build-push-images.yml
  .github/workflows/create-new-pr.yml
  .github/workflows/golangci-lint.yaml
  .github/workflows/pull-request.yml
  .github/workflows/release-branch-pull-request.yml
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

Replace post-vendor.sh with a .gitignore rule
  .gitignore
  Makefile
  hack/post-vendor.sh
Owners: @ahadas

Replace post-vendor.sh with a .gitignore rule
  .gitignore
  Makefile
  hack/post-vendor.sh
Owners: @ahadas

Replace post-vendor.sh with a .gitignore rule
  .gitignore
  Makefile
  hack/post-vendor.sh
Owners: @ahadas

Propagate volume creation errors
  pkg/controller/plan/migration.go
Owners: @ahadas

Propagate volume creation errors
  pkg/controller/plan/migration.go
Owners: @ahadas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
