Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

create one trusted ca issuer using cert manager
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/api/ca.yml.j2
  operator/roles/forkliftcontroller/templates/cert-manager-trusted-ca.yml.j2
  operator/roles/forkliftcontroller/templates/controller/ca.yml.j2
  operator/roles/forkliftcontroller/templates/must-gather-api/ca.yml.j2
Owners: @mnecas

Use trusted CA issuer for validation service
  operator/roles/forkliftcontroller/templates/validation/ca.yml.j2
Owners: @mnecas

Cleanup for certificate / issuer names
  operator/roles/forkliftcontroller/defaults/main.yml
Owners: @mnecas

Use app_name instead of app_namespace when appropriate
  operator/roles/forkliftcontroller/templates/api/ca.yml.j2
  operator/roles/forkliftcontroller/templates/cert-manager-trusted-ca.yml.j2
  operator/roles/forkliftcontroller/templates/controller/ca.yml.j2
  operator/roles/forkliftcontroller/templates/must-gather-api/ca.yml.j2
  operator/roles/forkliftcontroller/templates/validation/ca.yml.j2
Owners: @mnecas

Use trusted CA issuer for validation service
  operator/roles/forkliftcontroller/templates/validation/ca.yml.j2
Owners: @mnecas

Cleanup for certificate / issuer names
  operator/roles/forkliftcontroller/defaults/main.yml
Owners: @mnecas

Use app_name instead of app_namespace when appropriate
  operator/roles/forkliftcontroller/templates/api/ca.yml.j2
  operator/roles/forkliftcontroller/templates/cert-manager-trusted-ca.yml.j2
  operator/roles/forkliftcontroller/templates/controller/ca.yml.j2
  operator/roles/forkliftcontroller/templates/must-gather-api/ca.yml.j2
  operator/roles/forkliftcontroller/templates/validation/ca.yml.j2
Owners: @mnecas

create one trusted ca issuer using cert manager
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/api/ca.yml.j2
  operator/roles/forkliftcontroller/templates/cert-manager-trusted-ca.yml.j2
  operator/roles/forkliftcontroller/templates/controller/ca.yml.j2
  operator/roles/forkliftcontroller/templates/must-gather-api/ca.yml.j2
Owners: @mnecas

Drop inventory's API_TLS_CA env var on OpenShift
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
Owners: @mnecas

Drop inventory's API_TLS_CA env var on OpenShift
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
Owners: @mnecas

Drop inventory's API_TLS_CA env var on OpenShift
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
Owners: @mnecas

Refactor secret-admitter to reduce Cognitive Complexity
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

Validate host secrets
  operator/config/rbac/api/role.yaml
  operator/roles/forkliftcontroller/templates/api/deployment-forklift-api.yml.j2
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @mnecas, @ahadas

Change objectSelector of secret validator
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-forklift-api.yml.j2
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @mnecas, @ahadas

Clenup in secret-admitter
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

Validate host secrets
  operator/config/rbac/api/role.yaml
  operator/roles/forkliftcontroller/templates/api/deployment-forklift-api.yml.j2
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @mnecas, @ahadas

Clenup in secret-admitter
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

Validate host secrets
  operator/config/rbac/api/role.yaml
  operator/roles/forkliftcontroller/templates/api/deployment-forklift-api.yml.j2
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @mnecas, @ahadas

Refactor secret-admitter to reduce Cognitive Complexity
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

Change objectSelector of secret validator
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-forklift-api.yml.j2
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @mnecas, @ahadas

Refactor secret-admitter to reduce Cognitive Complexity
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

Clenup in secret-admitter
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

Change objectSelector of secret validator
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-forklift-api.yml.j2
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @mnecas, @ahadas

missing password in ovirt customEnv tests
  tests/suit/framework/ovirt.go
Owners: @ahadas, @eslutsky, @liranr23

missing password in ovirt custom Environment tests (#396)
  tests/suit/framework/ovirt.go
Owners: @ahadas, @eslutsky, @liranr23

missing password in ovirt custom Environment tests (#396)
  tests/suit/framework/ovirt.go
Owners: @ahadas, @eslutsky, @liranr23

introduce e2e-openstack-extended test
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

use composite action for self hosted runner provision
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

trigger the run-osp-extended-tests action on specific comment
  .github/workflows/create-new-pr.yml
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

bump dependedency forkliftci version to v5.0
  .github/workflows/run-osp-extended-tests.yml
Owners: @ahadas

Fix log for incompatible VM names
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix log for incompatible VM names
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix log for incompatible VM names
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

ovirt: treat IMPORTEXPORT_IMPORT_VM as 'add' operation
  pkg/controller/provider/container/ovirt/model.go
Owners: @ahadas

openstack: add floating ip validation
  validation/policies/io/konveyor/forklift/openstack/floating_ips.rego
  validation/policies/io/konveyor/forklift/openstack/floating_ips_test.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: Ignore OpenStack floating IP addresses
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

ovirt: treat IMPORTEXPORT_IMPORT_VM as 'add' operation
  pkg/controller/provider/container/ovirt/model.go
Owners: @ahadas

ovirt: treat IMPORTEXPORT_IMPORT_VM as 'add' operation
  pkg/controller/provider/container/ovirt/model.go
Owners: @ahadas

controller: improve logging related to snapshots
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/migration.go
Owners: @ahadas

controller: fix creation of DataVolume checkpoints (Fixes #301)
  pkg/controller/plan/migration.go
Owners: @ahadas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
