Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

ignore vendor/github.com/vmware/govmomi/Dockerfile.vcsim
  .gitignore
Owners: @ahadas

ignore vendor/github.com/vmware/govmomi/Dockerfile.vcsim
  .gitignore
Owners: @ahadas

Ignore more Dockerfiles
  .gitignore
  vendor/github.com/vmware/govmomi/Dockerfile.govc
  vendor/github.com/vmware/govmomi/Dockerfile.vcsim
Owners: @ahadas

Ignore more Dockerfiles
  .gitignore
  vendor/github.com/vmware/govmomi/Dockerfile.govc
  vendor/github.com/vmware/govmomi/Dockerfile.vcsim
Owners: @ahadas

Ignore more Dockerfiles
  .gitignore
  vendor/github.com/vmware/govmomi/Dockerfile.govc
  vendor/github.com/vmware/govmomi/Dockerfile.vcsim
Owners: @ahadas

Add 'app' label to the template of the migrated VM
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Add 'app' label to the template of the migrated VM
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Set transfer network on the conversion pod
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Set transfer network on the conversion pod
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Add LUKS key to the plan
  operator/config/crd/bases/forklift.konveyor.io_plans.yaml
  pkg/apis/forklift/v1beta1/plan.go
  pkg/apis/forklift/v1beta1/zz_generated.deepcopy.go
Owners: @mnecas, @ahadas

Build the LUKS secret mount
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Virt-v2v: read LUKS keys
  virt-v2v/cold/entrypoint
Owners: @nyoxi

API: validate LUKS
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
Owners: @ahadas

OVA: manually remove PVs attached to ova provider once it deleted.
  pkg/controller/provider/BUILD.bazel
  pkg/controller/provider/controller.go
Owners: @ahadas

Make the block overhead configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/util/utils.go
  pkg/settings/migration.go
Owners: @mnecas, @ahadas, @bennyz, @mmartinv

Make the block overhead configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/util/utils.go
  pkg/settings/migration.go
Owners: @mnecas, @ahadas, @bennyz, @mmartinv

Make the block overhead configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/util/utils.go
  pkg/settings/migration.go
Owners: @mnecas, @ahadas, @bennyz, @mmartinv

Make the block overhead configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/util/utils.go
  pkg/settings/migration.go
Owners: @mnecas, @ahadas, @bennyz, @mmartinv

Lock bazel in CI build
  .github/workflows/pull-request.yml
Owners: @ahadas

Lock bazel in CI build
  .github/workflows/pull-request.yml
Owners: @ahadas

Lock bazel in CI build
  .github/workflows/pull-request.yml
Owners: @ahadas

Change controller_block_overhead to quantity
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/util/utils.go
  pkg/settings/BUILD.bazel
  pkg/settings/migration.go
Owners: @mnecas, @ahadas

Add missing OS from mapping
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

Add missing OS from mapping
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

Add missing OS from mapping
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

Change controller_block_overhead to quantity
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/util/utils.go
  pkg/settings/BUILD.bazel
  pkg/settings/migration.go
Owners: @mnecas, @ahadas

Change controller_block_overhead to quantity
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/util/utils.go
  pkg/settings/BUILD.bazel
  pkg/settings/migration.go
Owners: @mnecas, @ahadas

Change controller_block_overhead to quantity
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/util/utils.go
  pkg/settings/BUILD.bazel
  pkg/settings/migration.go
Owners: @mnecas, @ahadas

add fmt import
  pkg/settings/migration.go
Owners: @ahadas

Make the block overhead configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/util/utils.go
  pkg/settings/migration.go
Owners: @mnecas, @ahadas, @bennyz, @mmartinv

Change controller_block_overhead to quantity
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/util/utils.go
  pkg/settings/BUILD.bazel
  pkg/settings/migration.go
Owners: @mnecas, @ahadas

add fmt import
  pkg/settings/migration.go
Owners: @ahadas

Do not set owner for PV of OVA provider
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Set reclaim policy of PV of OVA provider to Delete
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

openstack: Add simple test for the openstack populator
  cmd/openstack-populator/BUILD.bazel
  cmd/openstack-populator/openstack-populator_test.go
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas, @bennyz, @mmartinv

ovirt,openstack: use env instead of files for secrets
  cmd/openstack-populator/openstack-populator.go
  cmd/ovirt-populator/ovirt-populator.go
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas, @bennyz, @mmartinv

Do not set owner for PV of OVA provider
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Set reclaim policy of PV of OVA provider to Delete
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Set reclaim policy of PV of OVA provider to Delete
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Do not set owner for PV of OVA provider
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
