Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

move lib-volume-populator into forklift (#203)
  cmd/populator-controller/BUILD.bazel
  cmd/populator-controller/populator-controller.go
  go.mod
  go.sum
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/controller.go
  pkg/lib-volume-populator/populator-machinery/metrics.go
  pkg/lib-volume-populator/populator-machinery/metrics_test.go
  vendor/github.com/kubev2v/lib-volume-populator/LICENSE
  vendor/github.com/kubev2v/lib-volume-populator/populator-machinery/BUILD.bazel
  vendor/modules.txt
Owners: @ahadas

move lib-volume-populator into forklift (#203)
  cmd/populator-controller/BUILD.bazel
  cmd/populator-controller/populator-controller.go
  go.mod
  go.sum
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/controller.go
  pkg/lib-volume-populator/populator-machinery/metrics.go
  pkg/lib-volume-populator/populator-machinery/metrics_test.go
  vendor/github.com/kubev2v/lib-volume-populator/LICENSE
  vendor/github.com/kubev2v/lib-volume-populator/populator-machinery/BUILD.bazel
  vendor/modules.txt
Owners: @ahadas

Add missing connection fail phase
  pkg/apis/forklift/v1beta1/zz_generated.deepcopy.go
  pkg/controller/provider/validation.go
Owners: @ahadas

Add missing connection fail phase
  pkg/apis/forklift/v1beta1/zz_generated.deepcopy.go
  pkg/controller/provider/validation.go
Owners: @ahadas

Handle the case volumeMode is omitted from StorageProfile
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Handle the case volumeMode is omitted from StorageProfile
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Do not set 'kubevirt.io/schedulable' when VirtV2vDontRequestKVM is set
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Do not set 'kubevirt.io/schedulable' when VirtV2vDontRequestKVM is set
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Use nfs-csi in vSphere test
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

Use nfs-csi in vSphere test
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

Use nfs-csi in vSphere test
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

add targetNameSpace to the plan
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
  tests/suit/utils/plan.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

cleanup and move to generated NS
  tests/suit/framework/openstack.go
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
Owners: @ahadas, @eslutsky, @liranr23

add timeout to the CI job executime time
  .github/workflows/pull-request.yml
Owners: @ahadas

dont use auto-generated NS in the test.
  .github/workflows/pull-request.yml
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
Owners: @ahadas, @eslutsky, @liranr23

Openstack changes
  cmd/openstack-populator/openstack-populator.go
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
Owners: @ahadas, @bennyz, @mmartinv, @eslutsky, @liranr23

update bazel configuration for lib-volume-populator
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
Owners: @ahadas

drop mongo-driver
  WORKSPACE
  go.mod
Owners: @ahadas

add timeout to the CI job executime time
  .github/workflows/pull-request.yml
Owners: @ahadas

Openstack changes
  cmd/openstack-populator/openstack-populator.go
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
Owners: @ahadas, @bennyz, @mmartinv, @eslutsky, @liranr23

add targetNameSpace to the plan
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
  tests/suit/utils/plan.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

add timeout to the CI job executime time
  .github/workflows/pull-request.yml
Owners: @ahadas

dont use auto-generated NS in the test.
  .github/workflows/pull-request.yml
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
Owners: @ahadas, @eslutsky, @liranr23

Openstack changes
  cmd/openstack-populator/openstack-populator.go
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
Owners: @ahadas, @bennyz, @mmartinv, @eslutsky, @liranr23

add targetNameSpace to the plan
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
  tests/suit/utils/plan.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

cleanup and move to generated NS
  tests/suit/framework/openstack.go
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
Owners: @ahadas, @eslutsky, @liranr23

dont use auto-generated NS in the test.
  .github/workflows/pull-request.yml
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
Owners: @ahadas, @eslutsky, @liranr23

cleanup and move to generated NS
  tests/suit/framework/openstack.go
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
Owners: @ahadas, @eslutsky, @liranr23

drop mongo-driver
  WORKSPACE
  go.mod
Owners: @ahadas

drop mongo-driver
  WORKSPACE
  go.mod
Owners: @ahadas

update bazel configuration for lib-volume-populator
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
Owners: @ahadas

update bazel configuration for lib-volume-populator
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
Owners: @ahadas

virt-v2v-monitor: a tool for monitoring virt-v2v progress
  cmd/virt-v2v-monitor/BUILD.bazel
  cmd/virt-v2v-monitor/virt-v2v-monitor.go
Owners: @ahadas

virt-v2v: make sure environment variables are defined
  virt-v2v/cold/entrypoint
Owners: @nyoxi

kubevirt: remove unused function
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

controller: move decision on EL8/EL9 to plan context
  pkg/controller/plan/context/migration.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

controller: consume progress in metrics from virt-v2v EL9 image
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

virt-v2v: Run virt-v2v-monitor in image for cold migration
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/cold/entrypoint
Owners: @nyoxi

virt-v2v: make sure environment variables are defined
  virt-v2v/cold/entrypoint
Owners: @nyoxi

virt-v2v: Run virt-v2v-monitor in image for cold migration
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/cold/entrypoint
Owners: @nyoxi

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
