Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

ovirt: make snapshot removal times configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/settings/migration.go
Owners: @mnecas, @ahadas

ci: create target provider within generated namespace
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
  tests/suit/utils/common.go
  tests/suit/utils/plan.go
  tests/suit/utils/provider.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

ci: cleanup in tests/suit/utils/plan.go
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
  tests/suit/utils/plan.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

controller: vsphere: make VDDK image optional
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/validation.go
  pkg/controller/provider/validation.go
Owners: @ahadas

controller: vsphere: make VDDK image optional
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/validation.go
  pkg/controller/provider/validation.go
Owners: @ahadas

controller: move EL9 image evaluation to plan
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/context/migration.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

controller: vsphere: make VDDK image optional
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/validation.go
  pkg/controller/provider/validation.go
Owners: @ahadas

controller: move EL9 image evaluation to plan
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/context/migration.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

ovirt: add error log
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Fix `install` and `deploy` makefile targets
  Makefile
Owners: @ahadas

Improve Makefile readability
  Makefile
Owners: @ahadas

Rename deprecated field name
  operator/config/default/kustomization.yaml
Owners: @mnecas

ci: cleanup in tests/suit/utils/plan.go
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
  tests/suit/utils/plan.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

ci: create target provider within generated namespace
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
  tests/suit/utils/common.go
  tests/suit/utils/plan.go
  tests/suit/utils/provider.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

ci: cleanup in tests/suit/utils/plan.go
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
  tests/suit/utils/plan.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

ci: create target provider within generated namespace
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
  tests/suit/utils/common.go
  tests/suit/utils/plan.go
  tests/suit/utils/provider.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

Rename deprecated field name
  operator/config/default/kustomization.yaml
Owners: @mnecas

Fix `install` and `deploy` makefile targets
  Makefile
Owners: @ahadas

Rename deprecated field name
  operator/config/default/kustomization.yaml
Owners: @mnecas

Improve Makefile readability
  Makefile
Owners: @ahadas

Fix `install` and `deploy` makefile targets
  Makefile
Owners: @ahadas

Improve Makefile readability
  Makefile
Owners: @ahadas

ovirt: add log about completing the finalize
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt: make snapshot removal times configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/settings/migration.go
Owners: @mnecas, @ahadas

ovirt: add error log
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt: add error log
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt: make snapshot removal times configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/settings/migration.go
Owners: @mnecas, @ahadas

ovirt: perform snapshot removal sequentially
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt: add log about completing the finalize
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt: add log about completing the finalize
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

ovirt: perform snapshot removal sequentially
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/client.go
Owners: @ahadas

Set ownership and labels to the populator pod
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/doc.go
  pkg/controller/plan/adapter/openstack/BUILD.bazel
  pkg/controller/plan/adapter/openstack/adapter.go
  pkg/controller/plan/adapter/openstack/destinationclient.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/adapter.go
  pkg/controller/plan/adapter/ovirt/destinationclient.go
  pkg/controller/plan/adapter/vsphere/BUILD.bazel
  pkg/controller/plan/adapter/vsphere/adapter.go
  pkg/controller/plan/adapter/vsphere/destinationclient.go
  pkg/controller/plan/controller.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/openstack.go
  pkg/controller/plan/util/ovirt.go
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/controller.go
  tests/suit/BUILD.bazel
  tests/suit/framework/BUILD.bazel
  tests/suit/utils/BUILD.bazel
Owners: @ahadas, @bennyz, @mmartinv, @eslutsky, @liranr23

Set ownership and labels to the populator pod
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/doc.go
  pkg/controller/plan/adapter/openstack/BUILD.bazel
  pkg/controller/plan/adapter/openstack/adapter.go
  pkg/controller/plan/adapter/openstack/destinationclient.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/adapter.go
  pkg/controller/plan/adapter/ovirt/destinationclient.go
  pkg/controller/plan/adapter/vsphere/BUILD.bazel
  pkg/controller/plan/adapter/vsphere/adapter.go
  pkg/controller/plan/adapter/vsphere/destinationclient.go
  pkg/controller/plan/controller.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/openstack.go
  pkg/controller/plan/util/ovirt.go
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/controller.go
  tests/suit/BUILD.bazel
  tests/suit/framework/BUILD.bazel
  tests/suit/utils/BUILD.bazel
Owners: @ahadas, @bennyz, @mmartinv, @eslutsky, @liranr23

Set ownership and labels to the populator pod
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/doc.go
  pkg/controller/plan/adapter/openstack/BUILD.bazel
  pkg/controller/plan/adapter/openstack/adapter.go
  pkg/controller/plan/adapter/openstack/destinationclient.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/adapter.go
  pkg/controller/plan/adapter/ovirt/destinationclient.go
  pkg/controller/plan/adapter/vsphere/BUILD.bazel
  pkg/controller/plan/adapter/vsphere/adapter.go
  pkg/controller/plan/adapter/vsphere/destinationclient.go
  pkg/controller/plan/controller.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/openstack.go
  pkg/controller/plan/util/ovirt.go
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/controller.go
  tests/suit/BUILD.bazel
  tests/suit/framework/BUILD.bazel
  tests/suit/utils/BUILD.bazel
Owners: @ahadas, @bennyz, @mmartinv, @eslutsky, @liranr23

Use provider's transfer network when defining a plan
  Makefile
  operator/config/rbac/api/role.yaml
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-forklift-api.yml.j2
  pkg/forklift-api/webhooks/mutating-webhook.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/plan-mutator.go
  pkg/forklift-api/webhooks/webhooks.go
  tests/suit/BUILD.bazel
  tests/suit/forklift_test.go
  tests/suit/framework/BUILD.bazel
  tests/suit/framework/framework.go
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
  tests/suit/utils/BUILD.bazel
  tests/suit/utils/networkmap.go
  tests/suit/utils/plan.go
  tests/suit/utils/provider.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @mnecas, @eslutsky, @liranr23

Use provider's transfer network when defining a plan
  Makefile
  operator/config/rbac/api/role.yaml
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-forklift-api.yml.j2
  pkg/forklift-api/webhooks/mutating-webhook.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/plan-mutator.go
  pkg/forklift-api/webhooks/webhooks.go
  tests/suit/BUILD.bazel
  tests/suit/forklift_test.go
  tests/suit/framework/BUILD.bazel
  tests/suit/framework/framework.go
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
  tests/suit/utils/BUILD.bazel
  tests/suit/utils/networkmap.go
  tests/suit/utils/plan.go
  tests/suit/utils/provider.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @mnecas, @eslutsky, @liranr23

Use provider's transfer network when defining a plan
  Makefile
  operator/config/rbac/api/role.yaml
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-forklift-api.yml.j2
  pkg/forklift-api/webhooks/mutating-webhook.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/plan-mutator.go
  pkg/forklift-api/webhooks/webhooks.go
  tests/suit/BUILD.bazel
  tests/suit/forklift_test.go
  tests/suit/framework/BUILD.bazel
  tests/suit/framework/framework.go
  tests/suit/openstack_test.go
  tests/suit/ovirt_test.go
  tests/suit/utils/BUILD.bazel
  tests/suit/utils/networkmap.go
  tests/suit/utils/plan.go
  tests/suit/utils/provider.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @mnecas, @eslutsky, @liranr23

Bump dependencies of virt-v2v
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

Bump dependencies of virt-v2v
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

Bump dependencies of virt-v2v
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi
