Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

virt-v2v: make bazeldnf output stable
  WORKSPACE
  hack/virt-v2v-stream8-rpm-deps.sh
  rpm/BUILD.bazel
Owners: @ahadas

virt-v2v: make bazeldnf output stable
  WORKSPACE
  hack/virt-v2v-stream8-rpm-deps.sh
  rpm/BUILD.bazel
Owners: @ahadas

gitignore: Ignore .bazeldnf directory
  .gitignore
Owners: @ahadas

virt-v2v: Drop qemu-guest-agent dependency
  WORKSPACE
  hack/virt-v2v-stream8-rpm-deps.sh
  rpm/BUILD.bazel
Owners: @ahadas

virt-v2v: Drop qemu-guest-agent dependency
  WORKSPACE
  hack/virt-v2v-stream8-rpm-deps.sh
  rpm/BUILD.bazel
Owners: @ahadas

gitignore: Ignore .bazeldnf directory
  .gitignore
Owners: @ahadas

virt-v2v: Remove qemu-* dependencies
  hack/virt-v2v-stream8-rpm-deps.sh
Owners: @ahadas

virt-v2v: Remove qemu-* dependencies
  hack/virt-v2v-stream8-rpm-deps.sh
Owners: @ahadas

Update libguestfs-appliance digest
  WORKSPACE
Owners: @ahadas

virt-v2v: Extract compressed tar with libguestfs appliance
  WORKSPACE
  hack/virt-v2v-stream8-rpm-deps.sh
  rpm/BUILD.bazel
  virt-v2v/cold/entrypoint
  virt-v2v/warm/entrypoint
Owners: @ahadas, @nyoxi

virt-v2v: Extract compressed tar with libguestfs appliance
  WORKSPACE
  hack/virt-v2v-stream8-rpm-deps.sh
  rpm/BUILD.bazel
  virt-v2v/cold/entrypoint
  virt-v2v/warm/entrypoint
Owners: @ahadas, @nyoxi

virt-v2v: Extract compressed tar with libguestfs appliance
  WORKSPACE
  hack/virt-v2v-stream8-rpm-deps.sh
  rpm/BUILD.bazel
  virt-v2v/cold/entrypoint
  virt-v2v/warm/entrypoint
Owners: @ahadas, @nyoxi

vsphere: Create empty DataVolume for cold migration
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

vsphere: Store info for virt-v2v in environment
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/vsphere/BUILD.bazel
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

virt-v2v: Let virt-v2v do the copying and conversion
  virt-v2v/cold/entrypoint
Owners: @nyoxi

Update libguestfs-appliance
  WORKSPACE
Owners: @ahadas

Update libguestfs-appliance
  WORKSPACE
Owners: @ahadas

Update libguestfs-appliance
  WORKSPACE
Owners: @ahadas

Change default for VIRT_V2V_IMAGE
  .bazelrc
  Makefile
  README.md
  hack/release-images.sh
Owners: @ahadas

vsphere: Create empty DataVolume for cold migration
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

vsphere: Create empty DataVolume for cold migration
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

vsphere: Store info for virt-v2v in environment
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/vsphere/BUILD.bazel
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Change default for VIRT_V2V_IMAGE
  .bazelrc
  Makefile
  README.md
  hack/release-images.sh
Owners: @ahadas

virt-v2v: Let virt-v2v do the copying and conversion
  virt-v2v/cold/entrypoint
Owners: @nyoxi

vsphere: Store info for virt-v2v in environment
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/vsphere/BUILD.bazel
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Change default for VIRT_V2V_IMAGE
  .bazelrc
  Makefile
  README.md
  hack/release-images.sh
Owners: @ahadas

virt-v2v: Let virt-v2v do the copying and conversion
  virt-v2v/cold/entrypoint
Owners: @nyoxi

Split the populator image
  Makefile
  README.md
  cmd/ovirt-populator/BUILD.bazel
  cmd/ovirt-populator/ovirt-populator.go
  cmd/populator-controller/BUILD.bazel
  cmd/populator-controller/populator-controller.go
  hack/ovirt-populator/Containerfile
Owners: @ahadas

Push the new images
  .github/workflows/build-push-images.yml
  README.md
  hack/release-images.sh
Owners: @ahadas

Split the populator image
  Makefile
  README.md
  cmd/ovirt-populator/BUILD.bazel
  cmd/ovirt-populator/ovirt-populator.go
  cmd/populator-controller/BUILD.bazel
  cmd/populator-controller/populator-controller.go
  hack/ovirt-populator/Containerfile
Owners: @ahadas

Push the new images
  .github/workflows/build-push-images.yml
  README.md
  hack/release-images.sh
Owners: @ahadas

Split the populator image
  Makefile
  README.md
  cmd/ovirt-populator/BUILD.bazel
  cmd/ovirt-populator/ovirt-populator.go
  cmd/populator-controller/BUILD.bazel
  cmd/populator-controller/populator-controller.go
  hack/ovirt-populator/Containerfile
Owners: @ahadas

Push the new images
  .github/workflows/build-push-images.yml
  README.md
  hack/release-images.sh
Owners: @ahadas

Fix the populator controller image push
  BUILD.bazel
  hack/release-images.sh
Owners: @ahadas

Fix the populator controller image push
  BUILD.bazel
  hack/release-images.sh
Owners: @ahadas

Fix the populator controller image push
  BUILD.bazel
  hack/release-images.sh
Owners: @ahadas

Nested workspace for virt-v2v-warm
  BUILD.bazel
  Makefile
  WORKSPACE
  hack/release-images.sh
  hack/virt-v2v-warm-rpm-deps.sh
  virt-v2v/BUILD.bazel
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @ahadas, @nyoxi

Upgrade virt-v2v-cold to ubi9
  Makefile
  hack/release-images.sh
  hack/virt-v2v-cold-rpm-deps.sh
  rpm/stream9-repo.yaml
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/cold/entrypoint
Owners: @ahadas, @nyoxi

Upgrade virt-v2v-cold to ubi9
  Makefile
  hack/release-images.sh
  hack/virt-v2v-cold-rpm-deps.sh
  rpm/stream9-repo.yaml
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/cold/entrypoint
Owners: @ahadas, @nyoxi

Nested workspace for virt-v2v-warm
  BUILD.bazel
  Makefile
  WORKSPACE
  hack/release-images.sh
  hack/virt-v2v-warm-rpm-deps.sh
  virt-v2v/BUILD.bazel
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @ahadas, @nyoxi
