Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

use --spawn_strategy=processwrapper-sandbox
  .bazelrc
Owners: @ahadas

ocp: address comments
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

OCP: add support for secrets and configmaps
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: address comments
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

OCP: add support for secrets and configmaps
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: make sure the volume is a PVC
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

ocp: make sure the volume is a PVC
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

OCP: add support for secrets and configmaps
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

fix virt-v2v bracket
  virt-v2v/cold/entrypoint
Owners: @nyoxi

fix virt-v2v bracket
  virt-v2v/cold/entrypoint
Owners: @nyoxi

fix virt-v2v bracket
  virt-v2v/cold/entrypoint
Owners: @nyoxi

OCP: add support for secrets and configmaps
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

fix virt-v2v bracket
  virt-v2v/cold/entrypoint
Owners: @nyoxi

fix regexp for ovirt-imageio layer
  .bazelrc
Owners: @ahadas

fix virt-v2v bracket
  virt-v2v/cold/entrypoint
Owners: @nyoxi

fix regexp for ovirt-imageio layer
  .bazelrc
Owners: @ahadas

fix regexp for ovirt-imageio layer
  .bazelrc
Owners: @ahadas

Fix TLS SSL connection to FIPS enabled systems
  .bazelrc
  WORKSPACE
  virt-v2v/cold/.bazerlc
  virt-v2v/cold/BUILD.bazel
Owners: @ahadas, @nyoxi

Fix TLS SSL connection to FIPS enabled systems
  .bazelrc
  WORKSPACE
  virt-v2v/cold/.bazerlc
  virt-v2v/cold/BUILD.bazel
Owners: @ahadas, @nyoxi

Fix TLS SSL connection to FIPS enabled systems
  .bazelrc
  WORKSPACE
  virt-v2v/cold/.bazerlc
  virt-v2v/cold/BUILD.bazel
Owners: @ahadas, @nyoxi

virt-v2v: Build our own fixed appliance on el8
  cmd/forklift-controller/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/.bazelrc
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
  virt-v2v/warm/entrypoint
Owners: @ahadas, @nyoxi

ocp: make export token TTL configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/client.go
  pkg/settings/migration.go
Owners: @mnecas, @ahadas

add -layer suffix to ems layer
  .bazelrc
  virt-v2v/cold/.bazerlc
Owners: @ahadas, @nyoxi

add -layer suffix to ems layer
  .bazelrc
  virt-v2v/cold/.bazerlc
Owners: @ahadas, @nyoxi

add -layer suffix to ems layer
  .bazelrc
  virt-v2v/cold/.bazerlc
Owners: @ahadas, @nyoxi

ocp: use namespace from Ref when present
  pkg/controller/provider/web/ocp/client.go
Owners: @ahadas

ocp: use namespace from Ref when present
  pkg/controller/provider/web/ocp/client.go
Owners: @ahadas

ocp: use namespace from Ref when present
  pkg/controller/provider/web/ocp/client.go
Owners: @ahadas

ocp: make export token TTL configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/client.go
  pkg/settings/migration.go
Owners: @mnecas, @ahadas

ocp: make export token TTL configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/client.go
  pkg/settings/migration.go
Owners: @mnecas, @ahadas

ocp: use namespace from Ref when present
  pkg/controller/provider/web/ocp/client.go
Owners: @ahadas

ocp: use namespace from Ref when present
  pkg/controller/provider/web/ocp/client.go
Owners: @ahadas

ocp: make export token TTL configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/client.go
  pkg/settings/migration.go
Owners: @mnecas, @ahadas

ocp: make export token TTL configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/client.go
  pkg/settings/migration.go
Owners: @mnecas, @ahadas

openstack: use raw format for images
  pkg/lib/client/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: use raw format for images
  pkg/lib/client/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: use raw format for images
  pkg/lib/client/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: use raw format for images
  pkg/lib/client/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: use raw format for images
  pkg/lib/client/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

simplify getResourceCapacity
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/ova_capacity_test.go
Owners: @ahadas
