Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

operator: virtv2v - split image to warm and cold
  .bazelrc
  Makefile
  README.md
  hack/release-images.sh
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
Owners: @ahadas, @mnecas

operator: virtv2v - split image to warm and cold
  .bazelrc
  Makefile
  README.md
  hack/release-images.sh
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
Owners: @ahadas, @mnecas

operator: virtv2v - split image to warm and cold
  .bazelrc
  Makefile
  README.md
  hack/release-images.sh
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
Owners: @ahadas, @mnecas

copy vendor/ directory instead of downloading
  hack/openstack-populator/Containerfile
Owners: @ahadas, @bennyz, @mmartinv

Fix Makefile when using ccache
  Makefile
Owners: @ahadas

Fix region method for the openstack client
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Use correct variable name.
  pkg/controller/provider/web/openstack/project.go
Owners: @ahadas, @bennyz, @mmartinv

Fix region method for the openstack client
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Use correct variable name.
  pkg/controller/provider/web/openstack/project.go
Owners: @ahadas, @bennyz, @mmartinv

Use correct variable name.
  pkg/controller/provider/web/openstack/project.go
Owners: @ahadas, @bennyz, @mmartinv

Fix region method for the openstack client
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Fix Makefile when using ccache
  Makefile
Owners: @ahadas

Fix Makefile when using ccache
  Makefile
Owners: @ahadas

update populator
  cmd/openstack-populator/openstack-populator.go
  cmd/populator-controller/populator-controller.go
  go.mod
  go.sum
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/kubevirt.go
  vendor/github.com/kubev2v/lib-volume-populator/populator-machinery/controller.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

Implement the tree endpoint
  pkg/controller/provider/web/openstack/BUILD.bazel
  pkg/controller/provider/web/openstack/base.go
  pkg/controller/provider/web/openstack/doc.go
  pkg/controller/provider/web/openstack/tree.go
Owners: @ahadas, @bennyz, @mmartinv

support storageclasses in tests
  .github/workflows/pull-request.yml
  tests/suit/BUILD.bazel
  tests/suit/framework/ovirt.go
  tests/suit/ovirt_test.go
  tests/suit/utils/storagemap.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

change integration to current code
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/base/BUILD.bazel
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/vsphere/BUILD.bazel
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

proceed if populator CR already exists
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

switch ovirt image populator placement
  pkg/apis/forklift/v1beta1/ovirtimagevolumepopulator.go
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

fix the step and phasing
  pkg/controller/plan/migration.go
Owners: @ahadas

ovirt: Use volume populator for cold migration
  pkg/apis/forklift/v1beta1/ovirtimagevolumepopulator.go
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/migration.go
Owners: @ahadas

propagate errors in getting storage profile modes
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

bazel update
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/base/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/vsphere/BUILD.bazel
Owners: @ahadas

Fix makefile syntax error
  Makefile
Owners: @ahadas

Change the populator pod namespace
  cmd/ovirt-populator/BUILD.bazel
  cmd/ovirt-populator/ovirt-populator.go
  go.mod
  go.sum
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  vendor/github.com/kubev2v/lib-volume-populator/populator-machinery/controller.go
  vendor/modules.txt
Owners: @ahadas

Make the status and progress optional
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
Owners: @mnecas, @ahadas

Cleanup from ovirt-populator image
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

Fix makefile syntax error
  Makefile
Owners: @ahadas

Fix makefile syntax error
  Makefile
Owners: @ahadas

Change the populator pod namespace
  cmd/ovirt-populator/BUILD.bazel
  cmd/ovirt-populator/ovirt-populator.go
  go.mod
  go.sum
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  vendor/github.com/kubev2v/lib-volume-populator/populator-machinery/controller.go
  vendor/modules.txt
Owners: @ahadas

support storageclasses in tests
  .github/workflows/pull-request.yml
  tests/suit/BUILD.bazel
  tests/suit/framework/ovirt.go
  tests/suit/ovirt_test.go
  tests/suit/utils/storagemap.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

Make the status and progress optional
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
Owners: @mnecas, @ahadas

ovirt: Use volume populator for cold migration
  pkg/apis/forklift/v1beta1/ovirtimagevolumepopulator.go
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/migration.go
Owners: @ahadas

switch ovirt image populator placement
  pkg/apis/forklift/v1beta1/ovirtimagevolumepopulator.go
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

proceed if populator CR already exists
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

propagate errors in getting storage profile modes
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Make the status and progress optional
  operator/config/crd/bases/forklift.konveyor.io_ovirtvolumepopulators.yaml
  pkg/apis/forklift/v1beta1/ovirtpopulator.go
Owners: @mnecas, @ahadas

Cleanup from ovirt-populator image
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

Cleanup from ovirt-populator image
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

change integration to current code
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/base/BUILD.bazel
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ovirt/BUILD.bazel
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/vsphere/BUILD.bazel
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
