Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

Bump ubi9-minimal image for cold v2v
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

Bump ubi9-minimal image for cold v2v
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

Bump ubi9-minimal image for cold v2v
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

Add forklift-populator-controller as a user of forklift-controller-scc
  operator/roles/forkliftcontroller/templates/controller/controller-scc.yml.j2
Owners: @mnecas

api: Add Forklift API to scheme during initialization
  cmd/forklift-api/BUILD.bazel
  cmd/forklift-api/forklift-api.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

Add forklift-populator-controller as a user of forklift-controller-scc
  operator/roles/forkliftcontroller/templates/controller/controller-scc.yml.j2
Owners: @mnecas

Add forklift-populator-controller as a user of forklift-controller-scc
  operator/roles/forkliftcontroller/templates/controller/controller-scc.yml.j2
Owners: @mnecas

api: Add Forklift API to scheme during initialization
  cmd/forklift-api/BUILD.bazel
  cmd/forklift-api/forklift-api.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

Add forklift-populator-controller as a user of forklift-controller-scc
  operator/roles/forkliftcontroller/templates/controller/controller-scc.yml.j2
Owners: @mnecas

Tests: use restricted namespaces
  tests/suit/ovirt_test.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

Add forklift-populator-controller as a user of forklift-controller-scc
  operator/roles/forkliftcontroller/templates/controller/controller-scc.yml.j2
Owners: @mnecas

Tests: use restricted namespaces
  tests/suit/ovirt_test.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

Tests: use restricted namespaces
  tests/suit/ovirt_test.go
  tests/suit/vsphere_test.go
Owners: @ahadas, @eslutsky, @liranr23

Disable EMS check without changing /usr/share
  virt-v2v/cold/BUILD.bazel
Owners: @nyoxi

Disable EMS check without changing /usr/share
  virt-v2v/cold/BUILD.bazel
Owners: @nyoxi

Disable EMS check without changing /usr/share
  virt-v2v/cold/BUILD.bazel
Owners: @nyoxi

OVA: Change the scanning for ova and ovf files inside the NFS directory
  cmd/ova-provider-server/BUILD.bazel
  cmd/ova-provider-server/nfs_test.go
  cmd/ova-provider-server/ova-provider-server.go
Owners: @ahadas

OVA: Change the scanning for ova and ovf files inside the NFS directory
  cmd/ova-provider-server/BUILD.bazel
  cmd/ova-provider-server/nfs_test.go
  cmd/ova-provider-server/ova-provider-server.go
Owners: @ahadas

OVA: Change the scanning for ova and ovf files inside the NFS directory
  cmd/ova-provider-server/BUILD.bazel
  cmd/ova-provider-server/nfs_test.go
  cmd/ova-provider-server/ova-provider-server.go
Owners: @ahadas

openstack: do not use region when application credential is used
  pkg/controller/provider/container/openstack/model.go
  pkg/lib/client/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

OVA: Change the scanning for ova and ovf files inside the NFS directory backport https://github.com/kubev2v/forklift/pull/586
  cmd/ova-provider-server/BUILD.bazel
  cmd/ova-provider-server/nfs_test.go
  cmd/ova-provider-server/ova-provider-server.go
Owners: @ahadas

OVA: Change the scanning for ova and ovf files inside the NFS directory backport https://github.com/kubev2v/forklift/pull/586
  cmd/ova-provider-server/BUILD.bazel
  cmd/ova-provider-server/nfs_test.go
  cmd/ova-provider-server/ova-provider-server.go
Owners: @ahadas

ocp: consider missing namespace in network name
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: extract to function and add unit test
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/validator.go
  pkg/controller/plan/adapter/ocp/validator_test.go
Owners: @ahadas

ocp: extract to function and add unit test
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/validator.go
  pkg/controller/plan/adapter/ocp/validator_test.go
Owners: @ahadas

ocp: extract to function and add unit test
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/validator.go
  pkg/controller/plan/adapter/ocp/validator_test.go
Owners: @ahadas

ocp: consider missing namespace in network name
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: consider missing namespace in network name
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: consider missing namespace in network name
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/validator.go
  pkg/controller/plan/adapter/ocp/validator_test.go
Owners: @ahadas

Single webhook per configuration entity
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-forklift-api.yml.j2
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-plans.yml.j2
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-secrets.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-forklift-api.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-plans.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-providers.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-secrets.yml.j2
Owners: @mnecas

Switch to 2.5.1
  .bazelrc
  Makefile
  README.md
  operator/README.md
Owners: @ahadas, @mnecas

Switch to v2.5.1 names
  .bazelrc
  Makefile
  README.md
  operator/README.md
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @ahadas, @mnecas

Switch to v2.5.1 names
  .bazelrc
  Makefile
  README.md
  operator/README.md
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
Owners: @ahadas, @mnecas

ocp: consider missing namespace in network name
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/validator.go
  pkg/controller/plan/adapter/ocp/validator_test.go
Owners: @ahadas

ova: fix migration with multiple disks
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

ova: fix migration with multiple disks
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

Single webhook per configuration entity
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-forklift-api.yml.j2
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-plans.yml.j2
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-secrets.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-forklift-api.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-plans.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-providers.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-secrets.yml.j2
Owners: @mnecas

Single webhook per configuration entity
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-forklift-api.yml.j2
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-plans.yml.j2
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-secrets.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-forklift-api.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-plans.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-providers.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-secrets.yml.j2
Owners: @mnecas

Single webhook per configuration entity
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-forklift-api.yml.j2
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-plans.yml.j2
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-secrets.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-forklift-api.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-plans.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-providers.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-secrets.yml.j2
Owners: @mnecas

Single webhook per configuration entity
  operator/roles/forkliftcontroller/tasks/main.yml
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-forklift-api.yml.j2
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-plans.yml.j2
  operator/roles/forkliftcontroller/templates/api/mutatingwebhookconfiguration-secrets.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-forklift-api.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-plans.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-providers.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-secrets.yml.j2
Owners: @mnecas

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
