Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

openstack: Map unsupported "vmxnet3" interface
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: Add missing virtual hardware constants
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: Map unsupported "vmxnet3" interface
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

Use patch instead of update to set PVC owner references
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Use patch instead of update to set PVC owner references
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

openstack: error handling for snapshots and volumes
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: error handling for snapshots and volumes
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix image properties mappings and precedence
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix image properties mappings and precedence
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: modify misleading log message
  pkg/controller/provider/container/openstack/collector.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: make sure VMs are synchronized
  pkg/controller/provider/container/openstack/model.go
  pkg/controller/provider/container/openstack/resource.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: make sure VMs are synchronized
  pkg/controller/provider/container/openstack/model.go
  pkg/controller/provider/container/openstack/resource.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: modify misleading log message
  pkg/controller/provider/container/openstack/collector.go
Owners: @ahadas, @bennyz, @mmartinv

rephrase label and assessment in openstack/vm_os.rego
  validation/policies/io/konveyor/forklift/openstack/vm_os.rego
  validation/policies/io/konveyor/forklift/vmware/uefi_boot.rego
Owners: @ahadas, @bennyz, @mmartinv

Add storage webhook validation
  operator/roles/forkliftcontroller/templates/api/deployment-forklift-api.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-forklift-api.yml.j2
  pkg/forklift-api/webhooks/util/util.go
  pkg/forklift-api/webhooks/validating-webhook.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
  pkg/forklift-api/webhooks/webhooks.go
Owners: @mnecas, @ahadas

Add storage webhook validation
  operator/roles/forkliftcontroller/templates/api/deployment-forklift-api.yml.j2
  operator/roles/forkliftcontroller/templates/api/validatingwebhookconfiguration-forklift-api.yml.j2
  pkg/forklift-api/webhooks/util/util.go
  pkg/forklift-api/webhooks/validating-webhook.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/forklift-api/webhooks/validating-webhook/admitters/plan-admitter.go
  pkg/forklift-api/webhooks/webhooks.go
Owners: @mnecas, @ahadas

openstack: fix fedora regex and add windows 2022
  validation/policies/io/konveyor/forklift/openstack/vm_os.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix fedora regex and add windows 2022
  validation/policies/io/konveyor/forklift/openstack/vm_os.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: Initial validations
  WORKSPACE
  pkg/controller/provider/web/openstack/image.go
  validation/Makefile
  validation/policies/io/konveyor/forklift/openstack/bios_boot_menu.rego
  validation/policies/io/konveyor/forklift/openstack/bios_boot_menu_test.rego
  validation/policies/io/konveyor/forklift/openstack/cpu_shares.rego
  validation/policies/io/konveyor/forklift/openstack/cpu_shares_test.rego
  validation/policies/io/konveyor/forklift/openstack/debug.rego
  validation/policies/io/konveyor/forklift/openstack/disk_interface_type.rego
  validation/policies/io/konveyor/forklift/openstack/disk_interface_type_test.rego
  validation/policies/io/konveyor/forklift/openstack/disk_status.rego
  validation/policies/io/konveyor/forklift/openstack/disk_status_test.rego
  validation/policies/io/konveyor/forklift/openstack/host_devices.rego
  validation/policies/io/konveyor/forklift/openstack/host_devices_test.rego
  validation/policies/io/konveyor/forklift/openstack/image_format.rego
  validation/policies/io/konveyor/forklift/openstack/image_format_test.rego
  validation/policies/io/konveyor/forklift/openstack/name.rego
  validation/policies/io/konveyor/forklift/openstack/name_test.rego
  validation/policies/io/konveyor/forklift/openstack/numa_tune.rego
  validation/policies/io/konveyor/forklift/openstack/numa_tune_test.rego
  validation/policies/io/konveyor/forklift/openstack/rules_version.rego
  validation/policies/io/konveyor/forklift/openstack/secure_boot.rego
  validation/policies/io/konveyor/forklift/openstack/secure_boot_test.rego
  validation/policies/io/konveyor/forklift/openstack/shared_disk.rego
  validation/policies/io/konveyor/forklift/openstack/shared_disk_test.rego
  validation/policies/io/konveyor/forklift/openstack/validate.rego
  validation/policies/io/konveyor/forklift/openstack/vif_models.rego
  validation/policies/io/konveyor/forklift/openstack/vif_models_test.rego
  validation/policies/io/konveyor/forklift/openstack/vm_image_based.rego
  validation/policies/io/konveyor/forklift/openstack/vm_image_based_test.rego
  validation/policies/io/konveyor/forklift/openstack/vm_os.rego
  validation/policies/io/konveyor/forklift/openstack/vm_os_test.rego
  validation/policies/io/konveyor/forklift/openstack/vm_status.rego
  validation/policies/io/konveyor/forklift/openstack/vm_status_test.rego
  validation/policies/io/konveyor/forklift/openstack/watchdog.rego
  validation/policies/io/konveyor/forklift/openstack/watchdog_test.rego
Owners: @ahadas, @bennyz, @mmartinv

rephrase label and assessment in openstack/vm_os.rego
  validation/policies/io/konveyor/forklift/openstack/vm_os.rego
  validation/policies/io/konveyor/forklift/vmware/uefi_boot.rego
Owners: @ahadas, @bennyz, @mmartinv

Make broader use of future.keywords.if/in
  validation/policies/io/konveyor/forklift/openstack/bios_boot_menu.rego
  validation/policies/io/konveyor/forklift/openstack/host_devices.rego
  validation/policies/io/konveyor/forklift/openstack/numa_tune.rego
  validation/policies/io/konveyor/forklift/openstack/secure_boot.rego
  validation/policies/io/konveyor/forklift/openstack/vm_image_based.rego
  validation/policies/io/konveyor/forklift/openstack/vm_status.rego
  validation/policies/io/konveyor/forklift/openstack/watchdog.rego
Owners: @ahadas, @bennyz, @mmartinv

Make broader use of future.keywords.if/in
  validation/policies/io/konveyor/forklift/openstack/bios_boot_menu.rego
  validation/policies/io/konveyor/forklift/openstack/host_devices.rego
  validation/policies/io/konveyor/forklift/openstack/numa_tune.rego
  validation/policies/io/konveyor/forklift/openstack/secure_boot.rego
  validation/policies/io/konveyor/forklift/openstack/vm_image_based.rego
  validation/policies/io/konveyor/forklift/openstack/vm_status.rego
  validation/policies/io/konveyor/forklift/openstack/watchdog.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix fedora regex and add windows 2022
  validation/policies/io/konveyor/forklift/openstack/vm_os.rego
Owners: @ahadas, @bennyz, @mmartinv

rephrase label and assessment in openstack/vm_os.rego
  validation/policies/io/konveyor/forklift/openstack/vm_os.rego
  validation/policies/io/konveyor/forklift/vmware/uefi_boot.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: Initial validations
  WORKSPACE
  pkg/controller/provider/web/openstack/image.go
  validation/Makefile
  validation/policies/io/konveyor/forklift/openstack/bios_boot_menu.rego
  validation/policies/io/konveyor/forklift/openstack/bios_boot_menu_test.rego
  validation/policies/io/konveyor/forklift/openstack/cpu_shares.rego
  validation/policies/io/konveyor/forklift/openstack/cpu_shares_test.rego
  validation/policies/io/konveyor/forklift/openstack/debug.rego
  validation/policies/io/konveyor/forklift/openstack/disk_interface_type.rego
  validation/policies/io/konveyor/forklift/openstack/disk_interface_type_test.rego
  validation/policies/io/konveyor/forklift/openstack/disk_status.rego
  validation/policies/io/konveyor/forklift/openstack/disk_status_test.rego
  validation/policies/io/konveyor/forklift/openstack/host_devices.rego
  validation/policies/io/konveyor/forklift/openstack/host_devices_test.rego
  validation/policies/io/konveyor/forklift/openstack/image_format.rego
  validation/policies/io/konveyor/forklift/openstack/image_format_test.rego
  validation/policies/io/konveyor/forklift/openstack/name.rego
  validation/policies/io/konveyor/forklift/openstack/name_test.rego
  validation/policies/io/konveyor/forklift/openstack/numa_tune.rego
  validation/policies/io/konveyor/forklift/openstack/numa_tune_test.rego
  validation/policies/io/konveyor/forklift/openstack/rules_version.rego
  validation/policies/io/konveyor/forklift/openstack/secure_boot.rego
  validation/policies/io/konveyor/forklift/openstack/secure_boot_test.rego
  validation/policies/io/konveyor/forklift/openstack/shared_disk.rego
  validation/policies/io/konveyor/forklift/openstack/shared_disk_test.rego
  validation/policies/io/konveyor/forklift/openstack/validate.rego
  validation/policies/io/konveyor/forklift/openstack/vif_models.rego
  validation/policies/io/konveyor/forklift/openstack/vif_models_test.rego
  validation/policies/io/konveyor/forklift/openstack/vm_image_based.rego
  validation/policies/io/konveyor/forklift/openstack/vm_image_based_test.rego
  validation/policies/io/konveyor/forklift/openstack/vm_os.rego
  validation/policies/io/konveyor/forklift/openstack/vm_os_test.rego
  validation/policies/io/konveyor/forklift/openstack/vm_status.rego
  validation/policies/io/konveyor/forklift/openstack/vm_status_test.rego
  validation/policies/io/konveyor/forklift/openstack/watchdog.rego
  validation/policies/io/konveyor/forklift/openstack/watchdog_test.rego
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix graphics device mapping
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

Revert "Use patch instead of update to set PVC owner references"
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Revert "Use patch instead of update to set PVC owner references"
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix the pvc update with remote migration
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Revert Revert "Use patch instead of update to set PVC owner references"
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix the pvc update with remote migration
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Fix the pvc update with remote migration
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Revert Revert "Use patch instead of update to set PVC owner references"
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

virt-v2: cold: use tag instead of digest for CentOS image
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

Change image tag for appliance build to 'stream9'
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

virt-v2: cold: use tag instead of digest for CentOS image
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

Change image tag for appliance build to 'stream9'
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

Change image tag for appliance build to 'stream9'
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

virt-v2: cold: use tag instead of digest for CentOS image
  virt-v2v/cold/WORKSPACE
Owners: @nyoxi

change CI to use forkliftci tags
  .github/workflows/pull-request.yml
Owners: @ahadas
