Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

Replace go-toolset image
  hack/ovirt-populator/Containerfile
Owners: @ahadas

Set oVirt populator image using envvar
  cmd/populator-controller/BUILD.bazel
  cmd/populator-controller/populator-controller.go
  operator/roles/forkliftcontroller/templates/populator/deployment-populator-controller.yml.j2
Owners: @ahadas, @mnecas

make the populator deployment optional
  operator/config/manifests/bases/forklift-operator.clusterserviceversion.yaml
  operator/config/samples/forklift_v1beta1_forkliftcontroller.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

Minor cleanup
  cmd/populator-controller/populator-controller.go
  tests/suit/BUILD.bazel
Owners: @ahadas, @eslutsky, @liranr23

ovirt-populator: change an error to fatal
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

ovirt-populator: change an error to fatal
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

ovirt-populator: change an error to fatal
  cmd/ovirt-populator/ovirt-populator.go
Owners: @ahadas

fix for ovirt CI migration test e2e_cacert.cer changed path
  .github/workflows/pull-request.yml
Owners: @ahadas

fix for ovirt CI migration test e2e_cacert.cer changed path
  .github/workflows/pull-request.yml
Owners: @ahadas

fix for ovirt CI migration test e2e_cacert.cer changed path
  .github/workflows/pull-request.yml
Owners: @ahadas

operator: Add RELATED_IMAGE_UI_PLUGIN env var
  operator/roles/forkliftcontroller/defaults/main.yml
Owners: @mnecas

operator: Add RELATED_IMAGE_UI_PLUGIN env var
  operator/roles/forkliftcontroller/defaults/main.yml
Owners: @mnecas

operator: Add RELATED_IMAGE_UI_PLUGIN env var
  operator/roles/forkliftcontroller/defaults/main.yml
Owners: @mnecas

Authenticate requests for the currect namespace
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/provider/web/base/auth.go
  pkg/controller/provider/web/base/auth_test.go
  pkg/controller/provider/web/ocp/provider.go
  pkg/controller/provider/web/openstack/provider.go
  pkg/controller/provider/web/ovirt/provider.go
  pkg/controller/provider/web/vsphere/provider.go
Owners: @ahadas, @bennyz, @mmartinv

CI - save k8s logs in gh-action workflow artifacts
  .github/workflows/pull-request.yml
Owners: @ahadas

Authenticate requests for the currect namespace
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/provider/web/base/auth.go
  pkg/controller/provider/web/base/auth_test.go
  pkg/controller/provider/web/ocp/provider.go
  pkg/controller/provider/web/openstack/provider.go
  pkg/controller/provider/web/ovirt/provider.go
  pkg/controller/provider/web/vsphere/provider.go
Owners: @ahadas, @bennyz, @mmartinv

Authenticate requests for the currect namespace
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/provider/web/base/auth.go
  pkg/controller/provider/web/base/auth_test.go
  pkg/controller/provider/web/ocp/provider.go
  pkg/controller/provider/web/openstack/provider.go
  pkg/controller/provider/web/ovirt/provider.go
  pkg/controller/provider/web/vsphere/provider.go
Owners: @ahadas, @bennyz, @mmartinv

CI - save k8s logs in gh-action workflow artifacts
  .github/workflows/pull-request.yml
Owners: @ahadas

CI - save k8s logs in gh-action workflow artifacts
  .github/workflows/pull-request.yml
Owners: @ahadas

Adding a check that the certificate provided is valid
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
Owners: @ahadas

Adding a check that the certificate provided is valid
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
Owners: @ahadas

Adding a check that the certificate provided is valid
  pkg/forklift-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/forklift-api/webhooks/mutating-webhook/mutators/ovirt-cert-mutator.go
Owners: @ahadas

CI - add more logs and seperate artifcats per provider
  .github/workflows/pull-request.yml
Owners: @ahadas

CI - add more logs and seperate artifcats per provider
  .github/workflows/pull-request.yml
Owners: @ahadas

CI - add more logs and seperate artifcats per provider
  .github/workflows/pull-request.yml
Owners: @ahadas

openstack: improvements to idempotence and rebase issues
  pkg/controller/plan/adapter/openstack/adapter.go
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: checkpoint for import
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: intermidiate cleanup
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/web/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: implement StorageMapped
  pkg/controller/plan/adapter/openstack/validator.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: add error checks
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: get RAM from flavor
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: debug logs for storage mapping
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/openstack/validator.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: rebase on main
  pkg/apis/forklift/v1beta1/openstackpopulator.go
  pkg/apis/forklift/v1beta1/zz_generated.deepcopy.go
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/adapter/vsphere/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/web/openstack/workload.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: start integrating openstack vol-pop into forklift
  cmd/openstack-populator/BUILD.bazel
  cmd/openstack-populator/openstack-populator.go
  cmd/populator-controller/populator-controller.go
  pkg/apis/forklift/v1beta1/BUILD.bazel
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/openstack/BUILD.bazel
  pkg/controller/plan/util/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/extensions/volumeactions/urls.go
  vendor/github.com/gophercloud/gophercloud/openstack/imageservice/v2/imagedata/BUILD.bazel
  vendor/github.com/gophercloud/gophercloud/openstack/imageservice/v2/imagedata/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/imageservice/v2/imagedata/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/imageservice/v2/imagedata/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/imageservice/v2/imagedata/urls.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: get storage class from mapping
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

openstack: additional fixes
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/plan/util/openstack.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: remove CI logs
  pkg/controller/plan/adapter/openstack/validator.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: add final cleanup
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: skip volumes in uploading status
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix cleanup
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
