Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

fix NPE when libmodel.Error is received
  pkg/lib/inventory/web/client.go
Owners: @ahadas

fix NPE when libmodel.Error is received
  pkg/lib/inventory/web/client.go
Owners: @ahadas

fix NPE when libmodel.Error is received
  pkg/lib/inventory/web/client.go
Owners: @ahadas

Fix 'entrypoint' logger of forklift-api
  cmd/forklift-api/BUILD.bazel
  cmd/forklift-api/forklift-api.go
Owners: @ahadas

Fix incorrect use of loggers in forklift-api
  pkg/forklift-api/webhooks/mutating-webhook/mutators/plan-mutator.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

Fix incorrect use of loggers in forklift-api
  pkg/forklift-api/webhooks/mutating-webhook/mutators/plan-mutator.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

Fix 'entrypoint' logger of forklift-api
  cmd/forklift-api/BUILD.bazel
  cmd/forklift-api/forklift-api.go
Owners: @ahadas

Fix 'entrypoint' logger of forklift-api
  cmd/forklift-api/BUILD.bazel
  cmd/forklift-api/forklift-api.go
Owners: @ahadas

Fix incorrect use of loggers in forklift-api
  pkg/forklift-api/webhooks/mutating-webhook/mutators/plan-mutator.go
  pkg/forklift-api/webhooks/validating-webhook/admitters/secret-admitter.go
Owners: @ahadas

Bump dependencies of virt-v2v
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

Bump dependencies of virt-v2v
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

Bump dependencies of virt-v2v
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

shorten checks for errors from gophercloud
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

minor cleanup in secret-mutator.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/secret-mutator.go
Owners: @ahadas

WIP remove SCC for k8s
  operator/roles/forkliftcontroller/tasks/main.yml
Owners: @mnecas

minor cleanup in secret-mutator.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/secret-mutator.go
Owners: @ahadas

minor cleanup in secret-mutator.go
  pkg/forklift-api/webhooks/mutating-webhook/mutators/secret-mutator.go
Owners: @ahadas

shorten checks for errors from gophercloud
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

shorten checks for errors from gophercloud
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Remove dependencies on unexisting targets
  Makefile
Owners: @ahadas

Remove dependencies on unexisting targets
  Makefile
Owners: @ahadas

Remove dependencies on unexisting targets
  Makefile
Owners: @ahadas

Fix code smell issues
  pkg/controller/provider/web/ova/workload.go
  pkg/controller/provider/web/ovirt/provider.go
Owners: @ahadas

Fix code smell issues
  pkg/controller/provider/web/ova/workload.go
  pkg/controller/provider/web/ovirt/provider.go
Owners: @ahadas

Fix code smell issues
  pkg/controller/provider/web/ova/workload.go
  pkg/controller/provider/web/ovirt/provider.go
Owners: @ahadas

WIP: Adding initiall support for OVA migration
  cmd/ova-parser/BUILD.bazel
  cmd/ova-parser/ova-parser.go
  hack/ova-parser/Containerfile
  pkg/controller/provider/BUILD.bazel
  pkg/controller/provider/validation.go
Owners: @ahadas

ocp: upgrade deps in preparation for import VirtuaMachineExport
  pkg/controller/provider/BUILD.bazel
Owners: @ahadas

Intorudce virt-v2v image for OVA
  hack/virt-v2v-cold-rpm-deps.sh
  virt-v2v/cold/entrypoint
Owners: @ahadas, @nyoxi

Add OVA flow
  pkg/controller/plan/adapter/BUILD.bazel
  pkg/controller/plan/adapter/doc.go
  pkg/controller/plan/adapter/ova/BUILD.bazel
  pkg/controller/plan/adapter/ova/adapter.go
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/validator.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/scheduler/BUILD.bazel
  pkg/controller/plan/scheduler/doc.go
  pkg/controller/plan/scheduler/ova/BUILD.bazel
  pkg/controller/plan/scheduler/ova/scheduler.go
  pkg/controller/provider/validation.go
  pkg/controller/provider/web/client.go
Owners: @ahadas

some inventory changes
  cmd/ova-parser/ova-parser.go
  pkg/controller/provider/container/ova/model.go
  pkg/controller/provider/model/ova/model.go
  pkg/controller/provider/web/ova/disk.go
  pkg/controller/provider/web/ova/provider.go
Owners: @ahadas

adding handlers
  pkg/controller/map/network/handler/BUILD.bazel
  pkg/controller/map/network/handler/doc.go
  pkg/controller/map/network/handler/ova/BUILD.bazel
  pkg/controller/map/network/handler/ova/doc.go
  pkg/controller/map/network/handler/ova/handler.go
  pkg/controller/map/storage/handler/BUILD.bazel
  pkg/controller/map/storage/handler/doc.go
Owners: @ahadas

fix GIN for ova
  pkg/controller/provider/container/ova/collector.go
Owners: @ahadas

DB field fix
  pkg/controller/provider/container/ova/model.go
Owners: @ahadas

changes to the plan
  pkg/controller/plan/adapter/ova/BUILD.bazel
  pkg/controller/plan/adapter/ova/adapter.go
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/client.go
  pkg/controller/plan/adapter/ova/destinationclient.go
  pkg/controller/plan/adapter/ova/validator.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/provider/container/ova/resource.go
  pkg/controller/provider/model/ova/model.go
  pkg/controller/provider/web/ova/disk.go
Owners: @ahadas

get capacity as int
  cmd/ova-parser/ova-parser.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/provider/container/ova/resource.go
Owners: @ahadas

add id and name to disk
  cmd/ova-parser/ova-parser.go
  pkg/controller/provider/container/ova/resource.go
Owners: @ahadas

add ova migration flow fixes
  cmd/ova-parser/BUILD.bazel
  cmd/ova-parser/ova-parser.go
  cmd/ova-provider-server/ova-provider-server.go
  hack/ova-parser/Containerfile
  pkg/controller/plan/adapter/ova/builder.go
  pkg/controller/plan/adapter/ova/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/provider/container/ova/resource.go
  pkg/controller/provider/model/ova/model.go
  pkg/controller/provider/web/ova/client.go
Owners: @ahadas

reduce cognitive complexity in ListContent functions
  pkg/controller/provider/web/openstack/provider.go
  pkg/controller/provider/web/ova/provider.go
  pkg/controller/provider/web/ovirt/provider.go
Owners: @ahadas, @bennyz, @mmartinv

reduce cognitive complexity in ListContent functions
  pkg/controller/provider/web/openstack/provider.go
  pkg/controller/provider/web/ova/provider.go
  pkg/controller/provider/web/ovirt/provider.go
Owners: @ahadas, @bennyz, @mmartinv

reduce cognitive complexity in ListContent functions
  pkg/controller/provider/web/openstack/provider.go
  pkg/controller/provider/web/ova/provider.go
  pkg/controller/provider/web/ovirt/provider.go
Owners: @ahadas, @bennyz, @mmartinv

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23
