Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

ocp: start OCP source provider support
  pkg/controller/validation/provider.go
Owners: @ahadas

ocp: upgrade deps in preparation for import VirtuaMachineExport
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  vendor/modules.txt
Owners: @ahadas

ocp: add storage map validation
  pkg/apis/forklift/v1beta1/mapping.go
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: add network mapping validations
  pkg/apis/forklift/v1beta1/mapping.go
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/validator.go
Owners: @ahadas

ocp: use storageClass from mapping
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: fix provider assignment
  pkg/controller/validation/provider.go
Owners: @ahadas

ocp: full migration currently works
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

ocp: do not check secret for host provider
  pkg/controller/plan/context/migration.go
Owners: @ahadas

ocp: create VirtualMachineExport
  cmd/forklift-controller/BUILD.bazel
  cmd/forklift-controller/main.go
  operator/config/rbac/forklift-controller_role.yaml
  pkg/apis/forklift/v1beta1/plan.go
  pkg/controller/plan/BUILD.bazel
  pkg/controller/plan/adapter/BUILD.bazel
  pkg/controller/plan/adapter/doc.go
  pkg/controller/plan/adapter/ocp/adapter.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/ocp/validator.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @mnecas

ocp: fix VM name issue
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/web/ocp/client.go
Owners: @ahadas

ocp: add PowerState and PowerOn
  pkg/controller/plan/adapter/ocp/client.go
Owners: @ahadas

ocp: fix secret creation
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

ocp: fixed missed review comments
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/migration.go
Owners: @ahadas

ocp: add missing vendor
  vendor/kubevirt.io/api/export/BUILD.bazel
  vendor/kubevirt.io/api/export/register.go
  vendor/kubevirt.io/api/export/v1alpha1/BUILD.bazel
  vendor/kubevirt.io/api/export/v1alpha1/deepcopy_generated.go
  vendor/kubevirt.io/api/export/v1alpha1/doc.go
  vendor/kubevirt.io/api/export/v1alpha1/register.go
  vendor/kubevirt.io/api/export/v1alpha1/types.go
  vendor/kubevirt.io/api/export/v1alpha1/types_swagger_generated.go
Owners: @ahadas

ocp: cleanup VMExport CR
  pkg/controller/plan/adapter/ocp/client.go
Owners: @ahadas

ocp: export pod started successfully
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

ocp: create DV
  pkg/controller/plan/adapter/ocp/BUILD.bazel
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

ocp: add namespace to ref
  operator/config/crd/bases/forklift.konveyor.io_hosts.yaml
  operator/config/crd/bases/forklift.konveyor.io_migrations.yaml
  operator/config/crd/bases/forklift.konveyor.io_networkmaps.yaml
  operator/config/crd/bases/forklift.konveyor.io_plans.yaml
  operator/config/crd/bases/forklift.konveyor.io_storagemaps.yaml
  pkg/apis/forklift/v1beta1/ref/ref.go
Owners: @mnecas, @ahadas

ocp: fix VM name issue
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
  pkg/controller/provider/web/ocp/client.go
Owners: @ahadas

ocp: use storageClass from mapping
  pkg/controller/plan/adapter/ocp/builder.go
Owners: @ahadas

ocp: resolve conflicts
  pkg/controller/plan/adapter/ocp/builder.go
  pkg/controller/plan/adapter/ocp/client.go
Owners: @ahadas

ocp: add missing vendor
  vendor/kubevirt.io/api/export/BUILD.bazel
  vendor/kubevirt.io/api/export/register.go
  vendor/kubevirt.io/api/export/v1alpha1/BUILD.bazel
  vendor/kubevirt.io/api/export/v1alpha1/deepcopy_generated.go
  vendor/kubevirt.io/api/export/v1alpha1/doc.go
  vendor/kubevirt.io/api/export/v1alpha1/register.go
  vendor/kubevirt.io/api/export/v1alpha1/types.go
  vendor/kubevirt.io/api/export/v1alpha1/types_swagger_generated.go
Owners: @ahadas

Push ovirt-populator image with bazel
  .github/workflows/build-push-images.yml
  BUILD.bazel
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  hack/release-images.sh
  ovirt_populator_containerfile
Owners: @ahadas

Push ovirt-populator image with bazel
  .github/workflows/build-push-images.yml
  BUILD.bazel
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  hack/release-images.sh
  ovirt_populator_containerfile
Owners: @ahadas

Push ovirt-populator image with bazel
  .github/workflows/build-push-images.yml
  BUILD.bazel
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  hack/release-images.sh
  ovirt_populator_containerfile
Owners: @ahadas

Replace REGISTRY_ACCOUNT with REGISTRY_ORG
  BUILD.bazel
Owners: @ahadas

Replace REGISTRY_ACCOUNT with REGISTRY_ORG
  BUILD.bazel
Owners: @ahadas

Replace REGISTRY_ACCOUNT with REGISTRY_ORG
  BUILD.bazel
Owners: @ahadas

Push openstack-populator image with bazel
  .github/workflows/build-push-images.yml
  BUILD.bazel
  WORKSPACE
  cmd/openstack-populator/BUILD.bazel
  hack/release-images.sh
  openstack_populator_containerfile
Owners: @ahadas, @bennyz, @mmartinv

Fix release-images.sh
  hack/release-images.sh
Owners: @ahadas

Fix release-images.sh
  hack/release-images.sh
Owners: @ahadas

Push openstack-populator image with bazel
  .github/workflows/build-push-images.yml
  BUILD.bazel
  WORKSPACE
  cmd/openstack-populator/BUILD.bazel
  hack/release-images.sh
  openstack_populator_containerfile
Owners: @ahadas, @bennyz, @mmartinv

Fix release-images.sh
  hack/release-images.sh
Owners: @ahadas

Push openstack-populator image with bazel
  .github/workflows/build-push-images.yml
  BUILD.bazel
  WORKSPACE
  cmd/openstack-populator/BUILD.bazel
  hack/release-images.sh
  openstack_populator_containerfile
Owners: @ahadas, @bennyz, @mmartinv

ocp: add support for the /tree endpoint
  pkg/controller/provider/model/ocp/BUILD.bazel
  pkg/controller/provider/model/ocp/tree.go
  pkg/controller/provider/web/ocp/BUILD.bazel
  pkg/controller/provider/web/ocp/base.go
  pkg/controller/provider/web/ocp/doc.go
  pkg/controller/provider/web/ocp/resource.go
  pkg/controller/provider/web/ocp/tree.go
  pkg/lib/inventory/web/client.go
Owners: @ahadas

bump forkliftci to v8.0
  .github/workflows/pull-request.yml
  Makefile
Owners: @ahadas

bump forkliftci to v8.0
  .github/workflows/pull-request.yml
  Makefile
Owners: @ahadas

bump forkliftci to v8.0
  .github/workflows/pull-request.yml
  Makefile
Owners: @ahadas

ocp: add support for the /tree endpoint
  pkg/controller/provider/model/ocp/BUILD.bazel
  pkg/controller/provider/model/ocp/tree.go
  pkg/controller/provider/web/ocp/BUILD.bazel
  pkg/controller/provider/web/ocp/base.go
  pkg/controller/provider/web/ocp/doc.go
  pkg/controller/provider/web/ocp/resource.go
  pkg/controller/provider/web/ocp/tree.go
  pkg/lib/inventory/web/client.go
Owners: @ahadas

ocp: add support for the /tree endpoint
  pkg/controller/provider/model/ocp/BUILD.bazel
  pkg/controller/provider/model/ocp/tree.go
  pkg/controller/provider/web/ocp/BUILD.bazel
  pkg/controller/provider/web/ocp/base.go
  pkg/controller/provider/web/ocp/doc.go
  pkg/controller/provider/web/ocp/resource.go
  pkg/controller/provider/web/ocp/tree.go
  pkg/lib/inventory/web/client.go
Owners: @ahadas
