Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

Upgrade virt-v2v and ovirt-imageio dependencies
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @ahadas, @nyoxi

Require KVM for OVA conversion pod
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Require KVM for OVA conversion pod
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Keep the populator pod on failure
  pkg/controller/plan/migration.go
  pkg/lib-volume-populator/populator-machinery/BUILD.bazel
  pkg/lib-volume-populator/populator-machinery/controller.go
Owners: @ahadas

Decreace updatePopulatorCopyProgress complexity
  pkg/controller/plan/migration.go
Owners: @ahadas

Refactor the code
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

fix power state handling from OpenStack
  pkg/apis/forklift/v1beta1/plan/vm.go
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/adapter/ova/client.go
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

fix power state handling from OpenStack
  pkg/apis/forklift/v1beta1/plan/vm.go
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/adapter/ova/client.go
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

fix power state handling from OpenStack
  pkg/apis/forklift/v1beta1/plan/vm.go
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/adapter/ova/client.go
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

ova: do not set empty 'features' and 'clock'
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

fix #437: Post VMs with desired 'Running' state
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

fix power state handling from OpenStack
  pkg/apis/forklift/v1beta1/plan/vm.go
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/adapter/ova/client.go
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

fix #437: Post VMs with desired 'Running' state
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

fix power state handling from OpenStack
  pkg/apis/forklift/v1beta1/plan/vm.go
  pkg/controller/plan/adapter/base/doc.go
  pkg/controller/plan/adapter/ocp/client.go
  pkg/controller/plan/adapter/openstack/client.go
  pkg/controller/plan/adapter/ova/client.go
  pkg/controller/plan/adapter/ovirt/client.go
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas, @bennyz, @mmartinv

Bump forklift to 2.5.3
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

Bump forklift to 2.5.3
  .bazelrc
  Makefile
  README.md
Owners: @ahadas

openstack: do not set empty features
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

ovirt: do not set empty features and clock
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

vsphere: do not set empty features and clock
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

vsphere: do not set empty features and clock
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

ovirt: do not set empty features and clock
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

openstack: do not set empty features
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: do not set empty features
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

vsphere: do not set empty features and clock
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

ova: do not set empty 'features' and 'clock'
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

ovirt: do not set empty features and clock
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

ova: do not set empty 'features' and 'clock'
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

ova: do not set empty 'features' and 'clock'
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

ovirt: do not set empty features and clock
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

vsphere: do not set empty features and clock
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

openstack: do not set empty features
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

Add support for ova provider creation in restcted namespace both on openshift and k8s platform.
  pkg/controller/provider/BUILD.bazel
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

ovirt: do not set empty features and clock
  pkg/controller/plan/adapter/ovirt/builder.go
Owners: @ahadas

openstack: do not set empty features
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

vsphere: do not set empty features and clock
  pkg/controller/plan/adapter/vsphere/builder.go
Owners: @ahadas

ova: do not set empty 'features' and 'clock'
  pkg/controller/plan/adapter/ova/builder.go
Owners: @ahadas

Backport https://github.com/kubev2v/forklift/pull/631
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Backport https://github.com/kubev2v/forklift/pull/631
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

ovirt: Reconcile disk on USER_UPDATE_VM_DISK
  pkg/controller/provider/container/ovirt/model.go
Owners: @ahadas

Make the filesystem overhead configurable
  operator/config/manager/manager.yaml
  operator/roles/forkliftcontroller/defaults/main.yml
  operator/roles/forkliftcontroller/templates/controller/deployment-controller.yml.j2
  pkg/controller/plan/adapter/openstack/builder.go
  pkg/controller/plan/adapter/ovirt/builder.go
  pkg/controller/plan/util/BUILD.bazel
  pkg/controller/plan/util/utils.go
  pkg/settings/logging.go
  pkg/settings/migration.go
  pkg/settings/policy.go
  pkg/settings/profiler.go
  pkg/settings/settings.go
Owners: @mnecas, @ahadas, @bennyz, @mmartinv
