Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

openstack: fix virtual interface mapping
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

change CI to use forkliftci tags
  .github/workflows/pull-request.yml
Owners: @ahadas

change CI to use forkliftci tags
  .github/workflows/pull-request.yml
Owners: @ahadas

openstack: fix virtual interface mapping
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix virtual interface mapping
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix error message and use liberr.Wrap for consistency
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: support new authentication types
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: support new authentication types
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: support new authentication types
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

Split forklift-api service account
  operator/BUILD.bazel
  operator/config/rbac/api/role.yaml
  operator/config/rbac/api/role_binding.yaml
  operator/config/rbac/api/service_account.yaml
  operator/config/rbac/kustomization.yaml
  operator/roles/forkliftcontroller/templates/api/deployment-forklift-api.yml.j2
Owners: @mnecas

Split forklift-api service account
  operator/BUILD.bazel
  operator/config/rbac/api/role.yaml
  operator/config/rbac/api/role_binding.yaml
  operator/config/rbac/api/service_account.yaml
  operator/config/rbac/kustomization.yaml
  operator/roles/forkliftcontroller/templates/api/deployment-forklift-api.yml.j2
Owners: @mnecas

Split forklift-api service account
  operator/BUILD.bazel
  operator/config/rbac/api/role.yaml
  operator/config/rbac/api/role_binding.yaml
  operator/config/rbac/api/service_account.yaml
  operator/config/rbac/kustomization.yaml
  operator/roles/forkliftcontroller/templates/api/deployment-forklift-api.yml.j2
Owners: @mnecas

openstack: fix error message and use liberr.Wrap for consistency
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: fix error message and use liberr.Wrap for consistency
  pkg/controller/plan/adapter/openstack/builder.go
Owners: @ahadas, @bennyz, @mmartinv

CI collect systemd journal log for packstack container
  .github/workflows/pull-request.yml
Owners: @ahadas

CI collect systemd journal log for packstack container
  .github/workflows/pull-request.yml
Owners: @ahadas

CI collect systemd journal log for packstack container
  .github/workflows/pull-request.yml
Owners: @ahadas

virt-v2v: cold: do not use glibc-2.34-66
  virt-v2v/cold/BUILD.bazel
Owners: @nyoxi

controller: improve logging related to snapshots
  pkg/controller/plan/adapter/vsphere/client.go
  pkg/controller/plan/migration.go
Owners: @ahadas

controller: fix creation of DataVolume checkpoints (Fixes #301)
  pkg/controller/plan/migration.go
Owners: @ahadas

virt-v2v: cold: do not use glibc-2.34-66
  virt-v2v/cold/BUILD.bazel
Owners: @nyoxi

virt-v2v: cold: do not use glibc-2.34-66
  virt-v2v/cold/BUILD.bazel
Owners: @nyoxi

openstack: bump gophercloud version
  go.mod
  go.sum
  vendor/github.com/gophercloud/gophercloud/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/README.md
  vendor/github.com/gophercloud/gophercloud/RELEASE.md
  vendor/github.com/gophercloud/gophercloud/openstack/auth_env.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/snapshots/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumes/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/client.go
  vendor/github.com/gophercloud/gophercloud/openstack/common/extensions/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/flavors/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v2/tenants/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/extensions/oauth1/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/projects/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/regions/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/imageservice/v2/images/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/subnets/results.go
  vendor/github.com/gophercloud/gophercloud/pagination/pager.go
  vendor/github.com/gophercloud/gophercloud/provider_client.go
  vendor/github.com/gophercloud/utils/openstack/clientconfig/BUILD.bazel
  vendor/github.com/gophercloud/utils/openstack/clientconfig/requests.go
  vendor/github.com/gophercloud/utils/openstack/clientconfig/results.go
  vendor/github.com/hashicorp/go-uuid/.travis.yml
  vendor/github.com/hashicorp/go-uuid/BUILD.bazel
  vendor/github.com/hashicorp/go-uuid/LICENSE
  vendor/github.com/hashicorp/go-uuid/README.md
  vendor/github.com/hashicorp/go-uuid/uuid.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

openstack: bump gophercloud version
  go.mod
  go.sum
  vendor/github.com/gophercloud/gophercloud/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/README.md
  vendor/github.com/gophercloud/gophercloud/RELEASE.md
  vendor/github.com/gophercloud/gophercloud/openstack/auth_env.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/snapshots/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumes/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/client.go
  vendor/github.com/gophercloud/gophercloud/openstack/common/extensions/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/flavors/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v2/tenants/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/extensions/oauth1/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/projects/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/regions/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/imageservice/v2/images/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/subnets/results.go
  vendor/github.com/gophercloud/gophercloud/pagination/pager.go
  vendor/github.com/gophercloud/gophercloud/provider_client.go
  vendor/github.com/gophercloud/utils/openstack/clientconfig/BUILD.bazel
  vendor/github.com/gophercloud/utils/openstack/clientconfig/requests.go
  vendor/github.com/gophercloud/utils/openstack/clientconfig/results.go
  vendor/github.com/hashicorp/go-uuid/.travis.yml
  vendor/github.com/hashicorp/go-uuid/BUILD.bazel
  vendor/github.com/hashicorp/go-uuid/LICENSE
  vendor/github.com/hashicorp/go-uuid/README.md
  vendor/github.com/hashicorp/go-uuid/uuid.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

openstack: bump gophercloud version
  go.mod
  go.sum
  vendor/github.com/gophercloud/gophercloud/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/README.md
  vendor/github.com/gophercloud/gophercloud/RELEASE.md
  vendor/github.com/gophercloud/gophercloud/openstack/auth_env.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/snapshots/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumes/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/blockstorage/v3/volumetypes/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/client.go
  vendor/github.com/gophercloud/gophercloud/openstack/common/extensions/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/flavors/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/compute/v2/servers/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v2/tenants/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/extensions/oauth1/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/groups/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/projects/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/regions/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/identity/v3/users/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/imageservice/v2/images/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/networks/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/subnets/results.go
  vendor/github.com/gophercloud/gophercloud/pagination/pager.go
  vendor/github.com/gophercloud/gophercloud/provider_client.go
  vendor/github.com/gophercloud/utils/openstack/clientconfig/BUILD.bazel
  vendor/github.com/gophercloud/utils/openstack/clientconfig/requests.go
  vendor/github.com/gophercloud/utils/openstack/clientconfig/results.go
  vendor/github.com/hashicorp/go-uuid/.travis.yml
  vendor/github.com/hashicorp/go-uuid/BUILD.bazel
  vendor/github.com/hashicorp/go-uuid/LICENSE
  vendor/github.com/hashicorp/go-uuid/README.md
  vendor/github.com/hashicorp/go-uuid/uuid.go
  vendor/modules.txt
Owners: @ahadas, @bennyz, @mmartinv

openstack: make less connections to openstack
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/container/openstack/collector.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: allow to configure the endpoint interface
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: make sure the TLS configuration is applied.
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: rename function
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: support unversioned authentication types
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: configure TLS for https only
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: support unversioned authentication types
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: allow to configure the endpoint interface
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: make sure the TLS configuration is applied.
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: make less connections to openstack
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/container/openstack/collector.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: make less connections to openstack
  pkg/controller/provider/container/openstack/client.go
  pkg/controller/provider/container/openstack/collector.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: rename function
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: configure TLS for https only
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: configure TLS for https only
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv

openstack: support unversioned authentication types
  pkg/controller/provider/container/openstack/client.go
Owners: @ahadas, @bennyz, @mmartinv
