Repository kubev2v/forklift, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ahadas, @mnecas, @nyoxi, @bennyz, @mmartinv, @eslutsky, @liranr23

.github/CODEOWNERS:

* @ahadas
operator/ @mnecas
virt-v2v/ @nyoxi
**/*openstack* @ahadas @bennyz @mmartinv
tests/ @ahadas @eslutsky @liranr23

Fix the build of virt-v2v images
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/WORKSPACE
Owners: @nyoxi

Drop containerd repositories
  WORKSPACE
Owners: @ahadas

Drop containerd repositories
  WORKSPACE
Owners: @ahadas

Drop containerd repositories
  WORKSPACE
Owners: @ahadas

Clean up PVCs when canceling populator flows
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

fix error handling in DeletePVCs
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

cleanup Migration's Cancel and Archive functions
  pkg/controller/plan/migration.go
Owners: @ahadas

Refactor KubeVirt#DeletePVCs
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Reduce cognitive complexity in Migration#Cancel
  pkg/controller/plan/migration.go
Owners: @ahadas

Introduce post-vendor.sh
  Makefile
  hack/post-vendor.sh
  vendor/github.com/nxadm/tail/Dockerfile
  vendor/github.com/pelletier/go-toml/v2/Dockerfile
Owners: @ahadas

Clean up as much as possible on migration archive/cancel
  pkg/controller/plan/migration.go
Owners: @ahadas

Clean up PVCs when canceling populator flows
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Clean up PVCs when canceling populator flows
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

fix error handling in DeletePVCs
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Refactor KubeVirt#DeletePVCs
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

Introduce post-vendor.sh
  Makefile
  hack/post-vendor.sh
  vendor/github.com/nxadm/tail/Dockerfile
  vendor/github.com/pelletier/go-toml/v2/Dockerfile
Owners: @ahadas

Clean up as much as possible on migration archive/cancel
  pkg/controller/plan/migration.go
Owners: @ahadas

Refactor KubeVirt#DeletePVCs
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

fix error handling in DeletePVCs
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

cleanup Migration's Cancel and Archive functions
  pkg/controller/plan/migration.go
Owners: @ahadas

cleanup Migration's Cancel and Archive functions
  pkg/controller/plan/migration.go
Owners: @ahadas

Clean up as much as possible on migration archive/cancel
  pkg/controller/plan/migration.go
Owners: @ahadas

Reduce cognitive complexity in Migration#Cancel
  pkg/controller/plan/migration.go
Owners: @ahadas

Introduce post-vendor.sh
  Makefile
  hack/post-vendor.sh
  vendor/github.com/nxadm/tail/Dockerfile
  vendor/github.com/pelletier/go-toml/v2/Dockerfile
Owners: @ahadas

Reduce cognitive complexity in Migration#Cancel
  pkg/controller/plan/migration.go
Owners: @ahadas

Fix creation of ova provider in restricted namespaces.
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Fix creation of ova provider in restricted namespaces.
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Fix creation of ova provider in restricted namespaces.
  pkg/controller/provider/ova-setup.go
Owners: @ahadas

Bump OPA for CVE-2023-45142
  WORKSPACE
Owners: @ahadas

Bump OPA for CVE-2023-45142
  WORKSPACE
Owners: @ahadas

Bump OPA for CVE-2023-45142
  WORKSPACE
Owners: @ahadas

fix #437: Post VMs with desired 'Running' state
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

fix OCP client's PowerOn
  pkg/controller/plan/adapter/ocp/client.go
Owners: @ahadas

fix #437: Post VMs with desired 'Running' state
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

fix #437: Post VMs with desired 'Running' state
  pkg/controller/plan/kubevirt.go
  pkg/controller/plan/migration.go
Owners: @ahadas

fix OCP client's PowerOn
  pkg/controller/plan/adapter/ocp/client.go
Owners: @ahadas

fix OCP client's PowerOn
  pkg/controller/plan/adapter/ocp/client.go
Owners: @ahadas

Require KVM for OVA conversion pod
  pkg/controller/plan/kubevirt.go
Owners: @ahadas

Upgrade virt-v2v and ovirt-imageio dependencies
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @ahadas, @nyoxi

Upgrade virt-v2v and ovirt-imageio dependencies
  WORKSPACE
  cmd/ovirt-populator/BUILD.bazel
  virt-v2v/cold/BUILD.bazel
  virt-v2v/cold/WORKSPACE
  virt-v2v/warm/BUILD.bazel
  virt-v2v/warm/WORKSPACE
Owners: @ahadas, @nyoxi
